In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from my_functions import combokey_converter

%matplotlib inline
sns.set_style('whitegrid')
plt.rc('axes', titlesize = 14, titleweight = 'bold', labelweight = 'bold')

In [2]:
raw = pd.read_csv('../filtered_data/00_crdc_1516_initial.csv', 
                        dtype = {'LEAID':np.object})

In [3]:
filtered = pd.read_csv('../filtered_data/04_filter_final.csv', dtype = {'LEAID':np.object})

In [4]:
raw['COMBOKEY'] = combokey_converter.convert(raw, 'LEAID', 'SCHID')

In [5]:
filtered_combo = filtered[['COMBOKEY','LAT1516']]

In [6]:
filtered_raw_joined = pd.merge(raw, filtered_combo, on = 'COMBOKEY', how = 'left')
filtered_from_raw = filtered_raw_joined.copy()
filtered_from_raw = filtered_from_raw[filtered_from_raw.LAT1516.isnull()]

In [7]:
len(filtered_from_raw)

77693

In [8]:
filtered_from_raw.columns.values

array(['LEA_STATE', 'LEA_STATE_NAME', 'LEAID', 'LEA_NAME', 'SCHID',
       'SCH_NAME', 'COMBOKEY', 'JJ', 'SCH_GRADE_PS', 'SCH_GRADE_KG',
       'SCH_GRADE_G01', 'SCH_GRADE_G02', 'SCH_GRADE_G03', 'SCH_GRADE_G04',
       'SCH_GRADE_G05', 'SCH_GRADE_G06', 'SCH_GRADE_G07', 'SCH_GRADE_G08',
       'SCH_GRADE_G09', 'SCH_GRADE_G10', 'SCH_GRADE_G11', 'SCH_GRADE_G12',
       'SCH_GRADE_UG', 'SCH_UGDETAIL_HS', 'SCH_STATUS_SPED',
       'SCH_STATUS_MAGNET', 'SCH_STATUS_CHARTER', 'SCH_STATUS_ALT',
       'SCH_ENR_HI_M', 'SCH_ENR_HI_F', 'SCH_ENR_AM_M', 'SCH_ENR_AM_F',
       'SCH_ENR_AS_M', 'SCH_ENR_AS_F', 'SCH_ENR_HP_M', 'SCH_ENR_HP_F',
       'SCH_ENR_BL_M', 'SCH_ENR_BL_F', 'SCH_ENR_WH_M', 'SCH_ENR_WH_F',
       'SCH_ENR_TR_M', 'SCH_ENR_TR_F', 'TOT_ENR_M', 'TOT_ENR_F',
       'SCH_ENR_LEP_M', 'SCH_ENR_LEP_F', 'SCH_ENR_IDEA_M',
       'SCH_ENR_IDEA_F', 'SCH_DUAL_IND', 'SCH_DUALENR_HI_M',
       'SCH_DUALENR_HI_F', 'SCH_DUALENR_AM_M', 'SCH_DUALENR_AM_F',
       'SCH_DUALENR_AS_M', 'SCH_DUALENR_AS_F', 'SCH_DUALENR_HP_M',
       'SCH_DUALENR_HP_F', 'SCH_DUALENR_BL_M', 'SCH_DUALENR_BL_F',
       'SCH_DUALENR_WH_M', 'SCH_DUALENR_WH_F', 'SCH_DUALENR_TR_M',
       'SCH_DUALENR_TR_F', 'TOT_DUALENR_M', 'TOT_DUALENR_F',
       'SCH_DUALENR_LEP_M', 'SCH_DUALENR_LEP_F', 'SCH_DUALENR_IDEA_M',
       'SCH_DUALENR_IDEA_F', 'SCH_APENR_IND', 'SCH_APENR_HI_M',
       'SCH_APENR_HI_F', 'SCH_APENR_AM_M', 'SCH_APENR_AM_F',
       'SCH_APENR_AS_M', 'SCH_APENR_AS_F', 'SCH_APENR_HP_M',
       'SCH_APENR_HP_F', 'SCH_APENR_BL_M', 'SCH_APENR_BL_F',
       'SCH_APENR_WH_M', 'SCH_APENR_WH_F', 'SCH_APENR_TR_M',
       'SCH_APENR_TR_F', 'TOT_APENR_M', 'TOT_APENR_F', 'SCH_APENR_LEP_M',
       'SCH_APENR_LEP_F', 'SCH_APENR_IDEA_M', 'SCH_APENR_IDEA_F',
       'SCH_IBENR_IND', 'SCH_IBENR_HI_M', 'SCH_IBENR_HI_F',
       'SCH_IBENR_AM_M', 'SCH_IBENR_AM_F', 'SCH_IBENR_AS_M',
       'SCH_IBENR_AS_F', 'SCH_IBENR_HP_M', 'SCH_IBENR_HP_F',
       'SCH_IBENR_BL_M', 'SCH_IBENR_BL_F', 'SCH_IBENR_WH_M',
       'SCH_IBENR_WH_F', 'SCH_IBENR_TR_M', 'SCH_IBENR_TR_F',
       'TOT_IBENR_M', 'TOT_IBENR_F', 'SCH_IBENR_LEP_M', 'SCH_IBENR_LEP_F',
       'SCH_IBENR_IDEA_M', 'SCH_IBENR_IDEA_F', 'LAT1516'], dtype=object)

# Analysis

In [9]:
def missing_value_mapper(value):
    """Converts any negative number into 0, as these negative numbers represent missing/null values"""
    if isinstance(value, int):
        if value < 0:
            return 0
    return value

filtered_from_raw = filtered_from_raw.applymap(missing_value_mapper)

In [10]:
filtered_from_raw['de_total_enrollment'] = filtered_from_raw['TOT_DUALENR_M'] + filtered_from_raw['TOT_DUALENR_F']

In [11]:
"""How many filtered schools?"""
len(filtered_from_raw)

77693

### DE

In [12]:
schools_with_de_students = filtered_from_raw.copy()
schools_with_de_students = schools_with_de_students[schools_with_de_students.de_total_enrollment > 0]

In [13]:
"""How many filtered schools have DE students?"""
len(schools_with_de_students)

959

** Fiiltered-Schools with DE students **

In [14]:
first_columns = ['SCH_NAME', 'de_total_enrollment']
reorder = first_columns + [c for c in schools_with_de_students.columns if c not in first_columns]
schools_with_de_students = schools_with_de_students[reorder].sort_values('de_total_enrollment', ascending = False)
schools_with_de_students

,SCH_NAME,de_total_enrollment,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,COMBOKEY,JJ,SCH_GRADE_PS,...,SCH_IBENR_WH_F,SCH_IBENR_TR_M,SCH_IBENR_TR_F,TOT_IBENR_M,TOT_IBENR_F,SCH_IBENR_LEP_M,SCH_IBENR_LEP_F,SCH_IBENR_IDEA_M,SCH_IBENR_IDEA_F,LAT1516
7124,John F. Kennedy High,540,CA,CALIFORNIA,609850,Corona-Norco Unified,11712,='060985011712',No,No,...,0,0,0,0,0,0,0,0,0,NaN
31796,Lowell Senior High School,520,IN,INDIANA,1811460,Tri-Creek School Corporation,1852,='181146001852',No,No,...,0,0,0,0,0,0,0,0,0,NaN
31956,Ben Davis Ninth Grade Center,496,IN,INDIANA,1812810,M S D Wayne Township,2122,='181281002122',No,No,...,0,0,0,0,0,0,0,0,0,NaN
95215,Oak Creek High,443,WI,WISCONSIN,5510830,Oak Creek-Franklin Joint School District,1411,='551083001411',No,No,...,0,0,0,0,0,0,0,0,0,NaN
91731,Tesla STEM High School,395,WA,WASHINGTON,5304230,Lake Washington School District,3432,='530423003432',No,No,...,0,0,0,0,0,0,0,0,0,NaN
3023,Lake Havasu High School,376,AZ,ARIZONA,404280,Lake Havasu Unified School District #1,433,='040428000433',No,No,...,0,0,0,0,0,0,0,0,0,NaN
56749,Arrowhead Park Early College High School,350,NM,NEW MEXICO,3501500,LAS CRUCES PUBLIC SCHOOLS,99999,='350150099999',No,No,...,0,0,0,0,0,0,0,0,0,NaN
88812,MAGGIE L. WALKER GOV. SCH.,328,VA,VIRGINIA,5100061,MAGGIE L. WALKER GOV SCH,2561,='510006102561',No,No,...,0,0,0,0,0,0,0,0,0,NaN
9809,Sherman Oaks Center for Enriched Studies,321,CA,CALIFORNIA,622710,Los Angeles Unified,9151,='062271009151',No,No,...,0,0,0,0,0,0,0,0,0,NaN
92249,Stahl Junior High,298,WA,WASHINGTON,5306960,Puyallup School District,1178,='530696001178',No,No,...,0,0,0,0,0,0,0,0,0,NaN
84752,MERCEDES EARLY COLLEGE ACADEMY,293,TX,TEXAS,4830250,MERCEDES ISD,12441,='483025012441',No,No,...,0,0,0,0,0,0,0,0,0,NaN
81154,COLLEGIATE H S,289,TX,TEXAS,4815270,CORPUS CHRISTI ISD,11318,='481527011318',No,No,...,0,0,0,0,0,0,0,0,0,NaN
91292,Edmonds Career Access Program,276,WA,WASHINGTON,5302400,Edmonds School District,3490,='530240003490',No,No,...,0,0,0,0,0,0,0,0,0,NaN
13803,El Camino High,272,CA,CALIFORNIA,640980,Ventura Unified,1880,='064098001880',No,No,...,0,0,0,0,0,0,0,0,0,NaN
80516,BROWNSVILLE EARLY COLLEGE H S,256,TX,TEXAS,4811680,BROWNSVILLE ISD,12172,='481168012172',No,No,...,0,0,0,0,0,0,0,0,0,NaN
25686,RIGBY HIGH SCHOOL,236,ID,IDAHO,1601570,JEFFERSON COUNTY JT DISTRICT,277,='160157000277',No,No,...,0,0,0,0,0,0,0,0,0,NaN
3978,RIVERCREST HIGH SCHOOL,233,AR,ARKANSAS,500045,RIVERCREST SCHOOL DISTRICT #57,1204,='050004501204',Yes,No,...,0,0,0,0,0,0,0,0,0,NaN
27356,Youth Connections Charter HS,231,IL,ILLINOIS,1709930,City of Chicago SD 299,3473,='170993003473',No,No,...,0,0,0,0,0,0,0,0,0,NaN
56359,EAST MTN HIGH SCHOOL,224,NM,NEW MEXICO,3500132,EAST MTN HIGH SCHOOL,808,='350013200808',No,No,...,0,0,0,0,0,0,0,0,0,NaN
79972,ARLINGTON COLLEGIATE H S,223,TX,TEXAS,4808700,ARLINGTON ISD,13043,='480870013043',No,No,...,0,0,0,0,0,0,0,0,0,NaN
12244,Middle College High,216,CA,CALIFORNIA,634170,San Bernardino City Unified,10366,='063417010366',No,No,...,0,0,0,0,0,0,0,0,0,NaN
90104,PITTSYLVANIA VOC.-TECH. CTR.,202,VA,VIRGINIA,5102940,PITTSYLVANIA CO PBLC SCHS,1856,='510294001856',No,No,...,0,0,0,0,0,0,0,0,0,NaN
22227,PINE VIEW SCHOOL,201,FL,FLORIDA,1201680,SARASOTA,1836,='120168001836',No,No,...,0,0,0,0,0,0,0,0,0,NaN
15200,TCA COLLEGE PATHWAYS,201,CO,COLORADO,801920,Academy School District 20,6447,='080192006447',No,No,...,0,0,0,0,0,0,0,0,0,NaN
92233,Ballou Jr High,198,WA,WASHINGTON,5306960,Puyallup School District,1026,='530696001026',No,No,...,0,0,0,0,0,0,0,0,0,NaN
91527,Big Picture School,192,WA,WASHINGTON,5303540,Highline School District,2976,='530354002976',No,No,...,0,0,0,0,0,0,0,0,0,NaN
22807,Georgia Cyber Academy,185,GA,GEORGIA,1300232,State Charter Schools- Georgia Cyber Academy,4148,='130023204148',No,No,...,0,0,0,0,0,0,0,0,0,NaN
92158,New Horizons High School,183,WA,WASHINGTON,5306570,Pasco School District,968,='530657000968',No,No,...,0,0,0,0,0,0,0,0,0,NaN
56999,Digital Arts and Technology Academy Charter Sc...,182,NM,NEW MEXICO,3599043,Digital Arts and Technology Academy Charter Sc...,99999,='359904399999',No,No,...,0,0,0,0,0,0,0,0,0,NaN
18250,Early College High School at Delaware State Un...,182,DE,DELAWARE,1000055,Early College High School at Delaware State Un...,363,='100005500363',No,No,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36461,Community Ombudsman,2,LA,LOUISIANA,2200300,Caddo Parish,2333,='220030002333',No,No,...,0,0,0,0,0,0,0,0,0,NaN
15580,ACHIEVE ONLINE,2,CO,COLORADO,803060,Colorado Springs School District No. 11 in the...,6428,='080306006428',No,No,...,0,0,0,0,0,0,0,0,0,NaN
36892,Virtual Academy of Lafourche,2,LA,LOUISIANA,2200900,Lafourche Parish,2339,='220090002339',No,No,...,0,0,0,0,0,0,0,0,0,NaN
78914,DR M L GARZA-GONZALEZ CHARTER SCHOOL,2,TX,TEXAS,4800025,DR M L GARZA-GONZALEZ CHARTER SCHOOL,7411,='480002507411',No,No,...,0,0,0,0,0,0,0,0,0,NaN
39105,Regional Institute for Children & Adolescents,2,MD,MARYLAND,2400480,Montgomery County Public Schools,1398,='240048001398',No,No,...,0,0,0,0,0,0,0,0,0,NaN
20321,HERNANDO ESCHOOL VIRTUAL FRANCHISE,2,FL,FLORIDA,1200810,HERNANDO,7842,='120081007842',No,No,...,0,0,0,0,0,0,0,0,0,NaN
78741,Washington County Virtual School,2,TN,TENNESSEE,4704380,Washington County Department of Education,2403,='470438002403',No,No,...,0,0,0,0,0,0,0,0,0,NaN
78376,MNPS Virtual School,2,TN,TENNESSEE,4703180,Davidson County,99987,='470318099987',No,No,...,0,0,0,0,0,0,0,0,0,NaN
44483,Tecumseh Virtual Academy,2,MI,MICHIGAN,2633720,Tecumseh Public Schools,8469,='263372008469',No,No,...,0,0,0,0,0,0,0,0,0,NaN
44442,Suttons Bay Virtual School,2,MI,MICHIGAN,2633360,Suttons Bay Public Schools,8250,='263336008250',No,No,...,0,0,0,0,0,0,0,0,0,NaN
77885,Richard Yoakley School,2,TN,TENNESSEE,4702220,Knox County,314,='470222000314',No,No,...,0,0,0,0,0,0,0,0,0,NaN
15375,BRANSON SCHOOL ONLINE,2,CO,COLORADO,802520,Branson Reorganized School District No. 82,1728,='080252001728',No,No,...,0,0,0,0,0,0,0,0,0,NaN
79104,PASO DEL NORTE ACADEMY-MESA CHARTER H S,2,TX,TEXAS,4800106,PASO DEL NORTE ACADEMY CHARTER DISTRICT,8207,='480010608207',No,No,...,0,0,0,0,0,0,0,0,0,NaN
56157,FOOTHILL HIGH SCHOOL,2,NM,NEW MEXICO,3500011,JUVENILE JUSTICE,985,='350001100985',Yes,No,...,0,0,0,0,0,0,0,0,0,NaN
10277,California Virtual Academy @ Sutter,2,CA,CALIFORNIA,624690,Meridian Elementary,13698,='062469013698',No,No,...,0,0,0,0,0,0,0,0,0,NaN
36014,Franklin-Simpson High School West Campus,2,KY,KENTUCKY,2105400,Simpson County,1652,='210540001652',No,No,...,0,0,0,0,0,0,0,0,0,NaN
35932,Powell County Academy,2,KY,KENTUCKY,2104890,Powell County,2360,='210489002360',No,No,...,0,0,0,0,0,0,0,0,0,NaN
79213,WINFREE ACADEMY CHARTER SCHOOL (RICHARDSON),2,TX,TEXAS,4800202,WINFREE ACADEMY CHARTER SCHOOLS,8505,='480020208505',No,No,...,0,0,0,0,0,0,0,0,0,NaN
79233,PREMIER H S OF ABILENE,2,TX,TEXAS,4800207,PREMIER HIGH SCHOOLS,8378,='480020708378',No,No,...,0,0,0,0,0,0,0,0,0,NaN
79236,PREMIER H S OF DUBLIN/COMANCHE/EARLY,2,TX,TEXAS,4800207,PREMIER HIGH SCHOOLS,8780,='480020708780',No,No,...,0,0,0,0,0,0,0,0,0,NaN
35788,Falcon Academy,2,KY,KENTUCKY,2104200,Monroe County,2365,='210420002365',No,No,...,0,0,0,0,0,0,0,0,0,NaN
44571,Shelby Junior High School,2,MI,MICHIGAN,2634470,Utica Community Schools,7001,='263447007001',No,No,...,0,0,0,0,0,0,0,0,0,NaN
35514,Jefferson County High School,2,KY,KENTUCKY,2102990,Jefferson County,1947,='210299001947',No,No,...,0,0,0,0,0,0,0,0,0,NaN
79240,PREMIER H S OF NORTH AUSTIN,2,TX,TEXAS,4800207,PREMIER HIGH SCHOOLS,12092,='480020712092',No,No,...,0,0,0,0,0,0,0,0,0,NaN
79244,PREMIER H S OF RICHARDSON,2,TX,TEXAS,4800207,PREMIER HIGH SCHOOLS,12402,='480020712402',No,No,...,0,0,0,0,0,0,0,0,0,NaN
53978,Cape Educational COMPACT,2,NJ,NEW JERSEY,3402740,Cape May County Special Services School District,99998,='340274099998',No,No,...,0,0,0,0,0,0,0,0,0,NaN
79249,PREMIER H S OF AMARILLO,2,TX,TEXAS,4800207,PREMIER HIGH SCHOOLS,12986,='480020712986',No,No,...,0,0,0,0,0,0,0,0,0,NaN
20113,DUVAL VIRTUAL ACADEMY FRANCHISE,2,FL,FLORIDA,1200480,DUVAL,7860,='120048007860',No,No,...,0,0,0,0,0,0,0,0,0,NaN
79270,HARMONY SCIENCE ACADEMY - HOUSTON,2,TX,TEXAS,4800210,HARMONY SCIENCE ACADEMY,12560,='480021012560',No,No,...,0,0,0,0,0,0,0,0,0,NaN
19386,IMMOKALEE TEEN PARENTING PROG,2,FL,FLORIDA,1200330,COLLIER,2804,='120033002804',No,Yes,...,0,0,0,0,0,0,0,0,0,NaN

**Total DE Students**

In [42]:
"""Total DE Students"""
total_filtered_out_de_students = schools_with_de_students.de_total_enrollment.sum()
print(str(total_filtered_out_de_students), 'Total DE Students Filtered Out')

28384 Total DE Students Filtered Out

**Juvenile Justice**

In [16]:
"""Juvenile Justice Schools - How many schools and DE students?"""
jj_de_students = schools_with_de_students[schools_with_de_students['JJ'] == 'Yes'].de_total_enrollment.sum()
print(schools_with_de_students.JJ.value_counts())
print()
print(str(jj_de_students), "DE students.")

No     944
Yes     15
Name: JJ, dtype: int64

388 DE students.

**Alternative**

In [44]:
"""Alternative Schools - How many schools and DE students?"""
alt_de_students_crdc = schools_with_de_students[schools_with_de_students.SCH_STATUS_ALT == 'Yes'].de_total_enrollment.sum()
print(schools_with_de_students.SCH_STATUS_ALT.value_counts())
print()
print(str(alt_de_students_crdc), "DE students.")

No     606
Yes    353
Name: SCH_STATUS_ALT, dtype: int64

7555 DE students.

**Special Education**

In [46]:
"""Special Education - How many schools and DE students?"""
sped_de_students_crdc = schools_with_de_students[schools_with_de_students.SCH_STATUS_SPED == 'Yes'].de_total_enrollment.sum()
print(schools_with_de_students.SCH_STATUS_SPED.value_counts())
print()
print(str(sped_de_students_crdc), "DE students.")

No     876
Yes     83
Name: SCH_STATUS_SPED, dtype: int64

2903 DE students.

**Grade Ranges**

In [19]:
def school_grade_range(df):
    """Calculates the number of schools in a given DataFrame (df) of a particular distribution of grades:
        Example:  If a school (in df) offers grades 9,10,11,12 exclusively, they are placed in the '9-12' 
                    category. """
    df_grade_range = []
    for index, row in df.iterrows():
        grade_range = []

        if row.SCH_GRADE_G12 == 'Yes':
            grade_range.append(12)
        if row.SCH_GRADE_G11 == 'Yes':
            grade_range.append(11)
        if row.SCH_GRADE_G10 == 'Yes':
            grade_range.append(10)
        if row.SCH_GRADE_G09 == 'Yes':
            grade_range.append(9)
        if row.SCH_GRADE_G08 == 'Yes':
            grade_range.append(8)
        if row.SCH_GRADE_G07 == 'Yes':
            grade_range.append(7)
        if row.SCH_GRADE_G06 == 'Yes':
            grade_range.append(6)
        if row.SCH_GRADE_G05 == 'Yes':
            grade_range.append(5)
        if row.SCH_GRADE_G04 == 'Yes':
            grade_range.append(4)
        if row.SCH_GRADE_G03 == 'Yes':
            grade_range.append(3)
        if row.SCH_GRADE_G02 == 'Yes':
            grade_range.append(2)
        if row.SCH_GRADE_G01 == 'Yes':
            grade_range.append(1)
        if row.SCH_GRADE_KG == 'Yes':
            grade_range.append('kg')
        if row.SCH_GRADE_PS == 'Yes':
            grade_range.append('pk')
        
        if grade_range == [12,11,10,9,8,7,6,5,4,3,2,1,'kg','pk']:
            df_grade_range.append('pk-12')
        elif grade_range == [12,11,10,9,8,7,6,5,4,3,2,1,'kg']:
            df_grade_range.append('kg-12')
        elif grade_range == [12,11,10,9,8,7,6,5]:
            df_grade_range.append('05-12')
        elif grade_range == [12,11,10,9,8,7,6]:
            df_grade_range.append('06-12')
        elif grade_range == [12,11,10,9,8,7]:
            df_grade_range.append('07-12')
        elif grade_range == [12,11,10,9,8]:
            df_grade_range.append('08-12')
        elif grade_range == [12,11,10,9]:
            df_grade_range.append('09-12')
        elif grade_range == [11,10,9]:
            df_grade_range.append('09-11')
        elif grade_range == [10,9]:
            df_grade_range.append('09-10')
        elif grade_range == [12,11,10]:
            df_grade_range.append('10-12')
        elif grade_range == [12,11]:
            df_grade_range.append('11-12')
        elif grade_range == [9]:
            df_grade_range.append('9-only')
        elif grade_range == [10]:
            df_grade_range.append('10-only')
        elif grade_range == [11]:
            df_grade_range.append('11-only')
        elif grade_range == [12]:
            df_grade_range.append('12-only')
        else:
            df_grade_range.append('other')
    return pd.DataFrame(df_grade_range, columns=['grade_range'])

In [20]:
de_stud_school_grade_range_list = school_grade_range(schools_with_de_students).join(schools_with_de_students['de_total_enrollment'].reset_index(drop = True), how = 'outer')

de_stud_school_grade_range_dist = de_stud_school_grade_range_list['grade_range'].value_counts().reset_index().sort_values('index').set_index('index')
de_stud_school_grade_range_dist['pct_of_schools'] = round(de_stud_school_grade_range_dist['grade_range'] / len(de_stud_school_grade_range_list), 3)

de_stud_school_grade_range_enrollments = pd.DataFrame(de_stud_school_grade_range_list.groupby('grade_range')['de_total_enrollment'].sum())

de_stud_school_grade_range_dist.join(de_stud_school_grade_range_enrollments).rename({'grade_range': '# schools'}, axis = 1)

         # schools  pct_of_schools  de_total_enrollment
index
05-12            7           0.007                  262
06-12           83           0.087                 1140
07-12           60           0.063                 1590
08-12           25           0.026                 1062
09-10           19           0.020                 1419
09-11            1           0.001                   44
09-12          393           0.410                13322
10-12           52           0.054                 1249
11-12           22           0.023                  869
12-only          7           0.007                   43
9-only          16           0.017                 1144
kg-12          121           0.126                 2517
other          115           0.120                 3316
pk-12           38           0.040                  407

## Get NCES information and join with schools_with_de_students

In [21]:
schools_with_de_students = schools_with_de_students.drop(['LAT1516'], axis = 1)

In [22]:
nces_1516_full = pd.read_csv('../filtered_data/01_nces_1516_initial_combined_ccd.csv')

/Users/alijahoconnor/Box Sync/OCR/Data_and_Analysis/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
schools_with_de_students_nces = pd.merge(schools_with_de_students, nces_1516_full, left_on = 'COMBOKEY', right_on = 'combokey', how = 'left', suffixes = ('', '_nces'))

In [24]:
non_matching_schools_with_de = schools_with_de_students_nces[schools_with_de_students_nces.LEVEL.isnull()]
match_schools_with_de = schools_with_de_students_nces[schools_with_de_students_nces.LEVEL.notnull()]

**Recover some of the non-nces-matching schools**

In [25]:
"""Passing in my recovered_schools from 00_initial_filter"""
%store -r recovered_schools_all

In [26]:
recovered_schools_all = recovered_schools_all.reset_index()
nces_columns = ['COMBOKEY', 'SCH_TYPE', 'LEVEL', 'VIRTUAL', 'GSLO', 'GSHI',
       'NMCNTY15', 'LOCALE15', 'LAT1516', 'LON1516']
recovered_schools_all_nces = recovered_schools_all[nces_columns]

In [27]:
non_matching_schools_with_de = non_matching_schools_with_de.drop(['SCH_TYPE', 'LEVEL', 'VIRTUAL', 'GSLO', 'GSHI',
       'NMCNTY15', 'LOCALE15', 'LAT1516', 'LON1516'],axis = 1)

In [28]:
recovered_non_matchings = pd.merge(non_matching_schools_with_de, recovered_schools_all_nces, on='COMBOKEY')

In [29]:
print(recovered_non_matchings.de_total_enrollment.sum(), "DE students Recovered.")

121 DE students Recovered.

In [30]:
match_schools_with_de = match_schools_with_de.append(recovered_non_matchings)

In [31]:
de_students_in_NCES_matching_schools =  match_schools_with_de.de_total_enrollment.sum()
de_students_in_NCES_non_matching_schools = non_matching_schools_with_de.de_total_enrollment.sum() -\
                                           recovered_non_matchings.de_total_enrollment.sum()
print(de_students_in_NCES_matching_schools)
print(de_students_in_NCES_non_matching_schools)

25931
2453

In [32]:
print(format(match_schools_with_de.de_total_enrollment.sum(), ",d"), "out of", format(schools_with_de_students.de_total_enrollment.sum(),',d'), 
     "DE Students Accounted for.")

25,931 out of 28,384 DE Students Accounted for.

**Filtered Schools that match with NCES**

**LEVEL**<br>
1 = Primary (low grade = PK through 03; high grade = PK through 08), 2 = Middle (low grade = 04 through 07; high grade = 04 through 09), 3 = High (low grade = 07 through 12; high grade = 12 only), 4 = Other (any other configuration not falling within the above three categories;including ungraded), N = Not applicable

In [33]:
"""How many schools and de students in each LEVEL of school"""
print(match_schools_with_de.LEVEL.value_counts().reset_index().sort_values('index').set_index('index'))
print()
print(str(match_schools_with_de.groupby('LEVEL').de_total_enrollment.sum()), 'DE students.')

       LEVEL
index
1         22
2         22
3        466
4        338
N         25

LEVEL
1      291
2     1601
3    15214
4     7796
N     1029
Name: de_total_enrollment, dtype: int64 DE students.

In [34]:
"""Looking just at the level_4 schools, where are most of the students?  Notice, the grade_range (index) comes
    from CRDC grades -- Several inconsistencies"""
"""Basically these are the schools there are filtered out due to being LEVEL=4, regardless of their CRDC grade range"""
level_4_schools = match_schools_with_de[match_schools_with_de.LEVEL == '4'].reset_index(drop=True)

de_stud_school_grade_range_list = school_grade_range(level_4_schools).join(level_4_schools['de_total_enrollment'].reset_index(drop = True), how = 'outer')

de_stud_school_grade_range_dist = de_stud_school_grade_range_list['grade_range'].value_counts().reset_index().sort_values('index').set_index('index')
de_stud_school_grade_range_dist['pct_of_schools'] = round(de_stud_school_grade_range_dist['grade_range'] / len(de_stud_school_grade_range_list), 3)

de_stud_school_grade_range_enrollments = pd.DataFrame(de_stud_school_grade_range_list.groupby('grade_range')['de_total_enrollment'].sum())

de_stud_school_grade_range_dist.join(de_stud_school_grade_range_enrollments).rename({'grade_range': '# schools'}, axis = 1)

        # schools  pct_of_schools  de_total_enrollment
index
05-12           6           0.018                  260
06-12          67           0.198                  704
07-12          13           0.038                  172
08-12           6           0.018                  216
09-10          12           0.036                  931
09-11           1           0.003                   44
09-12          18           0.053                  299
10-12           2           0.006                    8
9-only         14           0.041                 1076
kg-12         107           0.317                 2289
other          78           0.231                 1636
pk-12          14           0.041                  161

In [35]:
"""Misreported 9-12 schools"""
level_4_school_with_grade_range = pd.concat([level_4_schools, de_stud_school_grade_range_list], axis=1,)
level_4_school_with_grade_range[level_4_school_with_grade_range.grade_range == '09-12']
with pd.option_context('display.max_columns',150):
    display(level_4_school_with_grade_range[level_4_school_with_grade_range.grade_range == 'other'].groupby('GSHI').GSHI.value_counts())

GSHI  GSHI
10    10      10
11    11       1
12    12      58
9     9        8
AE    AE       1
Name: GSHI, dtype: int64

**Virtual Schools**

In [48]:
virtual_de_students = match_schools_with_de[match_schools_with_de['VIRTUAL'] == 'Yes'].de_total_enrollment.sum()
print(match_schools_with_de.VIRTUAL.value_counts())
print()
print(match_schools_with_de.groupby('VIRTUAL').de_total_enrollment.sum())

No         544
Missing    181
Yes        148
Name: VIRTUAL, dtype: int64

VIRTUAL
Missing     7744
No         15386
Yes         2801
Name: de_total_enrollment, dtype: int64

**School Type**<br>
1 = Regular school, 2 = Special education school, 3 = Vocational school, 4 = Other/alternative school

In [51]:
sped_de_students_nces = match_schools_with_de[match_schools_with_de['SCH_TYPE'] == 2].de_total_enrollment.sum()
alt_de_students_nces = match_schools_with_de[match_schools_with_de['SCH_TYPE'] == 4].de_total_enrollment.sum()
print(match_schools_with_de.SCH_TYPE.value_counts())
print()
print(match_schools_with_de.groupby('SCH_TYPE').de_total_enrollment.sum())

4.0    464
1.0    350
2.0     49
3.0     10
Name: SCH_TYPE, dtype: int64

SCH_TYPE
1.0    13040
2.0     1167
3.0      498
4.0    11226
Name: de_total_enrollment, dtype: int64

**Students in Schools without offering 11th or 12th grade**

In [53]:
from my_functions.extra_functions import students_in_11_or_12
match_schools_with_de['Students_in_11_12'] = match_schools_with_de.apply(lambda row: students_in_11_or_12(row['SCH_GRADE_G11'], row['SCH_GRADE_G12']), axis = 1)

In [56]:
de_students_schools_without_11_12 = match_schools_with_de[match_schools_with_de.Students_in_11_12 == 'No']\
                                        .de_total_enrollment.sum()
match_schools_with_de.Students_in_11_12.value_counts()
print(str(de_students_schools_without_11_12), 'de students in schools that do not offer grades 11 or 12.')

4553 de students in schools that do not offer grades 11 or 12.

**Filtered schools with the most DE-students**

In [38]:
with pd.option_context('display.max_rows', 125):
    display(match_schools_with_de.sort_values('de_total_enrollment', ascending=False).head(125))

,SCH_NAME,de_total_enrollment,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,COMBOKEY,JJ,SCH_GRADE_PS,...,SCH_TYPE_TEXT,SCH_TYPE,LEVEL,VIRTUAL,GSLO,GSHI,NMCNTY15,LOCALE15,LAT1516,LON1516
0,John F. Kennedy High,540,CA,CALIFORNIA,609850,Corona-Norco Unified,11712,='060985011712',No,No,...,Alternative Education School,4,3,No,10,12,Riverside County,21,33.9173,-117.564
1,Lowell Senior High School,520,IN,INDIANA,1811460,Tri-Creek School Corporation,1852,='181146001852',No,No,...,Regular School,1,3,No,8,12,Lake County,31,41.2914,-87.3932
2,Ben Davis Ninth Grade Center,496,IN,INDIANA,1812810,M S D Wayne Township,2122,='181281002122',No,No,...,Regular School,1,4,No,9,9,Marion County,11,39.783,-86.2917
3,Oak Creek High,443,WI,WISCONSIN,5510830,Oak Creek-Franklin Joint School District,1411,='551083001411',No,No,...,Regular School,1,3,No,9,12,Milwaukee County,21,42.8867,-87.9085
4,Tesla STEM High School,395,WA,WASHINGTON,5304230,Lake Washington School District,3432,='530423003432',No,No,...,Alternative Education School,4,3,Missing,9,12,King County,21,47.6487,-122.038
5,Lake Havasu High School,376,AZ,ARIZONA,404280,Lake Havasu Unified School District #1,433,='040428000433',No,No,...,Regular School,1,3,No,9,12,Mohave County,13,34.4944,-114.318
7,MAGGIE L. WALKER GOV. SCH.,328,VA,VIRGINIA,5100061,MAGGIE L. WALKER GOV SCH,2561,='510006102561',No,No,...,Regular School,1,N,No,N,N,Richmond city,12,37.5579,-77.4536
8,Sherman Oaks Center for Enriched Studies,321,CA,CALIFORNIA,622710,Los Angeles Unified,9151,='062271009151',No,No,...,Alternative Education School,4,4,No,4,12,Los Angeles County,11,34.1849,-118.538
9,Stahl Junior High,298,WA,WASHINGTON,5306960,Puyallup School District,1178,='530696001178',No,No,...,Regular School,1,2,Missing,5,9,Pierce County,21,47.1022,-122.3
10,MERCEDES EARLY COLLEGE ACADEMY,293,TX,TEXAS,4830250,MERCEDES ISD,12441,='483025012441',No,No,...,Alternative Education School,4,3,Missing,9,12,Hidalgo County,21,26.1436,-97.9121
11,COLLEGIATE H S,289,TX,TEXAS,4815270,CORPUS CHRISTI ISD,11318,='481527011318',No,No,...,Alternative Education School,4,3,Missing,9,12,Nueces County,11,27.7641,-97.4072
12,Edmonds Career Access Program,276,WA,WASHINGTON,5302400,Edmonds School District,3490,='530240003490',No,No,...,Alternative Education School,4,3,Missing,9,12,Snohomish County,21,47.8168,-122.328
13,El Camino High,272,CA,CALIFORNIA,640980,Ventura Unified,1880,='064098001880',No,No,...,Alternative Education School,4,3,No,9,12,Ventura County,12,34.277,-119.227
14,BROWNSVILLE EARLY COLLEGE H S,256,TX,TEXAS,4811680,BROWNSVILLE ISD,12172,='481168012172',No,No,...,Regular School,1,3,Missing,9,12,Cameron County,12,25.9106,-97.5062
15,RIGBY HIGH SCHOOL,236,ID,IDAHO,1601570,JEFFERSON COUNTY JT DISTRICT,277,='160157000277',No,No,...,Regular School,1,3,No,9,12,Jefferson County,41,43.6672,-111.937
16,RIVERCREST HIGH SCHOOL,233,AR,ARKANSAS,500045,RIVERCREST SCHOOL DISTRICT #57,1204,='050004501204',Yes,No,...,Regular School,1,3,Missing,7,12,Mississippi County,42,35.6128,-90.1073
17,Youth Connections Charter HS,231,IL,ILLINOIS,1709930,City of Chicago SD 299,3473,='170993003473',No,No,...,Regular School,1,3,No,10,12,Cook County,11,41.8314,-87.6272
19,ARLINGTON COLLEGIATE H S,223,TX,TEXAS,4808700,ARLINGTON ISD,13043,='480870013043',No,No,...,Alternative Education School,4,4,Missing,9,10,Tarrant County,11,32.7098,-97.1245
20,Middle College High,216,CA,CALIFORNIA,634170,San Bernardino City Unified,10366,='063417010366',No,No,...,Alternative Education School,4,3,No,9,12,San Bernardino County,12,34.0904,-117.312
21,PITTSYLVANIA VOC.-TECH. CTR.,202,VA,VIRGINIA,5102940,PITTSYLVANIA CO PBLC SCHS,1856,='510294001856',No,No,...,Vocational Education School,3,N,No,N,N,Pittsylvania County,42,36.7642,-79.3891
22,PINE VIEW SCHOOL,201,FL,FLORIDA,1201680,SARASOTA,1836,='120168001836',No,No,...,Special Education School,2,4,No,2,12,Sarasota County,21,27.186,-82.4799
23,TCA COLLEGE PATHWAYS,201,CO,COLORADO,801920,Academy School District 20,6447,='080192006447',No,No,...,Regular School,1,3,Yes,7,12,El Paso County,41,38.9927,-104.791
24,Ballou Jr High,198,WA,WASHINGTON,5306960,Puyallup School District,1026,='530696001026',No,No,...,Regular School,1,2,Missing,7,9,Pierce County,21,47.1319,-122.297
25,Big Picture School,192,WA,WASHINGTON,5303540,Highline School District,2976,='530354002976',No,No,...,Alternative Education School,4,3,Missing,7,12,King County,21,47.4369,-122.328
26,Georgia Cyber Academy,185,GA,GEORGIA,1300232,State Charter Schools- Georgia Cyber Academy,4148,='130023204148',No,No,...,Regular School,1,4,No,KG,12,Clayton County,21,33.6129,-84.4067
27,New Horizons High School,183,WA,WASHINGTON,5306570,Pasco School District,968,='530657000968',No,No,...,Alternative Education School,4,4,Missing,6,12,Franklin County,22,46.2519,-119.128
29,Early College High School at Delaware State Un...,182,DE,DELAWARE,1000055,Early College High School at Delaware State Un...,363,='100005500363',No,No,...,Regular School,1,3,Missing,9,12,Kent County,13,39.1857,-75.5426
30,CENTRAL HIGH,179,NM,NEW MEXICO,3500390,CENTRAL CONSOLIDATED SCHOOLS,179,='350039000179',No,No,...,Regular School,1,3,No,9,12,San Juan County,31,36.7372,-108.371
31,SHARYLAND ADVANCED ACADEMIC ACADEMY,179,TX,TEXAS,4839930,SHARYLAND ISD,13048,='483993013048',No,No,...,Regular School,1,4,Missing,9,10,Hidalgo County,13,26.2109,-98.2838
32,Kalles Junior High,171,WA,WASHINGTON,5306960,Puyallup School District,1032,='530696001032',No,No,...,Regular School,1,2,Missing,7,9,Pierce County,21,47.1862,-122.288
33,Glacier View Junior High,168,WA,WASHINGTON,5306960,Puyallup School District,3260,='530696003260',No,No,...,Regular School,1,2,Missing,7,9,Pierce County,41,47.0871,-122.259
34,Valley Alternative Magnet,166,CA,CALIFORNIA,622710,Los Angeles Unified,3416,='062271003416',No,No,...,Alternative Education School,4,4,No,KG,12,Los Angeles County,11,34.1926,-118.502
35,Edgemont Jr High,163,WA,WASHINGTON,5306960,Puyallup School District,1024,='530696001024',No,No,...,Regular School,1,2,Missing,7,9,Pierce County,21,47.2363,-122.284
36,Niles Senior High School,163,MI,MICHIGAN,2625560,Niles Community Schools,6206,='262556006206',No,No,...,Regular School,1,3,No,8,12,Berrien County,13,41.8358,-86.2378
37,William & Marian Ghidotti High,162,CA,CALIFORNIA,626880,Nevada Joint Union High,11700,='062688011700',No,No,...,Alternative Education School,4,3,No,9,12,Nevada County,32,39.2357,-121.054
38,Academy of the Redwoods,161,CA,CALIFORNIA,614190,Fortuna Union High,10801,='061419010801',No,No,...,Alternative Education School,4,3,No,9,12,Humboldt County,41,40.6994,-124.199
39,CARLSBAD EARLY COLLEGE HIGH,157,NM,NEW MEXICO,3500300,CARLSBAD MUNICIPAL SCHOOLS,1109,='350030001109',No,No,...,Regular School,1,3,No,9,12,Eddy County,41,32.4417,-104.265
40,Hagerstown Jr-Sr High School,150,IN,INDIANA,1807380,Nettle Creek School Corp,1261,='180738001261',No,No,...,Regular School,1,3,No,7,12,Wayne County,42,39.9203,-85.1614
41,Satellite High School,148,WA,WASHINGTON,5303540,Highline School District,2968,='530354002968',No,No,...,Special Education School,2,4,Missing,PK,12,King County,21,47.4354,-122.325
42,Ferrucci Jr High,148,WA,WASHINGTON,5306960,Puyallup School District,1865,='530696001865',No,No,...,Regular School,1,2,Missing,7,9,Pierce County,21,47.1605,-122.271
43,Cardinal Heights Upper Middle,146,WI,WISCONSIN,5514640,Sun Prairie Area School District,2810,='551464002810',No,No,...,Regular School,1,4,No,8,9,Dane County,21,43.1785,-89.2192
44,Paris Cooperative High School,145,IL,ILLINOIS,1701397,Paris Cooperative High School,6061,='170139706061',No,No,...,Alternative Education School,4,3,No,9,12,Edgar County,32,39.6086,-87.6953
45,KILLEEN ISD EARLY COLLEGE H S,143,TX,TEXAS,4825660,KILLEEN ISD,13234,='482566013234',No,No,...,Regular School,1,4,Missing,9,9,Bell County,12,31.1134,-97.7619
46,POLK STATE LAKELAND GATEWAY TO COLLEGE CHARTER...,141,FL,FLORIDA,1201590,POLK,8246,='120159008246',No,No,...,Regular School,1,3,No,11,12,Polk County,41,27.9903,-81.8893
47,Johnston Middle School,137,IA,IOWA,1915450,Johnston Comm School District,926,='191545000926',No,No,...,Regular School,1,4,No,8,9,Polk County,41,41.675,-93.7019
48,Wyoming High School,136,MI,MICHIGAN,2636570,Wyoming Public Schools,7264,='263657007264',No,No,...,Regular School,1,3,No,9,12,Kent County,13,42.9094,-85.6992
49,New Start,134,WA,WASHINGTON,5303540,Highline School District,2967,='530354002967',No,No,...,Alternative Education School,4,3,Missing,9,12,King County,21,47.4959,-122.343
50,Virtual Learning Academy (H),134,NH,NEW HAMPSHIRE,3303271,Virtual Learning Academy Charter School,679,='330327100679',No,No,...,Regular School,1,3,Yes,9,12,Rockingham County,23,42.9751,-70.9569
51,CHOICE Academy,133,WA,WASHINGTON,5303540,Highline School District,2640,='530354002640',No,No,...,Alternative Education School,4,3,Missing,7,12,King County,21,47.438,-122.325
53,ELDON HIGH,128,MO,MISSOURI,2911340,ELDON R-I,402,='291134000402',No,No,...,Regular School,1,3,No,9,12,Miller County,32,38.3494,-92.5805
54,Aylen Jr High,126,WA,WASHINGTON,5306960,Puyallup School District,1022,='530696001022',No,No,...,Regular School,1,2,Missing,7,9,Pierce County,21,47.1922,-122.314
55,Columbia Junior High School,126,WA,WASHINGTON,5302880,Fife School District,3161,='530288003161',No,No,...,Regular School,1,2,Missing,6,9,Pierce County,21,47.231,-122.355
56,Gateway to College at Laney College,123,CA,CALIFORNIA,628050,Oakland Unified,12506,='062805012506',No,No,...,Alternative Education School,4,3,No,9,12,Alameda County,11,37.7961,-122.261
57,Newport Heights Elementary,122,WA,WASHINGTON,5300390,Bellevue School District,77,='530039000077',No,No,...,Regular School,1,1,Missing,KG,5,King County,12,47.5556,-122.181
58,Three Rivers High School,119,MI,MICHIGAN,2633840,Three Rivers Community Schools,6930,='263384006930',No,No,...,Special Education School,2,3,No,9,12,St. Joseph County,31,41.9495,-85.6156
59,Dekalb Early College Academy,119,GA,GEORGIA,1301740,DeKalb County,3708,='130174003708',No,No,...,Regular School,1,3,No,9,12,DeKalb County,21,33.8322,-84.1955
60,Marysville STEM Early College High School,117,OH,OHIO,3904547,Marysville Exempted Village,5841,='390454705841',No,No,...,Regular School,1,4,No,9,10,Union County,32,40.2473,-83.3726
61,GOAL ACADEMY,116,CO,COLORADO,803870,Falcon School District No. 49 in the county of...,6393,='080387006393',No,No,...,Alternative Education School,4,3,Yes,9,12,Pueblo County,12,38.2774,-104.608
62,Alliance High School,115,OR,OREGON,4110040,Portland SD 1J,1652,='411004001652',No,No,...,Alternative Education School,4,3,No,9,12,Multnomah County,11,45.5586,-122.622
63,Ohio Virtual Academy,115,OH,OHIO,3900180,Ohio Virtual Academy,4704,='390018004704',No,No,...,Regular School,1,4,Yes,KG,12,Lucas County,21,41.5871,-83.6846
64,Oregon Connections Academy,112,OR,OREGON,4108100,Santiam Canyon School District 129J,1680,='410810001680',No,No,...,Regular School,1,4,Yes,KG,12,Marion County,42,44.7585,-122.487
65,Kent Phoenix Academy,109,WA,WASHINGTON,5303960,Kent School District,3178,='530396003178',No,No,...,Alternative Education School,4,3,Missing,9,12,King County,12,47.3665,-122.194
66,Ohio Connections Academy Inc,109,OH,OHIO,3900250,Ohio Connections Academy,5193,='390025005193',No,No,...,Regular School,1,4,Yes,KG,12,Cuyahoga County,11,41.503,-81.66
67,IDAHO VIRTUAL ACADEMY,108,ID,IDAHO,1600004,IDAHO VIRTUAL ACADEMY,859,='160000400859',No,No,...,Regular School,1,4,No,PK,12,Ada County,21,43.5871,-116.356
68,EARLY COLLEGE HIGH SCHOOL,108,CO,COLORADO,803060,Colorado Springs School District No. 11 in the...,6580,='080306006580',No,No,...,Alternative Education School,4,3,No,9,12,El Paso County,11,38.8608,-104.782
71,ROCKY MOUNTAIN DIGITAL ACADEMY,107,CO,COLORADO,800282,COLORADO DIGITAL BOCES,6615,='080028206615',No,No,...,Regular School,1,3,Yes,8,12,Pueblo County,12,38.2774,-104.608
69,Alameda Science and Technology Institute,107,CA,CALIFORNIA,601770,Alameda Unified,10547,='060177010547',No,No,...,Alternative Education School,4,3,No,9,12,Alameda County,21,37.7799,-122.281
72,DEL RIO FRESHMAN SCHOOL,106,TX,TEXAS,4838900,SAN FELIPE-DEL RIO CISD,6037,='483890006037',No,No,...,Regular School,1,4,Missing,9,10,Val Verde County,33,29.3842,-100.916
73,COLORADO RIVER COLLEGIATE ACADEMY,105,TX,TEXAS,4809570,BASTROP ISD,13111,='480957013111',No,No,...,Regular School,1,4,Missing,9,10,Bastrop County,32,30.1185,-97.3154
74,Opportunity Middle College,102,KY,KENTUCKY,2101860,Fayette County Public Schools,2242,='210186002242',No,No,...,Alternative Education School,4,3,No,11,12,Fayette County,11,38.0361,-84.4854
75,HARLANDALE ISD STEM ECHS-ALAMO COLLEGES AT PAC,102,TX,TEXAS,4822470,HARLANDALE ISD,12943,='482247012943',No,No,...,Regular School,1,4,Missing,9,10,Bexar County,11,29.3496,-98.4873
77,Walker High School,100,WA,WASHINGTON,5306960,Puyallup School District,1023,='530696001023',No,No,...,Alternative Education School,4,3,Missing,8,12,Pierce County,21,47.2051,-122.282
78,New Technology High,100,CA,CALIFORNIA,626640,Napa Valley Unified,6081,='062664006081',No,No,...,Alternative Education School,4,3,No,9,12,Napa County,13,38.3049,-122.289
79,COAHOMA AGRICULTURAL HIGH SCHOOL,99,MS,MISSISSIPPI,2801100,COAHOMA CO AHS,137,='280110000137',No,No,...,Regular School,1,3,No,9,12,Coahoma County,41,34.2315,-90.571
80,P.R.E.P. (POSITIVE REFOCUS EDUCATION PROGRAM),98,CO,COLORADO,803360,School District No. 1 in the county of Denver ...,1795,='080336001795',No,No,...,Alternative Education School,4,4,No,6,12,Denver County,11,39.7564,-104.958
81,NINTH GRADE ACADEMY,95,NY,NEW YORK,3625170,RUSH-HENRIETTA CENTRAL SCHOOL DISTRICT,4377,='362517004377',No,No,...,Regular School,1,4,No,9,9,Monroe County,21,43.061,-77.5958
82,Carter County Career and Technical Center,94,KY,KENTUCKY,2101020,Carter County,1439,='210102001439',No,No,...,Vocational Education School,3,N,No,N,N,Carter County,42,38.3181,-83.1189
83,ODESSA CAREER AND TECHNICAL EARLY COLLEGE H S,93,TX,TEXAS,4818000,ECTOR COUNTY ISD,13176,='481800013176',No,No,...,Regular School,1,4,Missing,9,9,Ector County,12,31.8631,-102.405
84,Boynton High,87,CA,CALIFORNIA,607230,Campbell Union High,658,='060723000658',No,No,...,Alternative Education School,4,3,No,9,12,Santa Clara County,11,37.3104,-121.967
86,Alternative High School,85,WA,WASHINGTON,5301080,Central Kitsap School District,389,='530108000389',No,No,...,Alternative Education School,4,3,Missing,10,12,Kitsap County,13,47.6539,-122.703
85,Gull Lake Virtual School,85,MI,MICHIGAN,2617250,Gull Lake Community Schools,8242,='261725008242',No,No,...,Alternative Education School,4,4,No,KG,12,Kalamazoo County,41,42.376,-85.4014
88,Puget Sound High School,84,WA,WASHINGTON,5303540,Highline School District,3283,='530354003283',No,No,...,Alternative Education School,4,3,Missing,11,12,King County,21,47.4411,-122.323
87,Pennsylvania Cyber CS,84,PA,PENNSYLVANIA,4200071,Pennsylvania Cyber CS,534,='420007100534',No,No,...,Regular School,1,4,Yes,PK,12,Beaver County,31,40.6377,-80.4546
89,BENNETT MOUNTAIN HIGH SCHOOL,82,ID,IDAHO,1602250,MOUNTAIN HOME DISTRICT,1041,='160225001041',No,No,...,Alternative Education School,4,3,No,9,12,Elmore County,32,43.1332,-115.689
91,COEUR D'ALENE HIGH SCHOOL,80,ID,IDAHO,1600780,COEUR D'ALENE DISTRICT,149,='160078000149',No,No,...,Regular School,1,3,No,9,12,Kootenai County,13,47.721,-116.777
92,CHALLENGE H S SHEFFIELD,79,TX,TEXAS,4824330,IRAAN-SHEFFIELD ISD,7085,='482433007085',No,No,...,Alternative Education School,4,3,Missing,9,12,Pecos County,43,30.9093,-101.901
93,SHIPROCK HIGH,79,NM,NEW MEXICO,3500390,CENTRAL CONSOLIDATED SCHOOLS,186,='350039000186',No,No,...,Regular School,1,3,No,9,12,San Juan County,41,36.7749,-108.709
94,Insight School of Washington,78,WA,WASHINGTON,5307020,Quillayute Valley School District,3078,='530702003078',No,No,...,Alternative Education School,4,3,Missing,9,12,Clallam County,33,47.9472,-124.383
95,LIBERTY ACADEMY,78,TX,TEXAS,4844150,VICTORIA ISD,5579,='484415005579',No,No,...,Alternative Education School,4,3,Missing,9,12,Victoria County,13,28.8255,-96.973
96,Bergen County Technical High School - Paramus,78,NJ,NEW JERSEY,3401470,Bergen County Vocational Technical School Dist...,252,='340147000252',No,No,...,Special Education School,2,3,No,9,12,Bergen County,21,40.9579,-74.0589
97,Early College High School,78,NC,NORTH CAROLINA,3700012,Pitt County Schools,3359,='370001203359',No,No,...,Regular School,1,4,No,9,9,Pitt County,22,35.5487,-77.4073
99,Academic and Career Education Academy,76,MI,MICHIGAN,2600330,Academic and Career Education Academy,4509,='260033004509',No,No,...,Alternative Education School,4,3,No,9,12,Midland County,41,43.6118,-84.3352
100,UNIVERSITY HIGH,76,NM,NEW MEXICO,3502250,ROSWELL INDEPENDENT SCHOOLS,696,='350225000696',No,No,...,Alternative Education School,4,3,No,9,12,Chaves County,33,33.3161,-104.528
98,LAKEVIEW SECONDARY,76,MN,MINNESOTA,2700088,LAKEVIEW SCHOOL DISTRICT,408,='270008800408',No,No,...,Regular School,1,3,No,7,12,Lyon County,43,44.6218,-95.6677
101,CORINTH HIGH SCHOOL,74,MS,MISSISSIPPI,2801260,CORINTH SCHOOL DIST,171,='280126000171',No,No,...,Regular School,1,3,No,9,12,Alcorn County,33,34.9382,-88.4942
102,ARROWHEAD PARK MEDICAL ACADEMY,73,NM,NEW MEXICO,3501500,LAS CRUCES PUBLIC SCHOOLS,1105,='350150001105',No,No,...,Special Education School,2,4,No,9,10,DoÃ±a Ana County,22,32.2748,-106.739
103,Buckeye On-Line School for Success,73,OH,OHIO,3900530,Buckeye On-Line School for Success,5240,='390053005240',No,No,...,Regular School,1,4,Yes,KG,12,Columbiana County,31,40.6191,-80.5789
104,LAKE CITY HIGH SCHOOL,72,ID,IDAHO,1600780,COEUR D'ALENE DISTRICT,291,='160078000291',No,No,...,Regular School,1,3,No,9,12,Kootenai County,13,47.728,-116.81
105,EPIC ONE ON ONE CHARTER HS,72,OK,OKLAHOMA,4000777,EPIC ONE ON ONE CHARTER SCHOOL,2789,='400077702789',No,No,...,Regular School,1,3,Yes,9,12,Oklahoma County,11,35.5952,-97.5943
106,New Haven Academy,71,CT,CONNECTICUT,902790,NEW HAVEN SCHOOL DISTRICT,547,='090279000547',No,No,...,Special Education School,2,3,No,9,12,New Haven County,12,41.3128,-72.9155
107,Middle College High,70,TN,TENNESSEE,4703180,Davidson County,2101,='470318002101',No,No,...,Regular School,1,3,No,10,12,Davidson County,11,36.134,-86.8566
108,College Place High School,70,WA,WASHINGTON,5301470,College Place School District,3489,='530147003489',No,No,...,Regular School,1,3,Missing,9,12,Walla Walla County,23,46.0311,-118.389
109,LUMEN SCHOLAR INSTITUTE,68,UT,UTAH,4900182,LUMEN SCHOLAR INSTITUTE,1467,='490018201467',No,No,...,Regular School,1,4,Yes,KG,12,Utah County,21,40.3805,-111.999
110,Lawrence Gardner High School,67,KS,KANSAS,2000008,Lawrence Gardner High School,1745,='200000801745',Yes,No,...,Regular School,1,3,No,7,12,Shawnee County,12,39.0971,-95.6841
111,LANDMARK HIGH,67,UT,UTAH,4900630,NEBO DISTRICT,387,='490063000387',No,No,...,Alternative Education School,4,3,No,10,12,Utah County,21,40.1049,-111.656
112,MTCS CONNECTIONS ACADEMY,66,MN,MINNESOTA,2700117,MINNESOTA TRANSITIONS CHARTER SCH,3694,='270011703694',No,No,...,Regular School,1,4,Yes,KG,12,Ramsey County,11,44.9702,-93.1564
113,CCSI Alternative School,66,IL,ILLINOIS,1700202,Monroe/Randolph ROE,3189,='170020203189',No,No,...,Alternative Education School,4,3,No,9,12,Monroe County,42,38.2905,-89.9489
115,Calaveras Hills,65,CA,CALIFORNIA,624500,Milpitas Unified,3664,='062450003664',No,No,...,Alternative Education School,4,3,No,9,12,Santa Clara County,13,37.4385,-121.883
116,Cousino Senior High School,64,MI,MICHIGAN,2635190,Warren Consolidated Schools,7089,='263519007089',No,No,...,Alternative Education School,4,3,No,8,12,Macomb County,12,42.5162,-83.0097
120,Newton College and Career Academy,62,GA,GEORGIA,1303930,Newton County,4096,='130393004096',No,No,...,Alternative Education School,4,N,No,N,N,Newton County,21,33.5827,-83.8969
117,NEW PATHS AREA LEARNING CENTER,62,MN,MINNESOTA,2709720,CROOKSTON PUBLIC SCHOOL DISTRICT,1029,='270972001029',No,No,...,Alternative Education School,4,3,No,7,12,Polk County,32,47.7668,-96.5969

In [39]:
# match_schools_with_de.to_csv('../filtered_data/06_filtered_schools_with_de_students.csv')

In [60]:
pd.DataFrame({'DE Students': [total_filtered_out_de_students, de_students_in_NCES_matching_schools, de_students_in_NCES_non_matching_schools,
                              jj_de_students, alt_de_students_crdc, sped_de_students_crdc, de_students_schools_without_11_12,
                              virtual_de_students, sped_de_students_nces, alt_de_students_nces,]},
            index = ['Total Filtered Out DE Students', 'NCES-Matching', 'NCES-Non-Matching', 'Juvenile Justice (CRDC)', 'Alternative Education (CRDC)',
                     'Special Education (CRDC)', 'Schools w/o 11th/12th grade (CRDC)', 'Virtual (NCES)', 
                     'Special Education (NCES)', 'Alternative/Other (NCES)',])

                                    DE Students
Total Filtered Out DE Students            28384
NCES-Matching                             25931
NCES-Non-Matching                          2453
Juvenile Justice (CRDC)                     388
Alternative Education (CRDC)               7555
Special Education (CRDC)                   2903
Schools w/o 11th/12th grade (CRDC)         4553
Virtual (NCES)                             2801
Special Education (NCES)                   1167
Alternative/Other (NCES)                  11226