In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from my_functions import combokey_converter

%matplotlib inline
sns.set_style('whitegrid')
plt.rc('axes', titlesize = 14, titleweight = 'bold', labelweight = 'bold')

In [9]:
raw = pd.read_csv('../filtered_data/00_crdc_1516_initial.csv', 
                        dtype = {'LEAID':np.object})

In [26]:
filtered = pd.read_csv('../filtered_data/04_filter_final.csv', dtype = {'LEAID':np.object})

In [27]:
raw['COMBOKEY'] = combokey_converter.convert(raw, 'LEAID', 'SCHID')

In [54]:
filtered_combo = filtered[['COMBOKEY','LAT1516']]

In [58]:
filtered_raw_joined = pd.merge(raw, filtered_combo, on = 'COMBOKEY', how = 'left')
filteded_from_raw = filtered_raw_joined.copy()
filtered_from_raw = filtered_from_raw[filtered_from_raw.LAT1516.isnull()]

In [59]:
len(filtered_from_raw)

80635

In [55]:
filtered_from_raw.columns.values

array(['LEA_STATE', 'LEA_STATE_NAME', 'LEAID', 'LEA_NAME', 'SCHID',
       'SCH_NAME', 'COMBOKEY', 'JJ', 'SCH_GRADE_PS', 'SCH_GRADE_KG',
       'SCH_GRADE_G01', 'SCH_GRADE_G02', 'SCH_GRADE_G03', 'SCH_GRADE_G04',
       'SCH_GRADE_G05', 'SCH_GRADE_G06', 'SCH_GRADE_G07', 'SCH_GRADE_G08',
       'SCH_GRADE_G09', 'SCH_GRADE_G10', 'SCH_GRADE_G11', 'SCH_GRADE_G12',
       'SCH_GRADE_UG', 'SCH_UGDETAIL_HS', 'SCH_STATUS_SPED',
       'SCH_STATUS_MAGNET', 'SCH_STATUS_CHARTER', 'SCH_STATUS_ALT',
       'SCH_ENR_HI_M', 'SCH_ENR_HI_F', 'SCH_ENR_AM_M', 'SCH_ENR_AM_F',
       'SCH_ENR_AS_M', 'SCH_ENR_AS_F', 'SCH_ENR_HP_M', 'SCH_ENR_HP_F',
       'SCH_ENR_BL_M', 'SCH_ENR_BL_F', 'SCH_ENR_WH_M', 'SCH_ENR_WH_F',
       'SCH_ENR_TR_M', 'SCH_ENR_TR_F', 'TOT_ENR_M', 'TOT_ENR_F',
       'SCH_ENR_LEP_M', 'SCH_ENR_LEP_F', 'SCH_ENR_IDEA_M',
       'SCH_ENR_IDEA_F', 'SCH_DUAL_IND', 'SCH_DUALENR_HI_M',
       'SCH_DUALENR_HI_F', 'SCH_DUALENR_AM_M', 'SCH_DUALENR_AM_F',
       'SCH_DUALENR_AS_M', 'SCH_DUALENR_AS_F', 'SCH_DUALENR_HP_M',
       'SCH_DUALENR_HP_F', 'SCH_DUALENR_BL_M', 'SCH_DUALENR_BL_F',
       'SCH_DUALENR_WH_M', 'SCH_DUALENR_WH_F', 'SCH_DUALENR_TR_M',
       'SCH_DUALENR_TR_F', 'TOT_DUALENR_M', 'TOT_DUALENR_F',
       'SCH_DUALENR_LEP_M', 'SCH_DUALENR_LEP_F', 'SCH_DUALENR_IDEA_M',
       'SCH_DUALENR_IDEA_F', 'SCH_APENR_IND', 'SCH_APENR_HI_M',
       'SCH_APENR_HI_F', 'SCH_APENR_AM_M', 'SCH_APENR_AM_F',
       'SCH_APENR_AS_M', 'SCH_APENR_AS_F', 'SCH_APENR_HP_M',
       'SCH_APENR_HP_F', 'SCH_APENR_BL_M', 'SCH_APENR_BL_F',
       'SCH_APENR_WH_M', 'SCH_APENR_WH_F', 'SCH_APENR_TR_M',
       'SCH_APENR_TR_F', 'TOT_APENR_M', 'TOT_APENR_F', 'SCH_APENR_LEP_M',
       'SCH_APENR_LEP_F', 'SCH_APENR_IDEA_M', 'SCH_APENR_IDEA_F',
       'SCH_IBENR_IND', 'SCH_IBENR_HI_M', 'SCH_IBENR_HI_F',
       'SCH_IBENR_AM_M', 'SCH_IBENR_AM_F', 'SCH_IBENR_AS_M',
       'SCH_IBENR_AS_F', 'SCH_IBENR_HP_M', 'SCH_IBENR_HP_F',
       'SCH_IBENR_BL_M', 'SCH_IBENR_BL_F', 'SCH_IBENR_WH_M',
       'SCH_IBENR_WH_F', 'SCH_IBENR_TR_M', 'SCH_IBENR_TR_F',
       'TOT_IBENR_M', 'TOT_IBENR_F', 'SCH_IBENR_LEP_M', 'SCH_IBENR_LEP_F',
       'SCH_IBENR_IDEA_M', 'SCH_IBENR_IDEA_F', 'LAT1516', 'LON1516',
       'LOCALE15', 'NMCNTY15'], dtype=object)

# Analysis

In [62]:
def missing_value_mapper(value):
    """Converts any negative number into 0, as these negative numbers represent missing/null values"""
    if isinstance(value, int):
        if value < 0:
            return 0
    return value

filtered_from_raw = filtered_from_raw.applymap(missing_value_mapper)

In [63]:
filtered_from_raw['de_total_enrollment'] = filtered_from_raw['TOT_DUALENR_M'] + filtered_from_raw['TOT_DUALENR_F']

### DE

In [68]:
schools_with_de_students = filtered_from_raw.copy()
schools_with_de_students = schools_with_de_students[schools_with_de_students.de_total_enrollment > 0]

** Fiiltered-Schools with DE students **

In [97]:
first_columns = ['SCH_NAME', 'de_total_enrollment']
reorder = first_columns + [c for c in schools_with_de_students.columns if c not in first_columns]
schools_with_de_students = schools_with_de_students[reorder].sort_values('de_total_enrollment', ascending = False)
schools_with_de_students

,SCH_NAME,de_total_enrollment,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,COMBOKEY,JJ,SCH_GRADE_PS,...,TOT_IBENR_M,TOT_IBENR_F,SCH_IBENR_LEP_M,SCH_IBENR_LEP_F,SCH_IBENR_IDEA_M,SCH_IBENR_IDEA_F,LAT1516,LON1516,LOCALE15,NMCNTY15
59112,BROOKLYN TECHNICAL HIGH SCHOOL,3778,NY,NEW YORK,3620580,NEW YORK CITY PUBLIC SCHOOLS,1928,='362058001928',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
55306,Passaic County Technical Institute,1463,NJ,NEW JERSEY,3412630,Passsaic County Vocational School District,4860,='341263004860',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2671,Basha High School,1278,AZ,ARIZONA,401870,Chandler Unified District #80,2250,='040187002250',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
31069,McKenzie Career Center,1205,IN,INDIANA,1805670,M S D Lawrence Township,725,='180567000725',No,No,...,2,9,0,0,0,0,NaN,NaN,NaN,NaN
53807,Bergen County Academies,1014,NJ,NEW JERSEY,3401470,Bergen County Vocational Technical School Dist...,250,='340147000250',No,No,...,71,74,0,0,0,0,NaN,NaN,NaN,NaN
92581,South Kitsap High School,752,WA,WASHINGTON,5308160,South Kitsap School District,1357,='530816001357',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
68466,Penta Career Center - on campus,686,OH,OHIO,3905135,Penta Career Center - District,4080,='390513504080',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
91522,Puget Sound Skills Center,682,WA,WASHINGTON,5303540,Highline School District,2103,='530354002103',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
53809,Bergen County Technical High School - Teterboro,631,NJ,NEW JERSEY,3401470,Bergen County Vocational Technical School Dist...,262,='340147000262',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
15147,COLORADO EARLY COLLEGE FORT COLLINS,603,CO,COLORADO,800020,State Charter School Institute,6542,='080002006542',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
68472,Warren County Career Center,590,OH,OHIO,3905147,Warren County Vocational School,4087,='390514704087',No,Yes,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
7124,John F. Kennedy High,540,CA,CALIFORNIA,609850,Corona-Norco Unified,11712,='060985011712',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
31796,Lowell Senior High School,520,IN,INDIANA,1811460,Tri-Creek School Corporation,1852,='181146001852',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
31956,Ben Davis Ninth Grade Center,496,IN,INDIANA,1812810,M S D Wayne Township,2122,='181281002122',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
68465,Ohio Hi-Point,489,OH,OHIO,3905133,Ohio Hi-Point Career Center,4079,='390513304079',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
22611,A.D. HENDERSON UNIVERSITY SCHOOL & FAU HIGH SC...,474,FL,FLORIDA,1202012,FAU LAB SCH,3140,='120201203140',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
95215,Oak Creek High,443,WI,WISCONSIN,5510830,Oak Creek-Franklin Joint School District,1411,='551083001411',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
68473,Scioto County Career Technical Center,440,OH,OHIO,3905149,Scioto County Career Technical Center,4088,='390514904088',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
48559,CAPE GIRARDEAU CAR TECH CTR.,434,MO,MISSOURI,2907120,CAPE GIRARDEAU 63,192,='290712000192',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
54415,Gloucester County Institute of Technology,431,NJ,NEW JERSEY,3406040,Gloucester County Vocational-Technical School ...,2570,='340604002570',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
15637,CEC MIDDLE COLLEGE OF DENVER,430,CO,COLORADO,803360,School District No. 1 in the county of Denver ...,322,='080336000322',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
79796,CAPROCK H S,415,TX,TEXAS,4808130,AMARILLO ISD,149,='480813000149',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
91731,Tesla STEM High School,395,WA,WASHINGTON,5304230,Lake Washington School District,3432,='530423003432',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3023,Lake Havasu High School,376,AZ,ARIZONA,404280,Lake Havasu Unified School District #1,433,='040428000433',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
73135,Ligonier Valley HS,352,PA,PENNSYLVANIA,4213710,Ligonier Valley SD,4442,='421371004442',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
56749,Arrowhead Park Early College High School,350,NM,NEW MEXICO,3501500,LAS CRUCES PUBLIC SCHOOLS,99999,='350150099999',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
88812,MAGGIE L. WALKER GOV. SCH.,328,VA,VIRGINIA,5100061,MAGGIE L. WALKER GOV SCH,2561,='510006102561',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
49873,GIBSON TECHNICAL CTR.,323,MO,MISSOURI,2926160,REEDS SPRING R-IV,1533,='292616001533',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
60261,KINGSBOROUGH EARLY COLLEGE SCHOOL,322,NY,NEW YORK,3620580,NEW YORK CITY PUBLIC SCHOOLS,5926,='362058005926',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
9809,Sherman Oaks Center for Enriched Studies,321,CA,CALIFORNIA,622710,Los Angeles Unified,9151,='062271009151',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19082,WHISPERING PINES SCHOOL,2,FL,FLORIDA,1200180,BROWARD,2801,='120018002801',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
19049,CROSS CREEK SCHOOL,2,FL,FLORIDA,1200180,BROWARD,1356,='120018001356',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
70876,Crater Lake Charter Academy,2,OR,OREGON,4104500,Eagle Point SD 9,1831,='410450001831',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
84087,ALTERNATIVE LEARNING CENTER,2,TX,TEXAS,4826580,LAMAR CISD,6739,='482658006739',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
84844,VIOLA M COLEMAN H S,2,TX,TEXAS,4830570,MIDLAND ISD,6756,='483057006756',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
16420,MOUNTVIEW YOUTH SERVICE CENTER,2,CO,COLORADO,804800,Jefferson County School District No. R-1,6347,='080480006347',Yes,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
44286,Saline Alternative High School,2,MI,MICHIGAN,2630660,Saline Area Schools,7868,='263066007868',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
45037,RUNESTONE REGIONAL LEARNING CENTER,2,MN,MINNESOTA,2700016,RUNESTONE AREA ED. DISTRICT,2224,='270001602224',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
44711,Watersmeet Township School,2,MI,MICHIGAN,2635340,Watersmeet Township School District,7153,='263534007153',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
70727,Triangle Lake Charter School,2,OR,OREGON,4102160,Blachly SD 90,641,='410216000641',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
16634,MOFFAT PREK-12 SCHOOL,2,CO,COLORADO,805700,Moffat School District No. 2 in the county of ...,974,='080570000974',No,Yes,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
44606,Vanderbilt Area School,2,MI,MICHIGAN,2634620,Vanderbilt Area Schools,7040,='263462007040',No,Yes,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
16791,DISCOVERY HIGH SCHOOL,2,CO,COLORADO,806480,School District No. 3 in the county of El Paso...,51,='080648000051',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
84129,LANEVILLE SCHOOL,2,TX,TEXAS,4826700,LANEVILLE ISD,6577,='482670006577',No,Yes,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
16826,YAMPA VALLEY HIGH SCHOOL,2,CO,COLORADO,806660,Steamboat Springs School District No. Re 2,1924,='080666001924',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
70866,Dufur School,2,OR,OREGON,4104410,Dufur SD 29,1162,='410441001162',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
16840,PRAIRIE CREEKS CHARTER SCHOOL,2,CO,COLORADO,806750,Strasburg School District 31J,1669,='080675001669',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
83884,PATHWAYS ACADEMIC CAMPUS,2,TX,TEXAS,4825660,KILLEEN ISD,21001,='482566021001',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
70860,Dayville School,2,OR,OREGON,4104020,Dayville SD 16J,358,='410402000358',No,Yes,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
16945,HIDDEN LAKE HIGH SCHOOL,2,CO,COLORADO,807230,Westminster Public Schools,1877,='080723001877',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
16977,SOUTHWEST COLORADO E-SCHOOL,2,CO,COLORADO,899300,SAN JUAN BOCES,6497,='089930006497',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
83663,ALTER SCH,2,TX,TEXAS,4824990,JUDSON ISD,7187,='482499007187',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
17839,Middlesex Transition Academy,2,CT,CONNECTICUT,903535,REGIONAL SCHOOL DISTRICT 13,1731,='090353501731',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
83582,DALLAS CO SCHOOL FOR ACCELERATED LRNG,2,TX,TEXAS,4824420,IRVING ISD,8187,='482442008187',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
83578,BARBARA CARDWELL CAREER PREPARATORY CENTER,2,TX,TEXAS,4824420,IRVING ISD,6275,='482442006275',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
83552,IREDELL SCHOOL,2,TX,TEXAS,4824360,IREDELL ISD,2714,='482436002714',No,Yes,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
18467,Maya Angelou PCS Evans High School,2,DC,DISTRICT OF COLUMBIA,1100014,Maya Angelou PCS,391,='110001400391',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
43116,Harrison Alternative Education,2,MI,MICHIGAN,2617820,Harrison Community Schools,105,='261782000105',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
16540,TWIN PEAKS CHARTER ACADEMY,2,CO,COLORADO,805370,St. Vrain Valley School District No. Re1J,1572,='080537001572',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
23913,McClarin High School,2,GA,GEORGIA,1302280,Fulton County,2037,='130228002037',No,No,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

**Total DE Students**

In [132]:
"""Total DE Students"""
schools_with_de_students.de_total_enrollment.sum()

104229

**Juvenile Justice**

In [153]:
"""Juvenile Justice Schools - How many schools and DE students?"""
print(schools_with_de_students.JJ.value_counts())
print()
print(str(schools_with_de_students[schools_with_de_students.JJ == 'Yes'].de_total_enrollment.sum()), "DE students.")

No     2678
Yes      15
Name: JJ, dtype: int64

388 DE students.

**Alternative**

In [154]:
"""Alternative Schools - How many schools and DE students?"""
print(schools_with_de_students.SCH_STATUS_ALT.value_counts())
print()
print(str(schools_with_de_students[schools_with_de_students.SCH_STATUS_ALT == 'Yes'].de_total_enrollment.sum()), "DE students.")

No     2340
Yes     353
Name: SCH_STATUS_ALT, dtype: int64

7555 DE students.

**Special Education**

In [156]:
"""Special Education - How many schools and DE students?"""
print(schools_with_de_students.SCH_STATUS_SPED.value_counts())
print()
print(str(schools_with_de_students[schools_with_de_students.SCH_STATUS_SPED == 'Yes'].de_total_enrollment.sum()), "DE students.")

No     2610
Yes      83
Name: SCH_STATUS_SPED, dtype: int64

2903 DE students.

**Grade Ranges**

In [238]:
def school_grade_range(df):
    """Calculates the number of schools in a given DataFrame (df) of a particular distribution of grades:
        Example:  If a school (in df) offers grades 9,10,11,12 exclusively, they are placed in the '9-12' 
                    category. """
    df_grade_range = []
    for index, row in df.iterrows():
        grade_range = []

        if row.SCH_GRADE_G12 == 'Yes':
            grade_range.append(12)
        if row.SCH_GRADE_G11 == 'Yes':
            grade_range.append(11)
        if row.SCH_GRADE_G10 == 'Yes':
            grade_range.append(10)
        if row.SCH_GRADE_G09 == 'Yes':
            grade_range.append(9)
        if row.SCH_GRADE_G08 == 'Yes':
            grade_range.append(8)
        if row.SCH_GRADE_G07 == 'Yes':
            grade_range.append(7)
        if row.SCH_GRADE_G06 == 'Yes':
            grade_range.append(6)
        if row.SCH_GRADE_G05 == 'Yes':
            grade_range.append(5)
        if row.SCH_GRADE_G04 == 'Yes':
            grade_range.append(4)
        if row.SCH_GRADE_G03 == 'Yes':
            grade_range.append(3)
        if row.SCH_GRADE_G02 == 'Yes':
            grade_range.append(2)
        if row.SCH_GRADE_G01 == 'Yes':
            grade_range.append(1)
        if row.SCH_GRADE_KG == 'Yes':
            grade_range.append('kg')
        if row.SCH_GRADE_PS == 'Yes':
            grade_range.append('pk')
        
        if grade_range == [12,11,10,9,8,7,6,5,4,3,2,1,'kg','pk']:
            df_grade_range.append('pk-12')
        elif grade_range == [12,11,10,9,8,7,6,5,4,3,2,1,'kg']:
            df_grade_range.append('kg-12')
        elif grade_range == [12,11,10,9,8,7,6,5]:
            df_grade_range.append('05-12')
        elif grade_range == [12,11,10,9,8,7,6]:
            df_grade_range.append('06-12')
        elif grade_range == [12,11,10,9,8,7]:
            df_grade_range.append('07-12')
        elif grade_range == [12,11,10,9,8]:
            df_grade_range.append('08-12')
        elif grade_range == [12,11,10,9]:
            df_grade_range.append('09-12')
        elif grade_range == [11,10,9]:
            df_grade_range.append('09-11')
        elif grade_range == [10,9]:
            df_grade_range.append('09-10')
        elif grade_range == [12,11,10]:
            df_grade_range.append('10-12')
        elif grade_range == [12,11]:
            df_grade_range.append('11-12')
        elif grade_range == [12]:
            df_grade_range.append('12-only')
        else:
            df_grade_range.append('other')
    return pd.DataFrame(df_grade_range, columns=['grade_range'])

In [244]:
de_stud_school_grade_range_list = school_grade_range(schools_with_de_students).join(schools_with_de_students['de_total_enrollment'].reset_index(drop = True), how = 'outer')

de_stud_school_grade_range_dist = de_stud_school_grade_range_list['grade_range'].value_counts().reset_index().sort_values('index').set_index('index')
de_stud_school_grade_range_dist['pct_of_schools'] = round(de_stud_school_grade_range_dist['grade_range'] / len(de_stud_school_grade_range_list), 3)

de_stud_school_grade_range_enrollments = pd.DataFrame(de_stud_school_grade_range_list.groupby('grade_range')['de_total_enrollment'].sum())

de_stud_school_grade_range_dist.join(de_stud_school_grade_range_enrollments).rename({'grade_range': '# schools'}, axis = 1)

         # schools  pct_of_schools  de_total_enrollment
index
05-12           34           0.013                 1516
06-12          666           0.247                25242
07-12           99           0.037                 2722
08-12           27           0.010                 1399
09-10           15           0.006                  975
09-11           22           0.008                 1185
09-12          548           0.203                36343
10-12           77           0.029                 4366
11-12           54           0.020                 3331
12-only          8           0.003                   49
kg-12          444           0.165                10523
other          249           0.092                 8843
pk-12          450           0.167                 7735

## Get NCES information and join with schools_with_de_students

In [162]:
schools_with_de_students = schools_with_de_students.drop(['LAT1516', 'LON1516', 'LOCALE15', 'NMCNTY15'], axis = 1)

In [158]:
nces_1516_full = pd.read_csv('../filtered_data/01_nces_1516_initial_combined_ccd.csv')

/Users/alijahoconnor/Box Sync/OCR/Data_and_Analysis/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [186]:
schools_with_de_students_nces = pd.merge(schools_with_de_students, nces_1516_full, left_on = 'COMBOKEY', right_on = 'combokey', how = 'left', suffixes = ('', '_nces'))

In [247]:
non_matching_schools_with_de = schools_with_de_students_nces[schools_with_de_students_nces.LEVEL.isnull()]
match_schools_with_de = schools_with_de_students_nces[schools_with_de_students_nces.LEVEL.notnull()]

In [248]:
print(match_schools_with_de.de_total_enrollment.sum())
print(non_matching_schools_with_de.de_total_enrollment.sum())

93901
10328

**Recover some of the non-nces-matching schools**

In [249]:
"""Passing in my recovered_schools from 00_initial_filter"""
%store -r recovered_schools_all

In [250]:
recovered_schools_all = recovered_schools_all.reset_index()
nces_columns = ['COMBOKEY', 'SCH_TYPE', 'LEVEL', 'VIRTUAL', 'GSLO', 'GSHI',
       'NMCNTY15', 'LOCALE15', 'LAT1516', 'LON1516']
recovered_schools_all_nces = recovered_schools_all[nces_columns]

In [251]:
non_matching_schools_with_de = non_matching_schools_with_de.drop(['SCH_TYPE', 'LEVEL', 'VIRTUAL', 'GSLO', 'GSHI',
       'NMCNTY15', 'LOCALE15', 'LAT1516', 'LON1516'],axis = 1)

In [252]:
recovered_non_matchings = pd.merge(non_matching_schools_with_de, recovered_schools_all_nces, on='COMBOKEY')

In [256]:
print(recovered_non_matchings.de_total_enrollment.sum(), "DE students Recovered.")

7914 DE students Recovered.

In [257]:
match_schools_with_de = match_schools_with_de.append(recovered_non_matchings)

In [258]:
print(format(match_schools_with_de.de_total_enrollment.sum(), ",d"), "out of", format(schools_with_de_students.de_total_enrollment.sum(),',d'), 
     "DE Students Accounted for.")

109,729 out of 104,229 DE Students Accounted for.

**Filtered Schools that match with NCES**

**LEVEL**<br>
1 = Primary (low grade = PK through 03; high grade = PK through 08), 2 = Middle (low grade = 04 through 07; high grade = 04 through 09), 3 = High (low grade = 07 through 12; high grade = 12 only), 4 = Other (any other configuration not falling within the above three categories;including ungraded), N = Not applicable

In [259]:
"""How many schools and de students in each LEVEL of school"""
print(match_schools_with_de.LEVEL.value_counts().reset_index().sort_values('index').set_index('index'))
print()
print(str(match_schools_with_de.groupby('LEVEL').de_total_enrollment.sum()), 'DE students.')

       LEVEL
index
1         24
2         26
3        668
4       1943
N         25

LEVEL
1      295
2     1609
3    43559
4    63237
N     1029
Name: de_total_enrollment, dtype: int64 DE students.

**Virtual Schools**

In [260]:
print(match_schools_with_de.VIRTUAL.value_counts())
print()
print(match_schools_with_de.groupby('VIRTUAL').de_total_enrollment.sum())

No         2085
Missing     449
Yes         152
Name: VIRTUAL, dtype: int64

VIRTUAL
Missing    17433
No         89460
Yes         2836
Name: de_total_enrollment, dtype: int64

**School Type**<br>
1 = Regular school, 2 = Special education school, 3 = Vocational school, 4 = Other/alternative school

In [261]:
print(match_schools_with_de.SCH_TYPE.value_counts())
print()
print(match_schools_with_de.groupby('SCH_TYPE').de_total_enrollment.sum())

1.0    1949
4.0     467
3.0     221
2.0      49
Name: SCH_TYPE, dtype: int64

SCH_TYPE
1.0    66152
2.0     1167
3.0    31129
4.0    11281
Name: de_total_enrollment, dtype: int64

In [263]:
match_schools_with_de.sort_values('de_total_enrollment', ascending=False).head(100)

,SCH_NAME,de_total_enrollment,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,COMBOKEY,JJ,SCH_GRADE_PS,...,SCH_TYPE_TEXT,SCH_TYPE,LEVEL,VIRTUAL,GSLO,GSHI,NMCNTY15,LOCALE15,LAT1516,LON1516
0,brooklyn technical high school,3778,NY,NEW YORK,3620580,NEW YORK CITY PUBLIC SCHOOLS,1928,='362058001928',No,No,...,NaN,3,3,No,9,12,Kings County,11,40.6889,-73.9766
0,brooklyn technical high school,3778,NY,NEW YORK,3620580,NEW YORK CITY PUBLIC SCHOOLS,1928,='362058001928',No,No,...,NaN,3,3,No,9,12,Kings County,11,40.6889,-73.9766
1,passaic county technical institute,1463,NJ,NEW JERSEY,3412630,Passsaic County Vocational School District,4860,='341263004860',No,No,...,Vocational Education School,3,3,No,9,12,Passaic County,21,40.9298,-74.2036
2,basha high school,1278,AZ,ARIZONA,401870,Chandler Unified District #80,2250,='040187002250',No,No,...,Regular School,1,4,No,6,12,Maricopa County,21,33.2212,-111.758
3,mckenzie career center,1205,IN,INDIANA,1805670,M S D Lawrence Township,725,='180567000725',No,No,...,Vocational Education School,3,4,No,PK,12,Marion County,11,39.8923,-86.0411
4,bergen county academies,1014,NJ,NEW JERSEY,3401470,Bergen County Vocational Technical School Dist...,250,='340147000250',No,No,...,Vocational Education School,3,3,No,9,12,Bergen County,21,40.9022,-74.0343
5,south kitsap high school,752,WA,WASHINGTON,5308160,South Kitsap School District,1357,='530816001357',No,No,...,Regular School,1,4,Missing,3,12,Kitsap County,22,47.5385,-122.626
6,penta career center - on campus,686,OH,OHIO,3905135,Penta Career Center - District,4080,='390513504080',No,No,...,Vocational Education School,3,3,No,10,12,Wood County,21,41.5837,-83.5721
7,puget sound skills center,682,WA,WASHINGTON,5303540,Highline School District,2103,='530354002103',No,No,...,Vocational Education School,3,3,Missing,10,12,King County,21,47.4411,-122.323
8,bergen county technical high school - teterboro,631,NJ,NEW JERSEY,3401470,Bergen County Vocational Technical School Dist...,262,='340147000262',No,No,...,Vocational Education School,3,3,No,9,12,Bergen County,21,40.8594,-74.0543
9,colorado early college fort collins,603,CO,COLORADO,800020,State Charter School Institute,6542,='080002006542',No,No,...,Regular School,1,4,No,6,12,Larimer County,12,40.5198,-105.053
10,warren county career center,590,OH,OHIO,3905147,Warren County Vocational School,4087,='390514704087',No,Yes,...,Vocational Education School,3,3,No,7,12,Warren County,41,39.4891,-84.2027
11,john f. kennedy high,540,CA,CALIFORNIA,609850,Corona-Norco Unified,11712,='060985011712',No,No,...,Alternative Education School,4,3,No,10,12,Riverside County,21,33.9173,-117.564
12,lowell senior high school,520,IN,INDIANA,1811460,Tri-Creek School Corporation,1852,='181146001852',No,No,...,Regular School,1,3,No,8,12,Lake County,31,41.2914,-87.3932
13,ben davis ninth grade center,496,IN,INDIANA,1812810,M S D Wayne Township,2122,='181281002122',No,No,...,Regular School,1,4,No,9,9,Marion County,11,39.783,-86.2917
14,ohio hi-point,489,OH,OHIO,3905133,Ohio Hi-Point Career Center,4079,='390513304079',No,No,...,Vocational Education School,3,3,No,7,12,Logan County,41,40.371,-83.7183
15,a.d. henderson university school & fau high sc...,474,FL,FLORIDA,1202012,FAU LAB SCH,3140,='120201203140',No,No,...,Regular School,1,4,No,KG,12,Palm Beach County,13,26.3734,-80.109
16,oak creek high,443,WI,WISCONSIN,5510830,Oak Creek-Franklin Joint School District,1411,='551083001411',No,No,...,Regular School,1,3,No,9,12,Milwaukee County,21,42.8867,-87.9085
17,scioto county career technical center,440,OH,OHIO,3905149,Scioto County Career Technical Center,4088,='390514904088',No,No,...,Vocational Education School,3,4,No,6,12,Scioto County,41,38.8548,-82.9796
18,cape girardeau car tech ctr.,434,MO,MISSOURI,2907120,CAPE GIRARDEAU 63,192,='290712000192',No,No,...,Vocational Education School,3,3,No,9,12,Cape Girardeau County,13,37.274,-89.5652
19,gloucester county institute of technology,431,NJ,NEW JERSEY,3406040,Gloucester County Vocational-Technical School ...,2570,='340604002570',No,No,...,Vocational Education School,3,3,No,9,12,Gloucester County,21,39.7885,-75.1241
20,cec middle college of denver,430,CO,COLORADO,803360,School District No. 1 in the county of Denver ...,322,='080336000322',No,No,...,Vocational Education School,3,3,No,9,12,Denver County,11,39.7555,-105.024
21,caprock h s,415,TX,TEXAS,4808130,AMARILLO ISD,149,='480813000149',No,No,...,Regular School,1,4,Missing,PK,12,Randall County,12,35.1797,-101.803
22,tesla stem high school,395,WA,WASHINGTON,5304230,Lake Washington School District,3432,='530423003432',No,No,...,Alternative Education School,4,3,Missing,9,12,King County,21,47.6487,-122.038
23,lake havasu high school,376,AZ,ARIZONA,404280,Lake Havasu Unified School District #1,433,='040428000433',No,No,...,Regular School,1,3,No,9,12,Mohave County,13,34.4944,-114.318
24,ligonier valley hs,352,PA,PENNSYLVANIA,4213710,Ligonier Valley SD,4442,='421371004442',No,No,...,Regular School,1,4,No,PK,12,Westmoreland County,41,40.2654,-79.2405
26,maggie l. walker gov. sch.,328,VA,VIRGINIA,5100061,MAGGIE L. WALKER GOV SCH,2561,='510006102561',No,No,...,Regular School,1,N,No,N,N,Richmond city,12,37.5579,-77.4536
27,gibson technical ctr.,323,MO,MISSOURI,2926160,REEDS SPRING R-IV,1533,='292616001533',No,No,...,Vocational Education School,3,3,No,9,12,Stone County,42,36.7333,-93.381
1,kingsborough early college school,322,NY,NEW YORK,3620580,NEW YORK CITY PUBLIC SCHOOLS,5926,='362058005926',No,No,...,NaN,1,4,No,6,12,Kings County,11,40.593,-73.9863
1,kingsborough early college school,322,NY,NEW YORK,3620580,NEW YORK CITY PUBLIC SCHOOLS,5926,='362058005926',No,No,...,NaN,1,4,No,6,12,Kings County,11,40.593,-73.9863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,morris county school of technology,220,NJ,NEW JERSEY,3410720,Morris County Vocational School District,4348,='341072004348',No,No,...,Vocational Education School,3,3,No,9,12,Morris County,21,40.8781,-74.4792
68,middle college high,216,CA,CALIFORNIA,634170,San Bernardino City Unified,10366,='063417010366',No,No,...,Alternative Education School,4,3,No,9,12,San Bernardino County,12,34.0904,-117.312
70,state college of florida collegiate school,211,FL,FLORIDA,1201230,MANATEE,7901,='120123007901',No,No,...,Regular School,1,4,No,6,12,Manatee County,21,27.4386,-82.5918
69,lexington high school,211,TN,TENNESSEE,4701800,Henderson County,603,='470180000603',No,No,...,Regular School,1,4,No,5,12,Henderson County,32,35.6583,-88.3881
71,infinity early college h s,209,TX,TEXAS,4832400,NEW CANEY ISD,13059,='483240013059',No,No,...,Regular School,1,4,Missing,9,11,Montgomery County,21,30.1331,-95.2241
73,norwich technical high school,202,CT,CONNECTICUT,900002,Connecticut Technical High School System,1147,='090000201147',No,No,...,Vocational Education School,3,3,No,9,12,New London County,13,41.5494,-72.0782
72,pittsylvania voc.-tech. ctr.,202,VA,VIRGINIA,5102940,PITTSYLVANIA CO PBLC SCHS,1856,='510294001856',No,No,...,Vocational Education School,3,N,No,N,N,Pittsylvania County,42,36.7642,-79.3891
74,pine view school,201,FL,FLORIDA,1201680,SARASOTA,1836,='120168001836',No,No,...,Special Education School,2,4,No,2,12,Sarasota County,21,27.186,-82.4799
75,tca college pathways,201,CO,COLORADO,801920,Academy School District 20,6447,='080192006447',No,No,...,Regular School,1,3,Yes,7,12,El Paso County,41,38.9927,-104.791
5,acadey of medical technology - a college board...,199,NY,NEW YORK,3620580,NEW YORK CITY PUBLIC SCHOOLS,6079,='362058006079',No,No,...,NaN,1,4,No,5,12,Queens County,11,40.6018,-73.7635
5,acadey of medical technology - a college board...,199,NY,NEW YORK,3620580,NEW YORK CITY PUBLIC SCHOOLS,6079,='362058006079',No,No,...,NaN,1,4,No,5,12,Queens County,11,40.6018,-73.7635
77,ballou jr high,198,WA,WASHINGTON,5306960,Puyallup School District,1026,='530696001026',No,No,...,Regular School,1,2,Missing,7,9,Pierce County,21,47.1319,-122.297
78,m.e.t.s. charter school,197,NJ,NEW JERSEY,3400753,M.E.T.S. CHARTER SCHOOL,3183,='340075303183',No,No,...,Regular School,1,4,No,6,12,Hudson County,11,40.7478,-74.0455
79,maple grove junior/senior high school,196,NY,NEW YORK,3604530,BEMUS POINT CENTRAL SCHOOL DISTRICT,201,='360453000201',No,No,...,Regular School,1,4,No,6,12,Chautauqua County,41,42.1611,-79.3232
80,grapevine-colleyville collegiate academy at tc...,194,TX,TEXAS,4821660,GRAPEVINE-COLLEYVILLE ISD,13073,='482166013073',No,No,...,Regular School,1,4,Missing,9,10,Tarrant County,21,32.844,-97.1901
81,hillyard technical ctr.,193,MO,MISSOURI,2927060,ST. JOSEPH,1655,='292706001655',No,No,...,Vocational Education School,3,3,No,9,12,Buchanan County,13,39.7679,-94.8087
82,big picture school,192,WA,WASHINGTON,5303540,Highline School District,2976,='530354002976',No,No,...,Alternative Education School,4,3,Missing,7,12,King County,21,47.4369,-122.328
83,camden county technical school-gtc,191,NJ,NEW JERSEY,3402670,Camden County Technical School District,1414,='340267001414',No,No,...,Vocational Education School,3,3,No,9,12,Camden County,21,39.7639,-74.976
84,early college of arvada,187,CO,COLORADO,800020,State Charter School Institute,6390,='080002006390',No,No,...,Regular School,1,4,No,6,12,Adams County,21,39.8062,-105.05
6,city college academy of the arts,186,NY,NEW YORK,3620580,NEW YORK CITY PUBLIC SCHOOLS,5784,='362058005784',No,No,...,NaN,1,4,No,6,12,New York County,11,40.861,-73.9301
6,city college academy of the arts,186,NY,NEW YORK,3620580,NEW YORK CITY PUBLIC SCHOOLS,5784,='362058005784',No,No,...,NaN,1,4,No,6,12,New York County,11,40.861,-73.9301
86,georgia cyber academy,185,GA,GEORGIA,1300232,State Charter Schools- Georgia Cyber Academy,4148,='130023204148',No,No,...,Regular School,1,4,No,KG,12,Clayton County,21,33.6129,-84.4067
87,windham technical high school,183,CT,CONNECTICUT,900002,Connecticut Technical High School System,1152,='090000201152',No,No,...,Vocational Education School,3,3,No,9,12,Windham County,31,41.7197,-72.2208
88,new horizons high school,183,WA,WASHINGTON,5306570,Pasco School District,968,='530657000968',No,No,...,Alternative Education School,4,4,Missing,6,12,Franklin County,22,46.2519,-119.128
89,conemaugh twp area ms/shs,182,PA,PENNSYLVANIA,4206420,Conemaugh Township Area SD,3978,='420642003978',No,No,...,Regular School,1,4,No,6,12,Somerset County,41,40.2282,-78.9396
92,central high,179,NM,NEW MEXICO,3500390,CENTRAL CONSOLIDATED SCHOOLS,179,='350039000179',No,No,...,Regular School,1,3,No,9,12,San Juan County,31,36.7372,-108.371
91,worcester technical high,179,MA,MASSACHUSETTS,2513230,Worcester,2305,='251323002305',No,No,...,Vocational Education School,3,3,No,9,12,Worcester County,12,42.2766,-71.7776
93,sharyland advanced academic academy,179,TX,TEXAS,4839930,SHARYLAND ISD,13048,='483993013048',No,No,...,Regular School,1,4,Missing,9,10,Hidalgo County,13,26.2109,-98.2838
95,mckinley vocational high school,178,NY,NEW YORK,3605850,BUFFALO CITY SCHOOL DISTRICT,315,='360585000315',No,No,...,Vocational Education School,3,3,No,9,12,Erie County,11,42.9381,-78.8798
94,wayne school of engineering,178,NC,NORTH CAROLINA,3704880,Wayne County Public Schools,3010,='370488003010',No,No,...,Regular School,1,4,No,6,13,Wayne County,13,35.3864,-77.9805