# <u> The National Alliance of Concurrent Enrollment Partnerships </u>
## 2015-16 Civil Rights Data Collection (CRDC)
## Advanced Placement (AP) v. Dual Enrollment (DE)
#### Alijah O'Connor - 2018
------------------------------------------------------------------------------------
---
Extra Enrollment By Analyses 
------------------------------------------------------------------------------------
---

In [1]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode,iplot
init_notebook_mode(connected = True)

%matplotlib inline
sns.set_style('whitegrid')
plt.rc('axes', titlesize = 14, titleweight = 'bold', labelweight = 'bold')

In [3]:
crdc_1516 = pd.read_csv('../filtered_data/04_filter_final.csv', dtype = {'LEAID':np.object})

# Clean Missing Values / Add Enrollment columns
Cleaning Specificially those for int-columns -- these are recorded as negative numbers that interfere with the enrollment calculations.<br>

**This section sets up most of the calculations needed for the analyses in the report.**

In [4]:
crdc_1516_cleaned = crdc_1516.copy()

In [6]:
from my_functions.extra_functions import missing_value_mapper
crdc_1516_cleaned = crdc_1516_cleaned.applymap(missing_value_mapper)

In [7]:
"""Total Enrollments"""
crdc_1516_cleaned['total_enrollment'] = crdc_1516_cleaned['TOT_ENR_M'] + crdc_1516_cleaned['TOT_ENR_F']

crdc_1516_cleaned['total_white_enrollment'] = crdc_1516_cleaned['SCH_ENR_WH_M'] + crdc_1516_cleaned['SCH_ENR_WH_F']
crdc_1516_cleaned['total_nonwhite_enrollment'] = crdc_1516_cleaned['total_enrollment'] - crdc_1516_cleaned['total_white_enrollment']

crdc_1516_cleaned['total_hi_enrollment'] = crdc_1516_cleaned['SCH_ENR_HI_M'] + crdc_1516_cleaned['SCH_ENR_HI_F']
crdc_1516_cleaned['total_am_enrollment'] = crdc_1516_cleaned['SCH_ENR_AM_M'] + crdc_1516_cleaned['SCH_ENR_AM_F']
crdc_1516_cleaned['total_as_enrollment'] = crdc_1516_cleaned['SCH_ENR_AS_M'] + crdc_1516_cleaned['SCH_ENR_AS_F']
crdc_1516_cleaned['total_bl_enrollment'] = crdc_1516_cleaned['SCH_ENR_BL_M'] + crdc_1516_cleaned['SCH_ENR_BL_F']
crdc_1516_cleaned['total_hp_enrollment'] = crdc_1516_cleaned['SCH_ENR_HP_M'] + crdc_1516_cleaned['SCH_ENR_HP_F']
crdc_1516_cleaned['total_tr_enrollment'] = crdc_1516_cleaned['SCH_ENR_TR_M'] + crdc_1516_cleaned['SCH_ENR_TR_F']

crdc_1516_cleaned['total_lep_enrollment'] = crdc_1516_cleaned['SCH_ENR_LEP_M'] + crdc_1516_cleaned['SCH_ENR_LEP_F']
crdc_1516_cleaned['total_idea_enrollment'] = crdc_1516_cleaned['SCH_ENR_IDEA_M'] + crdc_1516_cleaned['SCH_ENR_IDEA_F']

In [8]:
"""DE Columns"""
crdc_1516_cleaned['de_total_enrollment'] = crdc_1516_cleaned['TOT_DUALENR_M'] + crdc_1516_cleaned['TOT_DUALENR_F']

crdc_1516_cleaned['de_white_enrollment'] = crdc_1516_cleaned['SCH_DUALENR_WH_F'] +  crdc_1516_cleaned['SCH_DUALENR_WH_M']
crdc_1516_cleaned['de_nonwhite_enrollment'] = crdc_1516_cleaned['de_total_enrollment'] - crdc_1516_cleaned['de_white_enrollment']

crdc_1516_cleaned['de_hi_enrollment'] = crdc_1516_cleaned['SCH_DUALENR_HI_M'] + crdc_1516_cleaned['SCH_DUALENR_HI_F']
crdc_1516_cleaned['de_am_enrollment'] = crdc_1516_cleaned['SCH_DUALENR_AM_M'] + crdc_1516_cleaned['SCH_DUALENR_AM_F']
crdc_1516_cleaned['de_as_enrollment'] = crdc_1516_cleaned['SCH_DUALENR_AS_M'] + crdc_1516_cleaned['SCH_DUALENR_AS_F']
crdc_1516_cleaned['de_bl_enrollment'] = crdc_1516_cleaned['SCH_DUALENR_BL_M'] + crdc_1516_cleaned['SCH_DUALENR_BL_F']
crdc_1516_cleaned['de_hp_enrollment'] = crdc_1516_cleaned['SCH_DUALENR_HP_M'] + crdc_1516_cleaned['SCH_DUALENR_HP_F']
crdc_1516_cleaned['de_tr_enrollment'] = crdc_1516_cleaned['SCH_DUALENR_TR_M'] + crdc_1516_cleaned['SCH_DUALENR_TR_F']

crdc_1516_cleaned['de_lep_enrollment'] = crdc_1516_cleaned['SCH_DUALENR_LEP_M'] + crdc_1516_cleaned['SCH_DUALENR_LEP_F']
crdc_1516_cleaned['de_idea_enrollment'] = crdc_1516_cleaned['SCH_DUALENR_IDEA_M'] + crdc_1516_cleaned['SCH_DUALENR_IDEA_F']

In [9]:
"""AP Columns"""
crdc_1516_cleaned['ap_total_enrollment'] = crdc_1516_cleaned['TOT_APENR_M'] + crdc_1516_cleaned['TOT_APENR_F']

crdc_1516_cleaned['ap_white_enrollment'] = crdc_1516_cleaned['SCH_APENR_WH_F'] +  crdc_1516_cleaned['SCH_APENR_WH_M']
crdc_1516_cleaned['ap_nonwhite_enrollment'] = crdc_1516_cleaned['ap_total_enrollment'] - crdc_1516_cleaned['ap_white_enrollment']

crdc_1516_cleaned['ap_hi_enrollment'] = crdc_1516_cleaned['SCH_APENR_HI_M'] + crdc_1516_cleaned['SCH_APENR_HI_F']
crdc_1516_cleaned['ap_am_enrollment'] = crdc_1516_cleaned['SCH_APENR_AM_M'] + crdc_1516_cleaned['SCH_APENR_AM_F']
crdc_1516_cleaned['ap_as_enrollment'] = crdc_1516_cleaned['SCH_APENR_AS_M'] + crdc_1516_cleaned['SCH_APENR_AS_F']
crdc_1516_cleaned['ap_bl_enrollment'] = crdc_1516_cleaned['SCH_APENR_BL_M'] + crdc_1516_cleaned['SCH_APENR_BL_F']
crdc_1516_cleaned['ap_hp_enrollment'] = crdc_1516_cleaned['SCH_APENR_HP_M'] + crdc_1516_cleaned['SCH_APENR_HP_F']
crdc_1516_cleaned['ap_tr_enrollment'] = crdc_1516_cleaned['SCH_APENR_TR_M'] + crdc_1516_cleaned['SCH_APENR_TR_F']

crdc_1516_cleaned['ap_lep_enrollment'] = crdc_1516_cleaned['SCH_APENR_LEP_M'] + crdc_1516_cleaned['SCH_APENR_LEP_F']
crdc_1516_cleaned['ap_idea_enrollment'] = crdc_1516_cleaned['SCH_APENR_IDEA_M'] + crdc_1516_cleaned['SCH_APENR_IDEA_F']

___________________________________________________________________________________________________________________

In [10]:
"""Helper Functions"""
from my_functions.extra_functions import (hs_enrollment_averager, school_sizer, 
                                          region_mapper, eth_grouper, locale_map, region_mapper_nacep, 
                                          region_mapper_census)

In [11]:
"""HS-Averaged Column"""
crdc_1516_cleaned['hs_total_enrollment'] = hs_enrollment_averager(crdc_1516_cleaned)

In [12]:
"""HS Category Breakdown"""
crdc_1516_cleaned['hs_male'] = round((crdc_1516_cleaned['TOT_ENR_M'] / crdc_1516_cleaned['total_enrollment']) * crdc_1516_cleaned['hs_total_enrollment'],0)
crdc_1516_cleaned['hs_female'] = round((crdc_1516_cleaned['TOT_ENR_F'] / crdc_1516_cleaned['total_enrollment']) * crdc_1516_cleaned['hs_total_enrollment'],0)

crdc_1516_cleaned['hs_white'] = round((crdc_1516_cleaned['total_white_enrollment'] / crdc_1516_cleaned['total_enrollment']) * crdc_1516_cleaned['hs_total_enrollment'],0)
crdc_1516_cleaned['hs_nonwhite'] = round((crdc_1516_cleaned['total_nonwhite_enrollment'] / crdc_1516_cleaned['total_enrollment']) * crdc_1516_cleaned['hs_total_enrollment'],0)

crdc_1516_cleaned['hs_hi'] = round((crdc_1516_cleaned['total_hi_enrollment'] / crdc_1516_cleaned['total_enrollment']) * crdc_1516_cleaned['hs_total_enrollment'],0)
crdc_1516_cleaned['hs_am'] = round((crdc_1516_cleaned['total_am_enrollment'] / crdc_1516_cleaned['total_enrollment']) * crdc_1516_cleaned['hs_total_enrollment'],0)
crdc_1516_cleaned['hs_as'] = round((crdc_1516_cleaned['total_as_enrollment'] / crdc_1516_cleaned['total_enrollment']) * crdc_1516_cleaned['hs_total_enrollment'],0)
crdc_1516_cleaned['hs_bl'] = round((crdc_1516_cleaned['total_bl_enrollment'] / crdc_1516_cleaned['total_enrollment']) * crdc_1516_cleaned['hs_total_enrollment'],0)
crdc_1516_cleaned['hs_hp'] = round((crdc_1516_cleaned['total_hp_enrollment'] / crdc_1516_cleaned['total_enrollment']) * crdc_1516_cleaned['hs_total_enrollment'],0)
crdc_1516_cleaned['hs_tr'] = round((crdc_1516_cleaned['total_tr_enrollment'] / crdc_1516_cleaned['total_enrollment']) * crdc_1516_cleaned['hs_total_enrollment'],0)

crdc_1516_cleaned['hs_idea'] = round((crdc_1516_cleaned['total_idea_enrollment'] / crdc_1516_cleaned['total_enrollment']) * crdc_1516_cleaned['hs_total_enrollment'],0)
crdc_1516_cleaned['hs_lep'] = round((crdc_1516_cleaned['total_lep_enrollment'] / crdc_1516_cleaned['total_enrollment']) * crdc_1516_cleaned['hs_total_enrollment'],0)

In [13]:
"""Add HS Enrollment-Grouped Column"""
crdc_1516_cleaned['size_group'] = crdc_1516_cleaned['hs_total_enrollment'].apply(lambda x: school_sizer(x))

In [14]:
"""Add Region Columns"""
crdc_1516_cleaned['region_accred'] = crdc_1516_cleaned['LEA_STATE'].apply(lambda x: region_mapper(x))
crdc_1516_cleaned['region_census'] = crdc_1516_cleaned['LEA_STATE'].apply(lambda x: region_mapper_census(x))
crdc_1516_cleaned['region_nacep'] = crdc_1516_cleaned['LEA_STATE'].apply(lambda x: region_mapper_nacep(x))

In [15]:
"""Add Ethnicity Percentage/Quintile"""
crdc_1516_cleaned['pct_eth'] = crdc_1516_cleaned['total_nonwhite_enrollment'] / crdc_1516_cleaned['total_enrollment']
crdc_1516_cleaned['eth_quintile'] = crdc_1516_cleaned['pct_eth'].apply(lambda pct: eth_grouper(pct))

In [16]:
"""Add Locale Column"""
crdc_1516_cleaned['locale_group'] = crdc_1516_cleaned['LOCALE15'].map(locale_map)

# Filter non-Yes Schools and Examine Characteristics

In [17]:
from my_functions.extra_functions import school_grade_range, have_gr9_or_younger

**DE**

In [18]:
crdc_1516_deYes = crdc_1516_cleaned[crdc_1516_cleaned.SCH_DUAL_IND == 'Yes']

In [19]:
"""Number of schools which responded 'Yes' to the DE_Flag """
print(len(crdc_1516_deYes), 'Schools reported "Yes" to Dual Enrollment Flag Question')

13338 Schools reported "Yes" to Dual Enrollment Flag Question

In [20]:
"""Grade Ranges for Schools with DE Students"""
deYes_grade_range_list = school_grade_range(crdc_1516_deYes).join(crdc_1516_deYes[['total_enrollment', 'de_total_enrollment']].reset_index(drop = True), how = 'outer')

deYes_grade_range_dist = deYes_grade_range_list['grade_range'].value_counts().reset_index().sort_values('index').set_index('index')
deYes_grade_range_dist['pct_of_schools'] = round(deYes_grade_range_dist['grade_range'] / len(deYes_grade_range_list), 3)

deYes_grade_range_enrollments = pd.DataFrame(deYes_grade_range_list.groupby('grade_range')['total_enrollment'].sum())
deYes_grade_range_enrollments['pct_of_total_enrollment'] = round(deYes_grade_range_enrollments['total_enrollment'] / crdc_1516_deYes['total_enrollment'].sum(), 3)

deYes_grade_range_de_enrollments = pd.DataFrame(deYes_grade_range_list.groupby('grade_range')['de_total_enrollment'].sum())
deYes_grade_range_de_enrollments['pct_of_total_de_enrollment'] = round(deYes_grade_range_de_enrollments['de_total_enrollment'] / crdc_1516_deYes['de_total_enrollment'].sum(), 3)

deYes_grade_range_dist.index.names = ['Grade Ranges']
deYes_grade_range_dist.join(deYes_grade_range_enrollments).join(deYes_grade_range_de_enrollments).rename({'grade_range': '# schools'}, axis = 1)

,# schools,pct_of_schools,total_enrollment,pct_of_total_enrollment,de_total_enrollment,pct_of_total_de_enrollment
Grade Ranges,,,,,,
05-12,28,0.002,15233,0.001,1261,0.001
06-12,608,0.046,296730,0.026,24342,0.021
07-12,1659,0.124,574941,0.051,58581,0.051
08-12,195,0.015,156724,0.014,16287,0.014
09-11,28,0.002,11536,0.001,1425,0.001
09-12,9486,0.711,9299949,0.824,953205,0.828
10-12,232,0.017,263635,0.023,50881,0.044
11-12,79,0.006,31357,0.003,9095,0.008
11-only,1,0.000,32,0.000,32,0.000
12-only,3,0.000,495,0.000,104,0.000
kg-12,340,0.025,219076,0.019,8225,0.007
other,243,0.018,245034,0.022,20686,0.018
pk-12,436,0.033,173724,0.015,7711,0.007

** AP **

In [21]:
crdc_1516_apYes = crdc_1516_cleaned[crdc_1516_cleaned.SCH_APENR_IND == 'Yes']

In [22]:
"""Number of schools which responded 'Yes' to the AP_Flag """
len(crdc_1516_apYes)

12764

In [23]:
"""Grade Ranges for Schools with AP Students"""
apYes_grade_range_list = school_grade_range(crdc_1516_apYes).join(crdc_1516_apYes[['total_enrollment', 'ap_total_enrollment']].reset_index(drop = True), how = 'outer')

apYes_grade_range_dist = apYes_grade_range_list['grade_range'].value_counts().reset_index().sort_values('index').set_index('index')
apYes_grade_range_dist['pct_of_schools'] = round(apYes_grade_range_dist['grade_range'] / len(apYes_grade_range_list), 3)

apYes_grade_range_enrollments = pd.DataFrame(apYes_grade_range_list.groupby('grade_range')['total_enrollment'].sum())
apYes_grade_range_enrollments['pct_of_total_enrollment'] = round(apYes_grade_range_enrollments['total_enrollment'] / crdc_1516_apYes['total_enrollment'].sum(), 3)

apYes_grade_range_ap_enrollments = pd.DataFrame(apYes_grade_range_list.groupby('grade_range')['ap_total_enrollment'].sum())
apYes_grade_range_ap_enrollments['pct_of_total_ap_enrollment'] = round(apYes_grade_range_ap_enrollments['ap_total_enrollment'] / crdc_1516_apYes['ap_total_enrollment'].sum(), 3)

apYes_grade_range_dist.index.names = ['Grade Ranges']
apYes_grade_range_dist.join(apYes_grade_range_enrollments).join(apYes_grade_range_ap_enrollments).rename({'grade_range': '# schools'}, axis = 1)

,# schools,pct_of_schools,total_enrollment,pct_of_total_enrollment,ap_total_enrollment,pct_of_total_ap_enrollment
Grade Ranges,,,,,,
05-12,41,0.003,28091,0.002,4272,0.002
06-12,545,0.043,336590,0.025,48708,0.018
07-12,978,0.077,509683,0.038,67422,0.024
08-12,198,0.016,190004,0.014,29903,0.011
09-11,40,0.003,17514,0.001,4402,0.002
09-12,10093,0.791,11377353,0.851,2451415,0.888
10-12,230,0.018,297603,0.022,78824,0.029
11-12,33,0.003,17628,0.001,7692,0.003
12-only,1,0.000,391,0.000,36,0.000
kg-12,225,0.018,229713,0.017,14722,0.005
other,227,0.018,281418,0.021,48235,0.017
pk-12,153,0.012,80207,0.006,4179,0.002

# Analysis 
----------------------------------------------------------------------------------------------------------------------

In [24]:
"""Helper Functions"""
from my_functions.extra_functions import by_offering_enrollment_by_group_compiler

# Non-white By State

In [25]:
nonwhite_state_enrollments = by_offering_enrollment_by_group_compiler(crdc_1516_deYes, crdc_1516_apYes, 'LEA_STATE', 'nonwhite')
nonwhite_state_enrollments.index.name = 'State'
nonwhite_state_enrollments

,HS nonwhite Students in DE Offering,%HS nonwhite Students in DE Offering,DE nonwhite Students,%Total nonwhite DE Students,nonwhite DE Gap,DE nonwhite Participation Rate,HS nonwhite Students in AP Offering,%HS nonwhite Students in AP Offering,AP nonwhite Students,%Total nonwhite AP Students,nonwhite AP Gap,AP nonwhite Participation Rate
State,,,,,,,,,,,,
AK,10859,0.2,1084,0.3,0.1,10.0,12304,0.2,1556,0.1,-0.1,12.6
AL,76183,1.6,2738,0.7,-0.9,3.6,75318,1.2,9589,0.8,-0.4,12.7
AR,32357,0.7,3273,0.8,0.1,10.1,44604,0.7,9599,0.8,0.1,21.5
AZ,118261,2.5,11526,2.9,0.4,9.7,158318,2.5,25643,2.1,-0.4,16.2
CA,465603,9.7,22327,5.6,-4.1,4.8,1244345,19.8,294596,23.6,3.8,23.7
CO,87805,1.8,6882,1.7,-0.1,7.8,94799,1.5,18677,1.5,0.0,19.7
CT,41894,0.9,5199,1.3,0.4,12.4,56721,0.9,9480,0.8,-0.1,16.7
DC,2417,0.1,37,0.0,-0.1,1.5,13456,0.2,3553,0.3,0.1,26.4
DE,13792,0.3,516,0.1,-0.2,3.7,16223,0.3,2481,0.2,-0.1,15.3
FL,426946,8.9,26613,6.7,-2.2,6.2,436350,7.0,101424,8.1,1.1,23.2
GA,262980,5.5,8471,2.1,-3.4,3.2,276113,4.4,55732,4.5,0.1,20.2
HI,44110,0.9,2367,0.6,-0.3,5.4,42250,0.7,5557,0.4,-0.3,13.2
IA,27462,0.6,4763,1.2,0.6,17.3,23911,0.4,3564,0.3,-0.1,14.9
ID,15055,0.3,3301,0.8,0.5,21.9,12078,0.2,2060,0.2,0.0,17.1
IL,227783,4.7,17114,4.3,-0.4,7.5,270477,4.3,56457,4.5,0.2,20.9
IN,72188,1.5,16915,4.2,2.7,23.4,71491,1.1,12231,1.0,-0.1,17.1
KS,34733,0.7,5121,1.3,0.6,14.7,33783,0.5,4892,0.4,-0.1,14.5
KY,30013,0.6,2348,0.6,0.0,7.8,35450,0.6,7285,0.6,0.0,20.6
LA,80743,1.7,6365,1.6,-0.1,7.9,77268,1.2,9825,0.8,-0.4,12.7
MA,37434,0.8,1104,0.3,-0.5,2.9,83710,1.3,15519,1.2,-0.1,18.5
MD,129662,2.7,2504,0.6,-2.1,1.9,143333,2.3,33256,2.7,0.4,23.2
ME,3527,0.1,206,0.1,0.0,5.8,4718,0.1,778,0.1,0.0,16.5
MI,94630,2.0,4230,1.1,-0.9,4.5,103797,1.7,15948,1.3,-0.4,15.4
MN,50738,1.1,4198,1.1,0.0,8.3,51763,0.8,10253,0.8,0.0,19.8
MO,52908,1.1,6641,1.7,0.6,12.6,54072,0.9,8116,0.6,-0.3,15.0
MS,60801,1.3,2951,0.7,-0.6,4.9,58660,0.9,5212,0.4,-0.5,8.9
MT,6255,0.1,430,0.1,0.0,6.9,5707,0.1,505,0.0,-0.1,8.8
NC,150694,3.1,11862,3.0,-0.1,7.9,200373,3.2,24458,2.0,-1.2,12.2
ND,5302,0.1,460,0.1,0.0,8.7,3491,0.1,401,0.0,-0.1,11.5
NE,26178,0.5,3710,0.9,0.4,14.2,22307,0.4,3294,0.3,-0.1,14.8
NH,4673,0.1,364,0.1,0.0,7.8,7115,0.1,965,0.1,0.0,13.6
NJ,122186,2.5,15019,3.8,1.3,12.3,188395,3.0,31703,2.5,-0.5,16.8
NM,53445,1.1,7320,1.8,0.7,13.7,56348,0.9,11821,0.9,0.0,21.0
NV,20871,0.4,1091,0.3,-0.1,5.2,84900,1.4,14399,1.2,-0.2,17.0
NY,211105,4.4,30435,7.6,3.2,14.4,358353,5.7,65241,5.2,-0.5,18.2
OH,106228,2.2,7770,2.0,-0.2,7.3,96026,1.5,11984,1.0,-0.5,12.5
OK,68320,1.4,2900,0.7,-0.7,4.2,72189,1.2,11510,0.9,-0.3,15.9
OR,47306,1.0,9108,2.3,1.3,19.3,44561,0.7,8815,0.7,0.0,19.8
PA,72856,1.5,3264,0.8,-0.7,4.5,131980,2.1,18401,1.5,-0.6,13.9
RI,7120,0.1,517,0.1,0.0,7.3,13636,0.2,1895,0.2,0.0,13.9
SC,94364,2.0,4418,1.1,-0.9,4.7,89114,1.4,8170,0.7,-0.7,9.2
SD,6889,0.1,294,0.1,0.0,4.3,6092,0.1,428,0.0,-0.1,7.0
TN,72748,1.5,3456,0.9,-0.6,4.8,77999,1.2,8822,0.7,-0.5,11.3
TX,900374,18.7,81353,20.4,1.7,9.0,937232,14.9,225984,18.1,3.2,24.1
UT,30519,0.6,3492,0.9,0.3,11.4,33597,0.5,6264,0.5,0.0,18.6
VA,145917,3.0,9126,2.3,-0.7,6.3,172399,2.7,35156,2.8,0.1,20.4
VT,2096,0.0,173,0.0,0.0,8.3,2219,0.0,366,0.0,0.0,16.5
WA,93938,2.0,23423,5.9,3.9,24.9,108728,1.7,24154,1.9,0.2,22.2
WI,52527,1.1,8418,2.1,1.0,16.0,58398,0.9,10284,0.8,-0.1,17.6
WV,5908,0.1,378,0.1,0.0,6.4,6955,0.1,1017,0.1,0.0,14.6
WY,4471,0.1,761,0.2,0.1,17.0,3587,0.1,456,0.0,-0.1,12.7