# <u> NACEP </u>
## 2015-16 CRDC
## High School Filtration

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from my_functions import combokey_converter

%matplotlib inline
sns.set_style('whitegrid')
plt.rc('axes', titlesize = 14, titleweight = 'bold', labelweight = 'bold')

# <font color = green> I. Column Info </font>

#  Column info for crdc_1516 
<b><div class="alert alert-block alert-info"> Contains 111 Fields </b>

In [2]:
crdc_cols = pd.read_csv('../filtered_data/00_crdc_1516_initial_layout.csv')

In [3]:
with pd.option_context('display.max_colwidth', 150, 'display.max_rows', 125):
    display(crdc_cols.drop('Module', axis = 1).set_index('Field_Name'))

                                                                                                                             Field_Description
Field_Name
LEA_STATE                                                                                                          District State Abbreviation
LEA_STATE_NAME                                                                                                             District State Name
LEAID                                                                                               7 Digit LEAID District Identification Code
LEA_NAME                                                                                                                         District Name
SCHID                                                                                                       5 Digit School Identification Code
SCH_NAME                                                                                                                           School Name
COMBOKEY                                                         7 Digit LEAID District Identification Code+5 Digit School Identification Code
JJ                                    Juvenile Justice Facility: "Yes" indicates a long-term secure facility; "No" indicates not a JJ facility
SCH_GRADE_PS                                                                                          Grades with Students Enrolled: Preschool
SCH_GRADE_KG                                                                                       Grades with Students Enrolled: Kindergarten
SCH_GRADE_G01                                                                                           Grades with Students Enrolled: Grade 1
SCH_GRADE_G02                                                                                           Grades with Students Enrolled: Grade 2
SCH_GRADE_G03                                                                                           Grades with Students Enrolled: Grade 3
SCH_GRADE_G04                                                                                           Grades with Students Enrolled: Grade 4
SCH_GRADE_G05                                                                                           Grades with Students Enrolled: Grade 5
SCH_GRADE_G06                                                                                           Grades with Students Enrolled: Grade 6
SCH_GRADE_G07                                                                                           Grades with Students Enrolled: Grade 7
SCH_GRADE_G08                                                                                           Grades with Students Enrolled: Grade 8
SCH_GRADE_G09                                                                                           Grades with Students Enrolled: Grade 9
SCH_GRADE_G10                                                                                          Grades with Students Enrolled: Grade 10
SCH_GRADE_G11                                                                                          Grades with Students Enrolled: Grade 11
SCH_GRADE_G12                                                                                          Grades with Students Enrolled: Grade 12
SCH_GRADE_UG                                                                                           Grades with Students Enrolled: Ungraded
SCH_UGDETAIL_HS                                                                                      Ungraded Detail: High school age students
SCH_STATUS_SPED                                                                               School Characteristics: Special education school
SCH_STATUS_MAGNET                                 School Characteristics: Magnet school or school operating a magnet program within the school
SCH_STATUS_CHARTER                                                                                      School Characteristics: Charter school
SCH_STATUS_ALT                                                                                      School Characteristics: Alternative school
SCH_ENR_HI_M                                                                                         Overall Student Enrollment: Hispanic Male
SCH_ENR_HI_F                                                                                       Overall Student Enrollment: Hispanic Female
SCH_ENR_AM_M                                                                    Overall Student Enrollment: American Indian/Alaska Native Male
SCH_ENR_AM_F                                                                  Overall Student Enrollment: American Indian/Alaska Native Female
SCH_ENR_AS_M                                                                                            Overall Student Enrollment: Asian Male
SCH_ENR_AS_F                                                                                          Overall Student Enrollment: Asian Female
SCH_ENR_HP_M                                                                 Overall Student Enrollment: Native Hawaiian/Pacific Islander Male
SCH_ENR_HP_F                                                               Overall Student Enrollment: Native Hawaiian/Pacific Islander Female
SCH_ENR_BL_M                                                                                            Overall Student Enrollment: Black Male
SCH_ENR_BL_F                                                                                          Overall Student Enrollment: Black Female
SCH_ENR_WH_M                                                                                            Overall Student Enrollment: White Male
SCH_ENR_WH_F                                                                                          Overall Student Enrollment: White Female
SCH_ENR_TR_M                                                                                Overall Student Enrollment: Two or More Races Male
SCH_ENR_TR_F                                                                              Overall Student Enrollment: Two or More Races Female
TOT_ENR_M                                                                                    Overall Student Enrollment: Calculated Male Total
TOT_ENR_F                                                                                  Overall Student Enrollment: Calculated Female Total
SCH_ENR_LEP_M                                                                                             Overall Student Enrollment: LEP Male
SCH_ENR_LEP_F                                                                                           Overall Student Enrollment: LEP Female
SCH_ENR_IDEA_M                                                                                           Overall Student Enrollment: IDEA Male
SCH_ENR_IDEA_F                                                                                         Overall Student Enrollment: IDEA Female
SCH_DUAL_IND                                                                                                 Dual Enrollment Program Indicator
SCH_DUALENR_HI_M                                                                                                Dual Enrollment: Hispanic Male
SCH_DUALENR_HI_F                                                                                              Dual Enrollment: Hispanic Female
SCH_DUALENR_AM_M                                                                           Dual Enrollment: American Indian/Alaska Native Male
SCH_DUALENR_AM_F                                                                         Dual Enrollment: American Indian/Alaska Native Female
SCH_DUALENR_AS_M                                                                                                   Dual Enrollment: Asian Male
SCH_DUALENR_AS_F                                                                                                 Dual Enrollment: Asian Female
SCH_DUALENR_HP_M                                                                        Dual Enrollment: Native Hawaiian/Pacific Islander Male
SCH_DUALENR_HP_F                                                                      Dual Enrollment: Native Hawaiian/Pacific Islander Female
SCH_DUALENR_BL_M                                                                                                   Dual Enrollment: Black Male
SCH_DUALENR_BL_F                                                                                                 Dual Enrollment: Black Female
SCH_DUALENR_WH_M                                                                                                   Dual Enrollment: White Male
SCH_DUALENR_WH_F                                                                                                 Dual Enrollment: White Female
SCH_DUALENR_TR_M                                                                                       Dual Enrollment: Two or More Races Male
SCH_DUALENR_TR_F                                                                                     Dual Enrollment: Two or More Races Female
TOT_DUAL_M                                                                                              Dual Enrollment: Calculated Male Total
TOT_DUAL_F                                                                                            Dual Enrollment: Calculated Female Total
SCH_DUALENR_LEP_M                                                                                                    Dual Enrollment: LEP Male
SCH_DUALENR_LEP_F                                                                                                  Dual Enrollment: LEP Female
SCH_DUALENR_IDEA_M                                                                                                  Dual Enrollment: IDEA Male
SCH_DUALENR_IDEA_F                                                                                                Dual Enrollment: IDEA Female
SCH_APENR_IND       Advanced Placement (AP) Program Indicator: Does this school have any students enrolled in Advanced Placement (AP) courses?
SCH_APENR_HI_M                                                                      Students Enrolled in at least one AP Course: Hispanic Male
SCH_APENR_HI_F                                                                    Students Enrolled in at least one AP Course: Hispanic Female
SCH_APENR_AM_M                                                 Students Enrolled in at least one AP Course: American Indian/Alaska Native Male
SCH_APENR_AM_F                                               Students Enrolled in at least one AP Course: American Indian/Alaska Native Female
SCH_APENR_AS_M                                                                         Students Enrolled in at least one AP Course: Asian Male
SCH_APENR_AS_F                                                                       Students Enrolled in at least one AP Course: Asian Female
SCH_APENR_HP_M                                              Students Enrolled in at least one AP Course: Native Hawaiian/Pacific Islander Male
SCH_APENR_HP_F                                            Students Enrolled in at least one AP Course: Native Hawaiian/Pacific Islander Female
SCH_APENR_BL_M                                                                         Students Enrolled in at least one AP Course: Black Male
SCH_APENR_BL_F                                                                       Students Enrolled in at least one AP Course: Black Female
SCH_APENR_WH_M                                                                         Students Enrolled in at least one AP Course: White Male
SCH_APENR_WH_F                                                                       Students Enrolled in at least one AP Course: White Female
SCH_APENR_TR_M                                                             Students Enrolled in at least one AP Course: Two or More Races Male
SCH_APENR_TR_F                                                           Students Enrolled in at least one AP Course: Two or More Races Female
TOT_APENR_M                                                                 Students Enrolled in at least one AP Course: Calculated Male Total
TOT_APENR_F                                                               Students Enrolled in at least one AP Course: Calculated Female Total
SCH_APENR_LEP_M                                                                          Students Enrolled in at least one AP Course: LEP Male
SCH_APENR_LEP_F                                                                        Students Enrolled in at least one AP Course: LEP Female
SCH_APENR_IDEA_M                                                                        Students Enrolled in at least one AP Course: IDEA Male
SCH_APENR_IDEA_F                                                                      Students Enrolled in at least one AP Course: IDEA Female
SCH_IBENR_IND                                                                          International Baccalaureate Diploma Programme Indicator
SCH_IBENR_HI_M                                                                                            IB Student Enrollment: Hispanic Male
SCH_IBENR_HI_F                                                                                          IB Student Enrollment: Hispanic Female
SCH_IBENR_AM_M                                                                       IB Student Enrollment: American Indian/Alaska Native Male
SCH_IBENR_AM_F                                                                     IB Student Enrollment: American Indian/Alaska Native Female
SCH_IBENR_AS_M                                                                                               IB Student Enrollment: Asian Male
SCH_IBENR_AS_F                                                                                             IB Student Enrollment: Asian Female
SCH_IBENR_HP_M                                                                    IB Student Enrollment: Native Hawaiian/Pacific Islander Male
SCH_IBENR_HP_F                                                                  IB Student Enrollment: Native Hawaiian/Pacific Islander Female
SCH_IBENR_BL_M                                                                                               IB Student Enrollment: Black Male
SCH_IBENR_BL_F                                                                                             IB Student Enrollment: Black Female
SCH_IBENR_WH_M                                                                                               IB Student Enrollment: White Male
SCH_IBENR_WH_F                                                                                             IB Student Enrollment: White Female
SCH_IBENR_TR_M                                                                                   IB Student Enrollment: Two or More Races Male
SCH_IBENR_TR_F                                                                                 IB Student Enrollment: Two or More Races Female
TOT_IBENR_M                                                                                       IB Student Enrollment: Calculated Male Total
TOT_IBENR_F                                                                                     IB Student Enrollment: Calculated Female Total
SCH_IBENR_LEP_M                                                                                                IB Student Enrollment: LEP Male
SCH_IBENR_LEP_F                                                                                              IB Student Enrollment: LEP Female
SCH_IBENR_IDEA_M                                                                                              IB Student Enrollment: IDEA Male
SCH_IBENR_IDEA_F                                                                                            IB Student Enrollment: IDEA Female

In [4]:
len(crdc_cols.index)

111

# Column info for nces_1516
<div class="alert alert-block alert-info">**17 Fields**

In [5]:
nces_cols = pd.read_csv('../filtered_data/01_nces_1516_initial_ccd_layout.csv')

In [6]:
"""Replace \n literals with commas for readability"""
nces_cols['Categorical Values'] = nces_cols['Categorical Values'].apply(lambda x: x.replace('\n', ', ') if type(x) == str else x)

In [7]:
with pd.option_context('display.max_colwidth', 350, 'display.max_rows', 25):
    display(nces_cols[['Variable Name', 'Description', 'Categorical Values']])

,Variable Name,Description,Categorical Values
0,LEAID,NCES Agency Identification Number,NaN
1,LEA_NAME,LEA Name,NaN
2,SCHID,NCES school identifier,NaN
3,STABR,State Abreviation,NaN
4,SCH_NAME,School name,NaN
5,TITLEI,Title I Eligible School. This flag indicates whether a school is eligible for participation in either TAS or SWP program authorized by Title I of Public Law 103-382.,"No, Yes, Missing, Not applicable, -9-Suppressed"
6,SCH_TYPE_TEXT,School type (description),"Alternative Education School, Regular School, Special Education School, Vocational Education School,"
7,SCH_TYPE,School type (code),"1 = Regular school, 2 = Special education school, 3 = Vocational school, 4 = Other/alternative school, 5 = Reportable program (new code starting in 2007–08),"
8,LEVEL,School level,"1 = Primary (low grade = PK through 03; high grade = PK through 08), 2 = Middle (low grade = 04 through 07; high grade = 04 through 09), 3 = High (low grade = 07 through 12; high grade = 12 only), 4 = Other (any other configuration not falling within the above three categories;including ungraded), N = Not applicable, ,"
9,VIRTUAL,Virtual School Status,"Missing, No, Yes"
10,GSLO,Lowest Grade Offered,NaN
11,GSHI,Highest Grade Offered,NaN
12,combokey,nces + schid unique identifier,NaN
13,NMCNTY15,County Code,NaN
14,LOCALE15,Locale Code,NaN
15,LAT1516,Latitude,NaN
16,LON1516,Longitutde,NaN

In [8]:
len(nces_cols.index)

17

# <font color = green> II. Data Cleaning/Joining </font>

# crdc_1516 Data
<div class="alert alert-block alert-info"><b> 96,360 Schools before any filtering <br>
111 Fields (Matches the crdc_cols)</b></div>
<br><br>
Used combokey_convert.converter to create a csv-compatible "COMBOKEY"

In [9]:
crdc_1516 = pd.read_csv('../filtered_data/00_crdc_1516_initial.csv', 
                        dtype = {'LEAID':np.object})

In [10]:
crdc_1516['COMBOKEY'] = combokey_converter.convert(crdc_1516, 'LEAID', 'SCHID')

In [11]:
crdc_1516.head()

,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,SCH_NAME,COMBOKEY,JJ,SCH_GRADE_PS,SCH_GRADE_KG,...,SCH_IBENR_WH_M,SCH_IBENR_WH_F,SCH_IBENR_TR_M,SCH_IBENR_TR_F,TOT_IBENR_M,TOT_IBENR_F,SCH_IBENR_LEP_M,SCH_IBENR_LEP_F,SCH_IBENR_IDEA_M,SCH_IBENR_IDEA_F
0,AL,ALABAMA,100002,Alabama Youth Services,1705,Wallace Sch - Mt Meigs Campus,='010000201705',Yes,No,No,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
1,AL,ALABAMA,100002,Alabama Youth Services,1706,McNeel Sch - Vacca Campus,='010000201706',Yes,No,No,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
2,AL,ALABAMA,100002,Alabama Youth Services,1876,Alabama Youth Services,='010000201876',No,No,No,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
3,AL,ALABAMA,100002,Alabama Youth Services,99995,AUTAUGA CAMPUS,='010000299995',Yes,No,No,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
4,AL,ALABAMA,100005,Albertville City,870,Albertville Middle School,='010000500870',No,No,No,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9

In [12]:
len(crdc_1516.index)

96360

In [13]:
len(crdc_1516.columns)

111

# nces_1516 Data
<div class="alert alert-block alert-info"><b> The nces_1516 Data was recorded in separate files (each with different numbers of schools), so I will have to join the separate files to avoid corruption/loss of data. </b><br>
    <u>Files</u><br>
    1. Characteristics <br>
    2. Directory <br>
    3. Geographic <br>
</div><div class = 'alert alert-block alert-info'>
Like the crdc data, the combokey field was generated using my combokey_converter.convert function.<br></div>

<div class="alert alert-block alert-warning">
1. **100232 Initial Schools**<br><br>
2. **After first inner join (Directory and Characteristics) --> 100232 schools**<br>
Note: I ran a check to ensure that all of the matching combokeys have matching school names -- 100% identical.<br><br>
3. **After second inner join (above_combined and Geographic) --> 100087**<br> Note:  I ran the same check to ensure that all of the schools matched and nearly 9000 came back as non-matching.  I then compared the first word of each of the two name fields, and only 9 schools came back as non-matching.  After close examination, I decided to cull these 9 schools.<br></div><div class = 'alert alert-block alert-warning'>
**CSV saved to '../filtered_data/01_nces_1516_initial_ccd.csv'**

In [14]:
nces_1516_characteristics = pd.read_csv('../filtered_data/01_nces_1516_initial_school_characteristics.csv')

In [15]:
nces_1516_characteristics['combokey'] = combokey_converter.convert(nces_1516_characteristics, 'LEAID', 'SCHID')

In [16]:
len(nces_1516_characteristics.index)

100232

In [17]:
nces_1516_directory = pd.read_csv('../filtered_data/01_nces_1516_initial_school_directory.csv')

In [18]:
nces_1516_directory['combokey'] = combokey_converter.convert(nces_1516_directory, 'LEAID', 'SCHID')

**First Join:  Directory + Characteristics**

In [19]:
nces_1516 = nces_1516_characteristics.set_index('combokey').join(nces_1516_directory.set_index('combokey'), how = 'inner', lsuffix = 'dir_')

In [20]:
len(nces_1516.index)

100232

In [21]:
len(nces_1516[nces_1516.SCH_NAME == nces_1516.SCH_NAMEdir_].index)

100232

In [22]:
nces_1516 = nces_1516.drop(['LEAIDdir_', 'SCHIDdir_', 'SCH_NAMEdir_'], axis = 1)

**Second Join: combined + geo**

In [23]:
nces_1516_geo = pd.read_csv('../filtered_data/01_nces_1516_initial_geographic.csv',  dtype = {'LOCALE15': np.object})

In [24]:
nces_1516_geo['combokey'] = combokey_converter.convert(nces_1516_geo, 'LEAID', 'SCHID')

In [25]:
nces_1516_test = nces_1516.join(nces_1516_geo.set_index('combokey'), how = 'inner', rsuffix = 'dir_')

In [26]:
len(nces_1516_test.index)

100096

In [27]:
"""How many schools have matching School Names between CRDC and NCES?"""
len(nces_1516_test[nces_1516_test.SCH_NAME == nces_1516_test.NAME].index)

91091

In [28]:
def name_checker(sch1, sch2):
    sch1 = sch1.lower()
    sch2 = sch2.lower()
    
    if sch1[0] == sch2[0]:
        return 0
    return 1

nces_1516_test['no_match_name'] = nces_1516_test.apply(lambda row: name_checker(row['SCH_NAME'], row['NAME']), axis = 1)
nces_1516_test[nces_1516_test.no_match_name == 1][['NAME', 'SCH_NAME']]

,NAME,SCH_NAME
combokey,,
='051266001562',HYLTON JUNIOR HIGH SCHOOL,LAKESIDE JUNIOR HIGH SCHOOL
='090147001810',Stowe - Early Learning Center (S,EPS PK STEAM Academy
='090171001700',Alternative High School Programs,Greenwich Alternative High School
='090192001616',STEM Magnet School at Dwight,Betances STEM Magnet School
='090279000148',Hyde School of Health Science an,Cortlandt V.R. Creed Health and Sport Sciences...
='090279001543',Helene Grant Headstart,Dr. Mayo Early Childhood School
='090279001585',Katherine Brennan/Clarence Roger,Brennan Rogers School
='090351201476',Education Connection Special Edu,GFLC/ACCESS School
='090423001808',Hatton Preschool Program,Southington Public Schools Preschool Program a...

In [29]:
nces_1516_full = nces_1516_test[nces_1516_test.no_match_name == 0].drop(['LEAIDdir_', 'SCHIDdir_', 'no_match_name', 'NAME'], axis = 1)

In [30]:
nces_1516_full.head()

,TITLEI,LEAID,LEA_NAME,STABR,SCHID,SCH_NAME,SCH_TYPE_TEXT,SCH_TYPE,LEVEL,VIRTUAL,GSLO,GSHI,NMCNTY15,LOCALE15,LAT1516,LON1516
combokey,,,,,,,,,,,,,,,,
='010000200277',-9,100002,Alabama Youth Services,AL,277,Sequoyah Sch - Chalkville Campus,Alternative Education School,4,3,No,7,12,Jefferson County,21,33.673661,-86.628755
='010000201667',-9,100002,Alabama Youth Services,AL,1667,Camps,Alternative Education School,4,3,No,7,12,Autauga County,41,32.521681,-86.530132
='010000201670',-9,100002,Alabama Youth Services,AL,1670,Det Ctr,Alternative Education School,4,3,No,7,12,Clarke County,41,31.938444,-87.750529
='010000201705',-9,100002,Alabama Youth Services,AL,1705,Wallace Sch - Mt Meigs Campus,Alternative Education School,4,3,No,7,12,Montgomery County,41,32.374812,-86.082360
='010000201706',-9,100002,Alabama Youth Services,AL,1706,McNeel Sch - Vacca Campus,Alternative Education School,4,3,No,7,12,Jefferson County,12,33.583385,-86.710058

In [31]:
len(nces_1516_full.index)

100087

In [32]:
# nces_1516_full.to_csv('../filtered_data/01_nces_1516_initial_combined_ccd.csv')

# NCES (combined) and CRDC join
<div class="alert alert-block alert-warning">Out of the 96360 schools in the crdc1516 dataset, <b>3861</b> schools did not have a matching Combokey. These non-matching schools were kept in the dataset.<br><br>

Using the name checker function from above, another <b>182</b> schools were found to have School Names whose first words did not match between the NCES and CRDC sets.  Airing on the side of caution, these schools were indiscriminately culled.<br><br>

**Final school count in the combined dataset:  96178**</div>
<div class = 'alert alert_block alert-info'>Dataset saved to '03_crdc_nces_1516_raw_combined.csv'

In [33]:
crdc_nces1516_test = crdc_1516.set_index('COMBOKEY').join(nces_1516_full, how = 'left', rsuffix=('_'))

In [34]:
crdc_nces1516_test[crdc_nces1516_test.SCH_NAME_.isnull()].LEAID.count()

3861

In [35]:
def name_checker(sch1, sch2):
    if type(sch2) == float:
        return 2
    else:
        sch1 = sch1.lower()
        sch2 = sch2.lower()
        
    if sch1[0] == sch2[0]:
        return 0
    return 1

crdc_nces1516_test['no_match_name'] = crdc_nces1516_test.apply(lambda row: name_checker(row['SCH_NAME'], row['SCH_NAME_']), axis = 1)

In [36]:
"""How many schools don't have matching Schools Names (from the CRDC and NCES datasets, respectively)"""
len(crdc_nces1516_test[crdc_nces1516_test.no_match_name == 1][['SCH_NAME', 'SCH_NAME_']].index)

182

In [37]:
crdc_nces_1516 = crdc_nces1516_test[crdc_nces1516_test.no_match_name != 1].drop(['LEA_NAME_', 'LEAID_', 'SCHID_', 'SCH_NAME_', 'no_match_name'], axis = 1)

In [38]:
len(crdc_nces_1516.index)

96178

In [39]:
crdc_nces_1516 = crdc_nces_1516.fillna('Missing')

In [40]:
# crdc_nces_1516.to_csv('../filtered_data/03_crdc_nces_1516_raw_combined.csv')

# <font color = green> IV. Filtration </font>

# Select Non-[Junvile Justice, Special Education, and Alternative Schools]
<div class = 'alert alert-block alert-info'>Schools that answered 'No' to each of those three questions on the CRDC Sruvey.<br><br> 
I also used a keyword filter to remove any remaining "Juvenile Justice"-eque Institutions.</div>
<div class = 'alert alert-block alert-warning'>**90448** Schools Remain</div>

In [41]:
filter1_crdc_nces_1516 = crdc_nces_1516[(crdc_nces_1516.JJ == 'No') & (crdc_nces_1516.SCH_STATUS_ALT == 'No') & (crdc_nces_1516.SCH_STATUS_SPED == 'No')]

In [42]:
def jj_keyword_remove(name):
    kws = ['behavioral', 'juvenile', 'correction']
    for kw in kws:
        if kw in name.strip().lower():
            return False
    return True

filter1_crdc_nces_1516 = filter1_crdc_nces_1516[filter1_crdc_nces_1516.SCH_NAME.apply(lambda x: jj_keyword_remove(x))]
filter1_crdc_nces_1516 = filter1_crdc_nces_1516[filter1_crdc_nces_1516.LEA_NAME.apply(lambda x: jj_keyword_remove(x))]

In [43]:
len(filter1_crdc_nces_1516.index)

90448

# Select Schools with Lowest Grade (9-12) or Highest Grade (12) or Ungraded HS-students
<div class = 'alert alert-block alert-info'>I made formulas that take in the data from CRDC (because there are no null values for the Grade Enrollment Flags), and determines: (1) if a school's lowest grade offered is above 9, (2) if it contains ungraded HS-aged studnets, and (3) if a school's highest grade offered is 12th.<br><br>While NCES CCD does have columns for lowest and highest grades, there were many null values, so the filtration may have been too intense.</div>
<div class = 'alert alert-block alert-warning'>**21606** Schools Remain</div>

In [44]:
"""How many missing values in the grade columns?"""
np.sum(filter1_crdc_nces_1516.SCH_GRADE_G01.isnull())

0

In [46]:
filter2_crdc_nces_1516 = filter1_crdc_nces_1516.copy()

In [47]:
from my_functions.extra_functions import students_in_11_or_12
filter2_crdc_nces_1516['Students_in_11_12'] = filter2_crdc_nces_1516.apply(lambda row: students_in_11_or_12(row['SCH_GRADE_G11'], row['SCH_GRADE_G12']), axis = 1)

In [48]:
"""Breakdown of Schools with a Lowest Grade Above 9 (or with Ungrade HS-aged Students)"""
filter2_crdc_nces_1516.Students_in_11_12.value_counts()

No     69830
Yes    20618
Name: Students_in_11_12, dtype: int64

In [49]:
filter2_crdc_nces_1516 = filter2_crdc_nces_1516[(filter2_crdc_nces_1516.Students_in_11_12 == 'Yes')]

In [50]:
len(filter2_crdc_nces_1516.index)

20618

# Remove Virtual Schools
<div class = 'alert alert-block alert-info'>
1. Remove any Schools that reported 'Yes' to the Virtual Schools Question<br>
2. Remove Schools that have certain keyword that likely indicate an online school
</div>
<div class = 'alert alert-block alert-warning'>**21209** Schools Remain</div>

In [51]:
filter2_crdc_nces_1516.VIRTUAL.value_counts()

No         16820
Missing     3490
Yes          308
Name: VIRTUAL, dtype: int64

In [52]:
filter3_crdc_nces_1516 = filter2_crdc_nces_1516[filter2_crdc_nces_1516.VIRTUAL != 'Yes']

In [53]:
len(filter3_crdc_nces_1516.index)

20310

In [54]:
def any_missed_virtuals(name):
    kws = ['virtual', 'cyber', 'electronic', 'internet', 'online', 'distance']
    for kw in kws:
        if kw in name.strip().lower():
            return False
    return True

filter3_crdc_nces_1516 = filter3_crdc_nces_1516[filter3_crdc_nces_1516.SCH_NAME.apply(lambda x: any_missed_virtuals(x))]

In [55]:
len(filter3_crdc_nces_1516.index)

20245

# Remove schools reported as elementary, middle, or 'N'
<div class = 'alert alert-block alert-info'>Even with the Lowest/Highest Grade filter, I wanted to ensure that no non-typical high schools (as reported by the NCES's LEVEL Field) are retained.  The Other category is perhaps the most important to cull here, as many of the very, very large charter-type schools are listed in this category.
<br><br>
Schools with Missing Values were retained.
</div>
<div class = 'alert alert-block alert-warning'>**17542** Schools Remain</div>

In [56]:
filter4_crdc_nces_1516 = filter3_crdc_nces_1516.copy()

In [57]:
filter4_crdc_nces_1516.LEVEL.value_counts()

3          16295
4           2791
Missing     1004
1             65
N             65
2             25
Name: LEVEL, dtype: int64

In [58]:
filter4_crdc_nces_1516 = filter4_crdc_nces_1516[(filter4_crdc_nces_1516.LEVEL == 'Missing') | (filter4_crdc_nces_1516.LEVEL == '3') | (filter4_crdc_nces_1516.LEVEL == '4')]

In [59]:
len(filter4_crdc_nces_1516.index)

20090

In [60]:
filter4_crdc_nces_1516[filter4_crdc_nces_1516.LEVEL == '4']

,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,SCH_NAME,JJ,SCH_GRADE_PS,SCH_GRADE_KG,SCH_GRADE_G01,...,SCH_TYPE,LEVEL,VIRTUAL,GSLO,GSHI,NMCNTY15,LOCALE15,LAT1516,LON1516,Students_in_11_12
COMBOKEY,,,,,,,,,,,,,,,,,,,,,
='010000600872',AL,ALABAMA,100006,Marshall County,872,Asbury Sch,No,No,No,No,...,1,4,No,6,12,Marshall County,42,34.3628,-86.1422,Yes
='010004101852',AL,ALABAMA,100041,"Developing Alabama Youth Foundation, (DAY) Inc.",1852,Developing Alabama Youth Prog,No,No,No,No,...,1,4,No,7,11,Shelby County,21,33.2315,-86.8265,Yes
='010004401855',AL,ALABAMA,100044,The Rushton School,1855,The Rushton School,No,No,No,No,...,4,4,No,6,12,Jefferson County,12,33.5454,-86.758,Yes
='010018802194',AL,ALABAMA,100188,Chickasaw City,2194,Chickasaw City High School,No,No,No,No,...,1,4,No,6,12,Mobile County,21,30.7571,-88.0785,Yes
='010024000045',AL,ALABAMA,100240,Autauga County,45,Billingsley High Sch,No,No,Yes,Yes,...,1,4,No,KG,12,Autauga County,42,32.6622,-86.7018,Yes
='010024001408',AL,ALABAMA,100240,Autauga County,1408,Autaugaville Sch,No,No,Yes,Yes,...,1,4,No,KG,12,Autauga County,42,32.4337,-86.6596,Yes
='010039000141',AL,ALABAMA,100390,Birmingham City,141,Huffman High Sch-Magnet,No,No,No,No,...,1,4,No,PK,12,Jefferson County,12,33.6129,-86.682,Yes
='010042000203',AL,ALABAMA,100420,Blount County,203,Appalachian †Sch,No,No,Yes,Yes,...,1,4,No,KG,12,Blount County,42,33.8879,-86.3971,Yes
='010042000211',AL,ALABAMA,100420,Blount County,211,Southeastern Elem Sch,No,No,Yes,Yes,...,1,4,No,KG,12,Blount County,41,33.8314,-86.584,Yes
='010051000229',AL,ALABAMA,100510,Butler County,229,McKenzie High Sch,No,Yes,Yes,Yes,...,1,4,No,PK,12,Butler County,43,31.546,-86.7146,Yes
='010051002144',AL,ALABAMA,100510,Butler County,2144,Georgiana School,No,Yes,Yes,Yes,...,1,4,No,PK,12,Butler County,43,31.6268,-86.7299,Yes
='010054000232',AL,ALABAMA,100540,Calhoun County,232,Alexandria High Sch,No,No,No,No,...,1,4,No,6,12,Calhoun County,41,33.7743,-85.8866,Yes
='010063000274',AL,ALABAMA,100630,Cherokee County,274,Cedar Bluff High Sch,No,No,Yes,Yes,...,1,4,No,KG,12,Cherokee County,32,34.2198,-85.6045,Yes
='010063000279',AL,ALABAMA,100630,Cherokee County,279,Gaylesville High Sch,No,Yes,Yes,Yes,...,1,4,No,PK,12,Cherokee County,42,34.2711,-85.56,Yes
='010063000282',AL,ALABAMA,100630,Cherokee County,282,Sand Rock High Sch,No,Yes,Yes,Yes,...,1,4,No,KG,12,Cherokee County,42,34.241,-85.7674,Yes
='010063000283',AL,ALABAMA,100630,Cherokee County,283,Spring Garden High Sch,No,Yes,Yes,Yes,...,1,4,No,KG,12,Cherokee County,42,33.9854,-85.5434,Yes
='010066000261',AL,ALABAMA,100660,Chilton County,261,Isabella High Sch,No,No,Yes,Yes,...,1,4,No,KG,12,Chilton County,42,32.8287,-86.7856,Yes
='010066000265',AL,ALABAMA,100660,Chilton County,265,Maplesville High Sch,No,No,Yes,Yes,...,1,4,No,KG,12,Chilton County,42,32.8031,-86.8784,Yes
='010066000270',AL,ALABAMA,100660,Chilton County,270,Thorsby High Sch,No,No,Yes,Yes,...,1,4,No,KG,12,Chilton County,41,32.9136,-86.7163,Yes
='010066000288',AL,ALABAMA,100660,Chilton County,288,Verbena High Sch,No,No,Yes,Yes,...,1,4,No,KG,12,Chilton County,42,32.749,-86.5088,Yes
='010078000321',AL,ALABAMA,100780,Cleburne County,321,Ranburne High Sch,No,No,No,No,...,1,4,No,5,12,Cleburne County,42,33.5234,-85.3465,Yes
='010081000323',AL,ALABAMA,100810,Coffee County,323,Kinston Sch,No,Yes,Yes,Yes,...,1,4,No,PK,12,Coffee County,42,31.2213,-86.1699,Yes
='010081000327',AL,ALABAMA,100810,Coffee County,327,Zion Chapel High Sch,No,No,Yes,Yes,...,1,4,No,KG,12,Coffee County,43,31.5673,-86.0106,Yes
='010093000361',AL,ALABAMA,100930,Covington County,361,Pleasant Home Sch,No,Yes,Yes,Yes,...,1,4,No,KG,12,Covington County,43,31.1584,-86.6128,Yes
='010096000365',AL,ALABAMA,100960,Crenshaw County,365,Brantley High Sch,No,Yes,Yes,Yes,...,1,4,No,PK,12,Crenshaw County,43,31.591,-86.2556,Yes
='010096000367',AL,ALABAMA,100960,Crenshaw County,367,Highland Home High Sch,No,Yes,Yes,Yes,...,1,4,No,PK,12,Crenshaw County,42,31.953,-86.3135,Yes
='010096000368',AL,ALABAMA,100960,Crenshaw County,368,Luverne High Sch,No,Yes,Yes,Yes,...,1,4,No,PK,12,Crenshaw County,43,31.7135,-86.2756,Yes
='010105000388',AL,ALABAMA,101050,Dale County,388,Ariton Sch,No,No,Yes,Yes,...,1,4,No,KG,12,Dale County,42,31.6025,-85.7216,Yes
='010111000402',AL,ALABAMA,101110,Dallas County,402,Keith Middle-High Sch,No,No,No,No,...,1,4,No,6,12,Dallas County,42,32.2925,-87.2357,Yes
='010114000411',AL,ALABAMA,101140,Dekalb County,411,Collinsville High Sch,No,Yes,Yes,Yes,...,1,4,No,KG,12,DeKalb County,42,34.2562,-85.8666,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
='550960002980',WI,WISCONSIN,5509600,Milwaukee School District,2980,Carmen Mid/Hi Northwest Campus,No,No,No,No,...,1,4,No,6,12,Milwaukee County,11,43.1176,-88.0018,Yes
='550960002993',WI,WISCONSIN,5509600,Milwaukee School District,2993,Obama School of Career and Technical Education,No,Yes,Yes,Yes,...,1,4,No,PK,12,Milwaukee County,11,43.1096,-87.9684,Yes
='550972002934',WI,WISCONSIN,5509720,Northwood School District,2934,Northwood High/Middle,No,No,No,No,...,1,4,No,6,12,Washburn County,43,46.1562,-91.8142,Yes
='551023001338',WI,WISCONSIN,5510230,Necedah Area School District,1338,Necedah Middle/High,No,No,No,No,...,1,4,No,6,12,Juneau County,43,44.0004,-90.074,Yes
='551071001395',WI,WISCONSIN,5510710,Norris Academy,1395,Norris High,No,No,No,No,...,1,4,No,6,12,Waukesha County,41,42.8549,-88.2435,Yes
='551095002736',WI,WISCONSIN,5510950,Oconto Falls Public School District,2736,New Path,No,No,No,No,...,4,4,No,6,12,Oconto County,32,44.8774,-88.1396,Yes
='551188001557',WI,WISCONSIN,5511880,Plum City School District,1557,Plum City High,No,No,No,No,...,1,4,No,6,12,Pierce County,43,44.6364,-92.1921,Yes
='551230001595',WI,WISCONSIN,5512300,Princeton School District,1595,Princeton School,No,Yes,Yes,Yes,...,1,4,No,PK,12,Green Lake County,43,43.8438,-89.1204,Yes
='551236002471',WI,WISCONSIN,5512360,Racine Unified School District,2471,The REAL School,No,No,No,No,...,1,4,No,6,12,Racine County,22,42.7975,-87.7855,Yes
='551254001658',WI,WISCONSIN,5512540,Kickapoo Area School District,1658,Kickapoo High,No,No,No,No,...,1,4,No,6,12,Vernon County,43,43.4934,-90.6776,Yes
='551272003360',WI,WISCONSIN,5512720,Rhinelander School District,3360,Northwoods Community Secondary School,No,No,No,No,...,1,4,No,6,12,Oneida County,41,45.6483,-89.4003,Yes
='551299001713',WI,WISCONSIN,5512990,Rio Community School District,1713,Rio Middle/High School,No,No,No,No,...,1,4,No,6,12,Columbia County,42,43.443,-89.2344,Yes
='551317002885',WI,WISCONSIN,5513170,D C Everest Area School District,2885,D C Everest Idea School,No,No,No,No,...,1,4,No,6,12,Marathon County,23,44.9144,-89.5733,Yes
='551389001817',WI,WISCONSIN,5513890,Siren School District,1817,Siren High,No,Yes,Yes,Yes,...,1,4,No,6,12,Burnett County,43,45.7859,-92.3771,Yes
='551398001911',WI,WISCONSIN,5513980,Solon Springs School District,1911,Solon Springs School,No,Yes,Yes,Yes,...,1,4,No,PK,12,Douglas County,42,46.3461,-91.8313,Yes
='551419001845',WI,WISCONSIN,5514190,Spencer School District,1845,Spencer Junior High/High,No,No,No,No,...,1,4,No,6,12,Marathon County,42,44.7592,-90.2937,Yes
='551488001932',WI,WISCONSIN,5514880,Tigerton School District,1932,Tigerton High,No,No,No,No,...,1,4,No,6,12,Shawano County,42,44.7391,-89.0581,Yes
='551491002543',WI,WISCONSIN,5514910,Tomah Area School District,2543,Robert Kupper Learning Center,No,No,No,No,...,4,4,No,PK,12,Monroe County,41,43.9867,-90.4822,Yes
='551590002747',WI,WISCONSIN,5515900,Wausau School District,2747,Enrich Excel Achieve Learning Academy,No,No,No,No,...,4,4,No,6,12,Marathon County,41,44.9816,-89.5982,Yes
='551599002349',WI,WISCONSIN,5515990,Wauwatosa School District,2349,Plank Road Complex,No,No,No,No,...,4,4,No,KG,12,Milwaukee County,21,43.0451,-88.0337,Yes
='551650002523',WI,WISCONSIN,5516500,Weyauwega-Fremont School District,2523,Waupaca County Charter,No,No,No,No,...,1,4,No,6,12,Waupaca County,42,44.3219,-88.9297,Yes
='551671002185',WI,WISCONSIN,5516710,Wild Rose School District,2185,Wild Rose High,No,No,No,No,...,1,4,No,6,12,Waushara County,42,44.1763,-89.2456,Yes
='560103000124',WY,WYOMING,5601030,Carbon County School District #1,124,Little Snake River Valley School,No,No,Yes,Yes,...,1,4,No,KG,12,Carbon County,43,41.0368,-107.656,Yes
='560170000387',WY,WYOMING,5601700,Carbon County School District #2,387,Encampment K-12 School,No,No,Yes,Yes,...,1,4,No,KG,12,Carbon County,43,41.2094,-106.793,Yes
='560237000407',WY,WYOMING,5602370,Crook County School District #1,407,Hulett School,No,No,Yes,Yes,...,1,4,No,KG,12,Crook County,43,44.6861,-104.602,Yes
='560377000449',WY,WYOMING,5603770,Johnson County School District #1,449,Kaycee School,No,No,Yes,Yes,...,1,4,No,KG,12,Johnson County,43,43.713,-106.635,Yes
='560438000139',WY,WYOMING,5604380,Park County School District #16,139,Meeteetse School,No,No,Yes,Yes,...,1,4,No,KG,12,Park County,43,44.1537,-108.872,Yes
='560451000133',WY,WYOMING,5604510,Natrona County School District #1,133,Midwest School,No,Yes,Yes,Yes,...,1,4,No,PK,12,Natrona County,43,43.4097,-106.273,Yes
='560582000393',WY,WYOMING,5605820,Washakie County School District #2,393,Ten Sleep K-12,No,No,Yes,Yes,...,1,4,No,PK,12,Washakie County,43,44.036,-107.448,Yes
='568025400549',WY,WYOMING,5680254,Saint Stephen's Indian School Admin Office,549,Saint Stephen's Indian School,No,No,Yes,Yes,...,1,4,No,KG,12,Fremont County,41,42.9853,-108.421,Yes

# Select Schools reported as Regular or Vocational
<div class = 'alert alert-block alert-info'>Removed Schools with a SCH_TYPE that was not 1 (Regular) or 3 (Vocational).  Culls additional "Special Education", and "Alternative/Other" schools.
<br><br>
Schools with Missing Values were retained.
</div>
<div class = 'alert alert-block alert-warning'>**16451** Schools Remain</div>

In [61]:
filter5_crdc_nces_1516 = filter4_crdc_nces_1516.copy()

In [62]:
filter5_crdc_nces_1516.SCH_TYPE.value_counts()

1.0        17675
4.0         1034
Missing     1004
3.0          342
2.0           35
Name: SCH_TYPE, dtype: int64

In [63]:
filter5_crdc_nces_1516 = filter5_crdc_nces_1516[(filter5_crdc_nces_1516.SCH_TYPE == 'Missing') | (filter5_crdc_nces_1516.SCH_TYPE == 1) | (filter5_crdc_nces_1516.SCH_TYPE == 3)]

In [64]:
len(filter5_crdc_nces_1516.index)

19021

**Mini-Filter:  Remove schools with 'adult' in the Name **

In [65]:
filter5_crdc_nces_1516 = filter5_crdc_nces_1516[~filter5_crdc_nces_1516.SCH_NAME.str.contains('adult', case=False)]

In [66]:
len(filter5_crdc_nces_1516)

18995

# <font color = green> V. Dealing with Missing Values </font>
<div class = 'alert alert-cell alert-info'> With nearly 1200 schools missing NCES data, including schools from prominent districts like "NEW YORK CITY PUBLIC SCHOOLS" and "Green Dot Public Schools," it is important to try to recover as much of these schools as possible.
<br><br>
The problem that I found was that the CRDC lumped a number of school districts together; therefore, the combokeys of schools in these districts do not match those of the NCES.
</div>

<div class = 'alert alert-cell alert-info'>
**I tried a number of methods to try to properly join these missing schools:**<br>
- Using only the school name:  This had difficulties because there are many schools that share the same name, so when a join is implemented, these schools are given all of the values of the other schools (i.e. it creates a lot of duplicate values).
- Using the NCES data from 2013:  This was also problematic, as most of the same schools that were missing in this dataset were also constrained to the same problem in the 2013-2014 dataset.<br>
- Using the District and the name together:  This also suffered from the fact that the CRDC data combines some school districts; therefore, the names of the districts still did not match up.<br>
- **Finally, I used a combination of the name of the school and the state:  There were only a handfull in the dataset containing the missing values.**<br><br>
</div>

<div class = 'alert alert-cell alert-warning'>
**821 (out of 1194)** Missing Schools were recovered using this method </div>

<div class = 'alert alert-cell alert-info'>
Next, I recovered the remaining schools in the 'New York City Public Schools District', because it was clear that they were simply missing due to a LEA reporting error in the CRDC data.  This process was two-parted:<br>
- First, Because it seemed as though most of these remaining New York schools had the incorrect LEAID, I used the the school id and state abreviation to create a unique identifier.<br>
- Second, I used the NCES database to manually search for the remaining schools correct their combokey
</div>

<div class = 'alert alert-cell alert-warning'>
**36** More High Schools Recovered  </div>

<div class = 'alert alert-cell alert-info'>
I performed the same (nces-provided field)-filtration steps on the recovered data.  Then, I hand-removed duplicate values by checking the original filtered data for matching records. </div>

<div class = 'alert alert-cell alert-warning'>
**468** Recovered High Schools Total  </div>

In [67]:
"""Which districts had the most missing schools?"""
with pd.option_context('display.max_rows', 1200):
    display(filter5_crdc_nces_1516[filter5_crdc_nces_1516.LEVEL == 'Missing'].groupby('LEA_NAME')['LEAID'].count().sort_values(ascending = False))

LEA_NAME
NEW YORK CITY PUBLIC SCHOOLS                                                               477
Green Dot Public Schools                                                                    11
NORMAN                                                                                       7
Dept. of Svs. for Children Youth & Their Families                                            5
OFFICE OF EDUCATION DEPARTMENT OF CHILDREN AND FAMILIES                                      4
Ombudsman Educational Services Ltd. a subsidiary of Educ 2                                   4
TULSA                                                                                        3
Boston                                                                                       3
Cherokee County                                                                              3
Clayton County                                                                               3
Coweta County                                                                                3
Peters Township SD                                                                           3
ERIE 2-CHAUTAUQUA-CATTARAUGUS BOCES                                                          3
WINDSOR SCHOOL DISTRICT                                                                      3
Ombudsman Educational Services Ltd. a subsidiary of Educ 1                                   3
Geauga County Educational Service Center                                                     3
NASSAU BOCES                                                                                 3
Cobb County                                                                                  2
Linn Benton Lincoln ESD                                                                      2
TRINITY CHARTER SCHOOL                                                                       2
Horry 01                                                                                     2
Brownsburg Community Sch Corp                                                                2
Burlington School District                                                                   2
Horizon Charter                                                                              2
Cincinnati City                                                                              2
Harris County                                                                                2
Cleveland Metropolitan School District                                                       2
Mesa Unified District                                                                        2
ONONDAGA-CORTLAND-MADISON BOCES                                                              2
HARRIS COUNTY DEPT OF ED                                                                     2
PRIORITY CHARTER SCHOOLS                                                                     2
PACIFIC CHARTER INSTITUTE                                                                    2
NEW HAVEN SCHOOL DISTRICT                                                                    2
New Brunswick School District                                                                2
BLaST IU 17                                                                                  2
ORLEANS-NIAGARA BOCES                                                                        2
Forsyth County Schools                                                                       2
BOLIVAR R-I                                                                                  2
LAS CRUCES PUBLIC SCHOOLS                                                                    2
Academy School District 20                                                                   2
Atlanta Public Schools                                                                       1
ASPIRE LIONEL WILSON COLLEGE PREPARATORY ACADEMY                                             1
Gateway Public Schools                                                                       1
Gertz-Ressler/Richard Merkin 6-12 Complex                                                    1
Gilmer County                                                                                1
Glenwood Mental Health Services                                                              1
Abraxis Charter                                                                              1
Glynn County                                                                                 1
Gold Rush Charter                                                                            1
Gompers Preparatory Academy                                                                  1
ASPIRE GOLDEN STATE COLLEGE PREPARATORY ACADEMY                                              1
GROTON SCHOOL DISTRICT                                                                       1
Greater Randolph Interlocal Coop                                                             1
Green County                                                                                 1
ASPIRE EAST PALO ALTO PHOENIX ACADEMY                                                        1
ASPIRE BENJAMIN HOLT COLLEGE PREPARATORY ACADEMY                                             1
Greene County ESC                                                                            1
Greenfield-Central Com Schools                                                               1
Guajome Park Academy Charter                                                                 1
Gull Lake Community Schools                                                                  1
ARISE High School                                                                            1
Gateway College And Career Academy                                                           1
GREEN COUNTRY TECHNOLOGY CTR                                                                 1
HARLEM VILLAGE ACADEMY CHARTER SCHOOL EHVACS                                                 1
FAIRFAX CO PBLC SCHS                                                                         1
Early County                                                                                 1
East Orange School District                                                                  1
El Camino Real Academy                                                                       1
Eldora State Training School for Boys                                                        1
Empire Springs Charter                                                                       1
Academy of Arts and Sciences Sonoma                                                          1
Academy of Arts and  Sciences Thousand Oaks and Simi                                         1
Everest Public High School                                                                   1
Executive Preparatory Academy of Finance                                                     1
Academy of Arts and  Sciences Oxnard & Ventura                                               1
Academy for Academic Excellence                                                              1
FARMINGTON MUNICIPAL SCHOOLS                                                                 1
FUTURES HIGH                                                                                 1
Academy of Arts and  Sciences El Cajon Middle and High 6-12                                  1
Friendship PCS                                                                               1
GENESEE VALLEY BOCES                                                                         1
GOLDEN EAGLE CHARTER                                                                         1
GRANADA HILLS CHARTER HIGH                                                                   1
GRAPEVINE-COLLEYVILLE ISD                                                                    1
Academy of Arts and  Sciences Del Mar Middle & High 6-12                                     1
HAMILTON-FULTON-MONTGOMERY BOCES                                                             1
HARLEM VILLAGE ACADEMY LEADERSHIP CHARTER SCHOOL                                             1
Academy of Arts and Sciences: Los Angeles (9-12)                                             1
Jefferson Union High                                                                         1
International Academy of Macomb                                                              1
Iola                                                                                         1
IvyTech Charter                                                                              1
JUAN BAUTISTA DE ANZA                                                                        1
JUBILEE ACADEMIC CENTER                                                                      1
JULIAN CHARTER                                                                               1
ACE Charter High                                                                             1
Jackson ISD                                                                                  1
Jackson Preparatory & Early College                                                          1
John Adams Academy                                                                           1
Inspire Charter School - South                                                               1
KIPP KING COLLEGIATE HIGH                                                                    1
KIPP SAN JOSE COLLEGIATE                                                                     1
KIPP San Francisco College Prep                                                              1
KIRKSVILLE R-III                                                                             1
KREMLIN-HILLSDALE                                                                            1
Kestrel Schools  Inc.                                                                        1
L'Anse Creuse Public Schools                                                                 1
LA FERIA ISD                                                                                 1
LARCHMONT CHARTER                                                                            1
Institute for Transformative Education  Inc.                                                 1
Inspire Charter School                                                                       1
APEX Academy                                                                                 1
Henry County                                                                                 1
HART ISD                                                                                     1
HEALTH SERVICES ACADEMY HIGH SCHOOL                                                          1
HENRY CO PBLC SCHS                                                                           1
HERON LAKE-OKABENA SCHOOL DISTRICT                                                           1
HIGH TECH LA                                                                                 1
HUME LAKE CHARTER                                                                            1
ANAHUAC ISD                                                                                  1
Harbor Springs Charter School                                                                1
ALTA VISTA PUBLIC                                                                            1
Higdon Hill School                                                                           1
Insight @ San Joaquin                                                                        1
Holland City School District                                                                 1
HomeTech Charter                                                                             1
Hood River County SD                                                                         1
ALAMEDA COMMUNITY LEARNING CENTER                                                            1
ACLD TILLOTSON SCHOOL                                                                        1
Humphreys College Academy Of Business Law And Education                                      1
IMPACT ACADEMY OF ARTS & TECHNOLOGY                                                          1
INSTITUTIONAL EDUCATIONAL PROGRAMS                                                           1
IVY ACADEMIA                                                                                 1
EXCELLENCE GIRLS CHARTER SCHOOL                                                              1
ESCUELA POPULAR/CENTER FOR TRAINING AND CAREERS, F                                           1
B. Roberto Cruz Leadership Academy                                                           1
CRENSHAW ARTS/TECH CHARTER HIGH SCHOOL                                                       1
CASS LAKE-BENA PUBLIC SCHOOLS                                                                1
CENTRAL CITY VALUE                                                                           1
CHAMPS - Charter HS of Arts-Multimedia & Performing                                          1
CLASSICAL ACADEMY HIGH                                                                       1
COLLEGE-READY ACADEMY HIGH SCHOOL No. 16                                                     1
COLLINSVILLE                                                                                 1
COMMUNITY COLLABORATIVE CHARTER (Twin Rivers)                                                1
CORE Butte Charter School                                                                    1
CORE Placer Charter                                                                          1
CRESCENT VIEW WEST CHARTER                                                                   1
CAMDENTON R-III                                                                              1
California Connections Academy @ North Bay                                                   1
California Connections Academy @ Ripon                                                       1
California Connections Academy @Central                                                      1
Camden County                                                                                1
Camino Nuevo High NO. 2                                                                      1
Capistrano Connections Academy                                                               1
Carter G. Woodson Public Charter                                                             1
Catoosa County                                                                               1
Center Line Public Schools                                                                   1
CAMINO NUEVO CHARTER HIGH                                                                    1
Butler Area SD                                                                               1
American Indian Public High School                                                           1
BRIGHT STAR SECONDARY CHARTER ACADEMY                                                        1
BAY AREA TECHNOLOGY                                                                          1
BELCOURT 7                                                                                   1
BIG PICTURE HS - FRESNO                                                                      1
BIRMINGHAM COMMUNITY CHARTER HIGH                                                            1
Assurance Learning Academy                                                                   1
Aspire Vanguard College Preparatory Academy                                                  1
Aspire Richmond Ca. College Preparatory Academy                                              1
Aspire Ollin University Preparatory Academy                                                  1
BOONE CENTRAL SCHOOLS                                                                        1
BURNS FLAT-DILL CITY                                                                         1
Burton Technology Academy High School                                                        1
Benton Area SD                                                                               1
Berea City                                                                                   1
Bergen Arts and Sciences Charter School                                                      1
Bibb County                                                                                  1
Bloomfield Hills Schools                                                                     1
Aspire Langston Hughes Academy                                                               1
Aspire Alexander Twilight Secondary Academy                                                  1
Burlington Area School District                                                              1
Anahuacalmecac International University Preparatory                                          1
Cherokee Central Schools                                                                     1
Alternatives in Action                                                                       1
ESCUELA POPULAR ACCELERATED FAMILY LRN                                                       1
Dysart Unified School District                                                               1
DUNSEITH 1                                                                                   1
Da Vinci Communications High                                                                 1
LATINO COLLEGE PREPARATORY ACADEMY                                                           1
Diego Hills Charter School                                                                   1
Diego Valley Public Charter                                                                  1
Digital Arts and Technology Academy Charter School                                           1
Alliance Alice M. Baxter College-Ready High                                                  1
Dillingham City School District                                                              1
Dodge County                                                                                 1
EAST MTN HIGH SCHOOL                                                                         1
DOWNTOWN COLLEGE PREPARATORY                                                                 1
EAST WINDSOR SCHOOL DISTRICT                                                                 1
EL CAMINO REAL CHARTER HIGH SCHOOL                                                           1
ENID                                                                                         1
ENVIRONMENTAL SCIENCE AND TECHNOLOGY HIGH SCHOOL                                             1
ENVISION ACADEMY FOR ARTS & TECHNOLOGY                                                       1
EPIC de Cesar Chavez                                                                         1
Albert Einstein Academy for Letters Arts and Sciences                                        1
ESCONDIDO CHARTER HIGH                                                                       1
Accelerated Achievement Academy (Ukiah)                                                      1
DR. OLGA MOHAN HIGH SCHOOL                                                                   1
DIVISION OF YOUTH SERVICES                                                                   1
Cincinnati College Preparatory Academy                                                       1
Community Collaborative Charter (Acton)                                                      1
City Arts and Technology High School                                                         1

In [68]:
filter5_missing_leas = filter5_crdc_nces_1516[filter5_crdc_nces_1516.LEVEL == 'Missing'].groupby('LEA_NAME')['LEAID'].count().sort_values(ascending = False)

In [69]:
# filter5_missing_leas.to_csv('../filtered_data/04_inital_filter_missing_LEAs.csv')

In [70]:
"""How many missing schools?"""
filter5_missing_schools = filter5_crdc_nces_1516[filter5_crdc_nces_1516.LEVEL == 'Missing']
len(filter5_missing_schools.index)

989

In [71]:
# filter5_missing_schools.to_csv('../filtered_data/04_intital_filter_missing_schools.csv')

** Manipulate missing schools and original nces data --> join **

In [72]:
filter5_schname_state = filter5_missing_schools.copy()

In [73]:
filter5_schname_state = filter5_schname_state.reset_index()

In [74]:
filter5_schname_state['SCH_NAME'] = filter5_schname_state['SCH_NAME'].apply(lambda x: x.lower())
filter5_schname_state['SCH_NAME_ST_NUM'] = filter5_schname_state.SCH_NAME + filter5_schname_state.LEA_STATE

In [75]:
"""How many duplicate schools in the filter5 dataset?"""
filter5_schname_state.groupby('SCH_NAME_ST_NUM')['SCH_NAME_ST_NUM'].count().sort_values(ascending = False).head(10)

SCH_NAME_ST_NUM
community collaborative charterCA                                 2
harlem village academies highNY                                   2
performance learning centerGA                                     2
yuba city charterCA                                               1
emma lazarus high schoolNY                                        1
esperanza prepatory academyNY                                     1
escuela popular/center for training and careers, family lrngCA    1
escuela popular accelerated family learning center (k-8)CA        1
escondido charter highCA                                          1
erie 2-chautauqua-cattaraugus boces @ iroquoisNY                  1
Name: SCH_NAME_ST_NUM, dtype: int64

In [76]:
filter5_schname_state[filter5_schname_state.SCH_NAME_ST_NUM == 'performance learning centerGA']

,COMBOKEY,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,SCH_NAME,JJ,SCH_GRADE_PS,SCH_GRADE_KG,...,LEVEL,VIRTUAL,GSLO,GSHI,NMCNTY15,LOCALE15,LAT1516,LON1516,Students_in_11_12,SCH_NAME_ST_NUM
301,='130129003727',GA,GEORGIA,1301290,Cobb County,3727,performance learning center,No,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Yes,performance learning centerGA
313,='130270003728',GA,GEORGIA,1302700,Harris County,3728,performance learning center,No,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Yes,performance learning centerGA

In [77]:
nces_1516_schname_state = nces_1516_full.copy()

In [78]:
nces_1516_schname_state = nces_1516_schname_state.reset_index()

In [79]:
nces_1516_schname_state['SCH_NAME'] = nces_1516_schname_state['SCH_NAME'].apply(lambda x: x.lower())
nces_1516_schname_state['SCH_NAME_ST_NUM'] = nces_1516_schname_state.SCH_NAME + nces_1516_schname_state.STABR

In [80]:
"""Join the NCES and filter5 datasets on the SCH_NAME_ST_NUM column"""
schname_combined = filter5_schname_state.set_index('SCH_NAME_ST_NUM').join(nces_1516_schname_state.set_index('SCH_NAME_ST_NUM'), how = 'left', rsuffix = '_')

In [81]:
"""How many schools have duplicated values?"""
schname_combined.SCH_NAME_.value_counts().sort_values(ascending = False).head(10)

tarrant co j j a e p                                          6
community collaborative charter                               4
university high                                               2
beacon high school                                            2
accelerated achievement academy                               2
hart el                                                       2
performance learning center                                   2
energy tech high school                                       1
knowledge and power prep academy international high school    1
life academy high school for film and music                   1
Name: SCH_NAME_, dtype: int64

In [82]:
"""How may more schools were matched?"""
len(schname_combined[schname_combined.SCH_NAME_.notnull()].index)

688

In [83]:
"""How many schools still did not have a match?"""
len(schname_combined[schname_combined.SCH_NAME_.isnull()].index)

312

## Recover the NY Schools

In [84]:
schname_combined_missing = schname_combined.copy()
schname_combined_missing = schname_combined_missing[schname_combined_missing.SCH_NAME_.isnull()]

schname_combined_missing_ny = schname_combined_missing.copy()
schname_combined_missing_ny = schname_combined_missing_ny[schname_combined_missing_ny['LEA_NAME'] == 'NEW YORK CITY PUBLIC SCHOOLS']

In [85]:
print(len(schname_combined_missing_ny.index))
print(schname_combined_missing_ny.SCHID.nunique())

22
22

In [86]:
schname_combined_missing_ny = schname_combined_missing_ny.drop(['TITLEI_', 'STABR_', 'SCH_TYPE_TEXT_', 'SCH_TYPE_',
                                                                'LEVEL_', 'VIRTUAL_', 'GSLO_', 'GSHI_', 
                                            'NMCNTY15_', 'LOCALE15_', 'LAT1516_', 'LON1516_', 'combokey',
                                            'LEAID_', 'LEA_NAME_', 'SCH_NAME_', 'SCHID_'], axis = 1)

In [87]:
def schid_state_maker(schid, state):
    schid = str(schid).zfill(5)
    return schid + state

In [88]:
schname_combined_missing_ny['schid_state'] = schname_combined_missing_ny.apply(lambda row: schid_state_maker(row['SCHID'], row['LEA_STATE']), axis = 1)

In [89]:
nces_for_missing_ny = nces_1516_full.copy()

nces_for_missing_ny['schid_state'] = nces_for_missing_ny.apply(lambda row: schid_state_maker(row['SCHID'], row['STABR']), axis = 1)

In [90]:
missing_ny_joined = schname_combined_missing_ny.set_index('schid_state').join(nces_for_missing_ny.reset_index().set_index('schid_state'), how = 'left', rsuffix = "_")

In [91]:
""" Join the missing NY schools with NCES """
missing_ny_joined[missing_ny_joined.LEVEL_.notnull()][['SCH_NAME','SCH_NAME_']]

,SCH_NAME,SCH_NAME_
schid_state,,
01409NY,"law, government and community service high school",LAW GOVERNMENT AND COMMUNITY SERVICE HIGH SCHOOL
02961NY,"bronx school for law, government and justice",BRONX SCHOOL FOR LAW GOVERNMENT AND JUSTICE
03091NY,"high school of enterprise, business & technology",HIGH SCHOOL OF ENTERPRISE BUSINESS & TECHNOLOGY
04873NY,"new explorations into science,tech and math hi...",NEW EXPLORATIONS INTO SCIENCETECH AND MATH HIG...
05113NY,"high school for law, advocacy and community ju...",HIGH SCHOOL FOR LAW ADVOCACY AND COMMUNITY JUS...
05516NY,"science, tech & research high school at erasmus",SCIENCE TECH & RESEARCH HIGH SCHOOL AT ERASMUS
05521NY,ms 223 laboratory school of finance and techno...,MS 223 LABORATORY SCHOOL OF FINANCE AND TECHNO...
05536NY,"queens high school of teaching, liberal arts a...",QUEENS HIGH SCHOOL OF TEACHING LIBERAL ARTS AN...
05677NY,"marie curie high sch-nursing, medicine & appli...",MARIE CURIE HIGH SCH-NURSING MEDICINE & APPLIE...
05774NY,"high school for arts, imagination and inquiry",HIGH SCHOOL FOR ARTS IMAGINATION AND INQUIRY
05899NY,"high sch-construction, trades, engineering & a...",HIGH SCH-CONSTRUCTION TRADES ENGINEERING & ARC...
05962NY,"brooklyn community high sch-communication, art...",BROOKLYN COMMUNITY HIGH SCH-COMMUNICATION ARTS...
05985NY,"archimedes acad-math, sci, tech",ARCHIMEDES ACAD-MATH SCI TECH
05999NY,"queens high school for information, research a...",QUEENS HIGH SCHOOL FOR INFORMATION RESEARCH AN...
06105NY,high school for language and diplomacy,HIGH SCHOOL FOR LANGUAGE AND DIPLOMACY (THE)
06122NY,the brooklyn academy of global finance,BROOKLYN ACADEMY OF GLOBAL FINANCE (THE)
06148NY,urban assembly school for green careers,URBAN ASSEMBLY SCHOOL FOR GREEN CAREERS (THE)

In [92]:
""" Dealing with remaining missing NY Schools """
missing_ny_2 = missing_ny_joined.copy()
missing_ny_2 = missing_ny_2[missing_ny_2.LEVEL_.isnull()]

len(missing_ny_2.index)

5

In [93]:
missing_ny_2.columns.values

array(['COMBOKEY', 'LEA_STATE', 'LEA_STATE_NAME', 'LEAID', 'LEA_NAME',
       'SCHID', 'SCH_NAME', 'JJ', 'SCH_GRADE_PS', 'SCH_GRADE_KG',
       'SCH_GRADE_G01', 'SCH_GRADE_G02', 'SCH_GRADE_G03', 'SCH_GRADE_G04',
       'SCH_GRADE_G05', 'SCH_GRADE_G06', 'SCH_GRADE_G07', 'SCH_GRADE_G08',
       'SCH_GRADE_G09', 'SCH_GRADE_G10', 'SCH_GRADE_G11', 'SCH_GRADE_G12',
       'SCH_GRADE_UG', 'SCH_UGDETAIL_HS', 'SCH_STATUS_SPED',
       'SCH_STATUS_MAGNET', 'SCH_STATUS_CHARTER', 'SCH_STATUS_ALT',
       'SCH_ENR_HI_M', 'SCH_ENR_HI_F', 'SCH_ENR_AM_M', 'SCH_ENR_AM_F',
       'SCH_ENR_AS_M', 'SCH_ENR_AS_F', 'SCH_ENR_HP_M', 'SCH_ENR_HP_F',
       'SCH_ENR_BL_M', 'SCH_ENR_BL_F', 'SCH_ENR_WH_M', 'SCH_ENR_WH_F',
       'SCH_ENR_TR_M', 'SCH_ENR_TR_F', 'TOT_ENR_M', 'TOT_ENR_F',
       'SCH_ENR_LEP_M', 'SCH_ENR_LEP_F', 'SCH_ENR_IDEA_M',
       'SCH_ENR_IDEA_F', 'SCH_DUAL_IND', 'SCH_DUALENR_HI_M',
       'SCH_DUALENR_HI_F', 'SCH_DUALENR_AM_M', 'SCH_DUALENR_AM_F',
       'SCH_DUALENR_AS_M', 'SCH_DUALENR_AS_F', 'SCH_DUALENR_HP_M',
       'SCH_DUALENR_HP_F', 'SCH_DUALENR_BL_M', 'SCH_DUALENR_BL_F',
       'SCH_DUALENR_WH_M', 'SCH_DUALENR_WH_F', 'SCH_DUALENR_TR_M',
       'SCH_DUALENR_TR_F', 'TOT_DUALENR_M', 'TOT_DUALENR_F',
       'SCH_DUALENR_LEP_M', 'SCH_DUALENR_LEP_F', 'SCH_DUALENR_IDEA_M',
       'SCH_DUALENR_IDEA_F', 'SCH_APENR_IND', 'SCH_APENR_HI_M',
       'SCH_APENR_HI_F', 'SCH_APENR_AM_M', 'SCH_APENR_AM_F',
       'SCH_APENR_AS_M', 'SCH_APENR_AS_F', 'SCH_APENR_HP_M',
       'SCH_APENR_HP_F', 'SCH_APENR_BL_M', 'SCH_APENR_BL_F',
       'SCH_APENR_WH_M', 'SCH_APENR_WH_F', 'SCH_APENR_TR_M',
       'SCH_APENR_TR_F', 'TOT_APENR_M', 'TOT_APENR_F', 'SCH_APENR_LEP_M',
       'SCH_APENR_LEP_F', 'SCH_APENR_IDEA_M', 'SCH_APENR_IDEA_F',
       'SCH_IBENR_IND', 'SCH_IBENR_HI_M', 'SCH_IBENR_HI_F',
       'SCH_IBENR_AM_M', 'SCH_IBENR_AM_F', 'SCH_IBENR_AS_M',
       'SCH_IBENR_AS_F', 'SCH_IBENR_HP_M', 'SCH_IBENR_HP_F',
       'SCH_IBENR_BL_M', 'SCH_IBENR_BL_F', 'SCH_IBENR_WH_M',
       'SCH_IBENR_WH_F', 'SCH_IBENR_TR_M', 'SCH_IBENR_TR_F',
       'TOT_IBENR_M', 'TOT_IBENR_F', 'SCH_IBENR_LEP_M', 'SCH_IBENR_LEP_F',
       'SCH_IBENR_IDEA_M', 'SCH_IBENR_IDEA_F', 'TITLEI', 'STABR',
       'SCH_TYPE_TEXT', 'SCH_TYPE', 'LEVEL', 'VIRTUAL', 'GSLO', 'GSHI',
       'NMCNTY15', 'LOCALE15', 'LAT1516', 'LON1516', 'Students_in_11_12',
       'combokey', 'TITLEI_', 'LEAID_', 'LEA_NAME_', 'STABR_', 'SCHID_',
       'SCH_NAME_', 'SCH_TYPE_TEXT_', 'SCH_TYPE_', 'LEVEL_', 'VIRTUAL_',
       'GSLO_', 'GSHI_', 'NMCNTY15_', 'LOCALE15_', 'LAT1516_', 'LON1516_'],
      dtype=object)

In [94]:
missing_ny_2 = missing_ny_2.drop(['TITLEI_', 'STABR_', 'SCH_TYPE_TEXT_', 'SCH_TYPE_',
                   'LEVEL_', 'VIRTUAL_', 'GSLO_', 'GSHI_', 
                   'NMCNTY15_', 'LOCALE15_', 'LAT1516_', 'LON1516_', 'combokey',
                   'LEAID_', 'LEA_NAME_', 'SCH_NAME_', 'SCHID_'], axis = 1)

In [95]:
missing_ny_2['actual_combokey'] = pd.Series(np.resize(0, len(missing_ny_2.index)), dtype = np.object)

# missing_ny_2.at["99780NY", 'actual_combokey'] = "='360012306528'"
# missing_ny_2.at["99796NY", 'actual_combokey'] = "='360012306535'"
# missing_ny_2.at["99775NY", 'actual_combokey'] = "='360012006484'"
# missing_ny_2.at["99776NY", 'actual_combokey'] = "='360010106508'"
# missing_ny_2.at["99805NY", 'actual_combokey'] = "='360008306490'"
missing_ny_2.at["99874NY", 'actual_combokey'] = "='360007706372'"
missing_ny_2.at["99933NY", 'actual_combokey'] = "='360008106380'"
missing_ny_2.at["99968NY", 'actual_combokey'] = "='360007606296'"
missing_ny_2.at["99992NY", 'actual_combokey'] = "='360009706274'"
missing_ny_2.at["99995NY", 'actual_combokey'] = "='360009506273'"

In [96]:
""" Join again on the NCES """
missing_ny_2_joined = missing_ny_2.set_index('actual_combokey').join(nces_1516_full, how = 'left', rsuffix = '_')

In [97]:
"""How many matched?"""
len(missing_ny_2_joined[missing_ny_2_joined.LEVEL_.notnull()].index)

5

## Combine recovered schools and performing filters

** Concatenate the two recovered Missing NY Schools sets **

In [98]:
missing_ny_joined_matching = missing_ny_joined[missing_ny_joined.LEVEL_.notnull()]

In [99]:
all_missing_ny_recovered = missing_ny_2_joined.append(missing_ny_joined_matching)

**Join the original recovered schools (using schname_st identifier) with the recovered NY schools**

In [100]:
recovered_schools = schname_combined.copy()
recovered_schools = recovered_schools.fillna("Missing")

In [101]:
recovered_schools = recovered_schools[recovered_schools['SCH_NAME_'] != "Missing"]

In [102]:
recovered_schools_all = recovered_schools.append(all_missing_ny_recovered)

** Reformat the Columns ** -- Need to make sure that the recovered schools dataset's columns match the original filtered dataset's columns (required for concatenating the two sets properly)

In [103]:
"""Drop original nces columns (the ones with missing values)"""    
recovered_schools_all = recovered_schools_all.drop(['TITLEI', 'STABR', 'SCH_TYPE_TEXT', 'SCH_TYPE', 'LEVEL', 'VIRTUAL', 'GSLO', 'GSHI', 
                                            'NMCNTY15', 'LOCALE15', 'LAT1516', 'LON1516', 'combokey',
                                            'LEAID_', 'LEA_NAME_', 'SCH_NAME_', 'SCHID_'], axis = 1)
"""Rename new matching columns to replace the columns above (necessary for a proper concatenation later)"""
recovered_schools_all = recovered_schools_all.rename(lambda x: x.strip('_'), axis = 'columns')
recovered_schools_all = recovered_schools_all.set_index('COMBOKEY')
%store recovered_schools_all

Stored 'recovered_schools_all' (DataFrame)

In [104]:
"""Do the columns between the original filtered set and recovered missing values set match"""
print(len(recovered_schools_all.columns.values))
print(len(filter5_crdc_nces_1516.columns.values))

123
123

In [105]:
""" How many schools recovered? """
len(recovered_schools_all.index)

710

In [106]:
recovered_schools_all

,GSHI,GSLO,JJ,LAT1516,LEAID,LEA_NAME,LEA_STATE,LEA_STATE_NAME,LEVEL,LOCALE15,...,TITLEI,TOT_APENR_F,TOT_APENR_M,TOT_DUALENR_F,TOT_DUALENR_M,TOT_ENR_F,TOT_ENR_M,TOT_IBENR_F,TOT_IBENR_M,VIRTUAL
COMBOKEY,,,,,,,,,,,,,,,,,,,,,
='362058004305',12,9,No,40.8183,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,138,71,14,9,710,731,-9,-9,No
='359905499999',12,9,No,35.0862,3599054,ABQ Charter Academy,NM,NEW MEXICO,3,11,...,Yes,-9,-9,17,29,130,132,-9,-9,No
='362058001906',12,9,No,40.5824,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,102,97,63,88,800,1307,-9,-9,No
='069998499999',12,9,No,38.4473,699984,Abraxis Charter,CA,CALIFORNIA,3,12,...,Missing,-9,-9,-9,-9,23,20,-9,-9,No
='362058005916',12,6,No,40.6495,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,16,27,-9,-9,193,262,-9,-9,No
='06CC43900001',12,KG,No,34.5333,06CC439,Academy for Academic Excellence,CA,CALIFORNIA,4,21,...,Missing,52,40,-9,-9,696,683,-9,-9,No
='362058006070',12,9,No,40.7427,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,No,59,47,19,12,279,266,-9,-9,No
='362058006054',12,9,No,40.6336,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,23,30,-9,-9,115,179,-9,-9,No
='362058005866',12,KG,No,40.6968,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,15,12,-9,-9,149,160,-9,-9,No
='362058006200',12,8,No,40.6759,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,-9,-9,-9,-9,252,109,-9,-9,No
='362058005981',12,9,No,40.8495,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,56,85,-9,-9,131,181,-9,-9,No
='362058005810',12,9,No,40.888,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,44,40,30,35,181,200,-9,-9,No
='362058005945',12,9,No,40.8156,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,-9,-9,-9,-9,77,96,-9,-9,No
='362058099876',12,8,No,40.7355,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,25,97,-9,-9,98,359,-9,-9,No
='362058005884',12,6,No,40.6571,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,64,18,-9,-9,372,215,-9,-9,No
='362058002562',12,9,No,40.7515,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,No,83,78,71,67,406,484,-9,-9,No
='06CC43100001',12,9,No,34.1718,06CC431,Academy of Arts and Sciences: Los Angeles (9-12),CA,CALIFORNIA,3,11,...,Missing,2,0,-9,-9,19,12,-9,-9,Yes
='06CC09900001',12,KG,No,34.1552,06CC099,Academy of Arts and Sciences Sonoma,CA,CALIFORNIA,4,12,...,Missing,2,0,-9,-9,150,103,-9,-9,Yes
='362058005828',12,9,No,40.7446,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,103,64,-9,-9,278,237,-9,-9,No
='362058005885',12,8,No,40.6495,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,11,2,-9,-9,127,97,-9,-9,No
='362058006046',12,9,No,40.693,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,8,40,-9,-9,74,335,-9,-9,No
='362058005552',12,9,No,40.6968,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,41,25,-9,-9,109,122,-9,-9,No
='362058006079',12,5,No,40.6018,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,-9,-9,114,85,332,292,-9,-9,No
='06CC36500001',8,4,No,36.8563,06CC365,Accelerated Achievement Academy (Ukiah),CA,CALIFORNIA,2,32,...,Yes,-9,-9,2,0,88,74,-9,-9,No
='06CC36500001',12,4,No,39.1649,06CC365,Accelerated Achievement Academy (Ukiah),CA,CALIFORNIA,4,33,...,Yes,-9,-9,2,0,88,74,-9,-9,No
='06CC44200001',12,9,No,37.3689,06CC442,ACE Charter High,CA,CALIFORNIA,3,11,...,Yes,-9,-9,-9,-9,135,138,-9,-9,No
='362058002478',12,9,No,40.6786,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,36,25,-9,-9,169,207,-9,-9,No
='06CC36600018',12,9,No,33.9346,06CC366,Green Dot Public Schools,CA,CALIFORNIA,3,11,...,Yes,132,100,-9,-9,763,913,-9,-9,No
='06CC01500001',12,6,No,37.7792,06CC015,ALAMEDA COMMUNITY LEARNING CENTER,CA,CALIFORNIA,4,21,...,Missing,-9,-9,-9,-9,174,202,-9,-9,No
='069906899999',12,7,No,34.4469,699068,Albert Einstein Academy for Letters Arts and S...,CA,CALIFORNIA,3,21,...,Missing,-9,-9,-9,-9,225,212,-9,-9,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
='362058005869',12,6,No,40.7649,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,No,68,53,-9,-9,356,245,-9,-9,No
='362058099856',11,9,No,40.8813,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,-9,-9,-9,-9,142,148,-9,-9,No
='362058005935',12,6,No,40.6969,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,-9,-9,110,110,344,278,-9,-9,No
='362058006033',12,6,No,40.705,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,87,0,-9,-9,374,2,-9,-9,No
='362058005832',12,6,No,40.7096,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,No,47,0,-9,-9,551,0,-9,-9,No
='362058002919',12,6,No,40.7929,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,67,0,-9,-9,489,0,-9,-9,No
='362058005948',12,6,No,40.7713,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,-9,-9,40,0,561,0,-9,-9,No
='06CC47400001',12,KG,No,39.1284,06CC474,Yuba City Charter,CA,CALIFORNIA,4,13,...,Yes,-9,-9,4,4,115,117,-9,-9,No
='362058099874',11,8,No,40.7112,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,20,12,-9,-9,142,115,-9,-9,No
='362058099933',11,9,No,40.807,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,10,7,-9,-9,102,109,-9,-9,No
='362058099968',12,9,No,40.7224,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,-9,-9,-9,-9,125,89,-9,-9,No
='362058099992',12,9,No,40.6968,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,33,37,-9,-9,102,171,-9,-9,No
='362058099995',12,9,No,40.6759,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,-9,-9,63,146,137,380,-9,-9,No
='362058001409',12,10,No,40.6982,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,No,-9,-9,-9,-9,21,24,-9,-9,No
='362058002961',12,6,No,40.8276,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,25,9,28,2,425,346,-9,-9,No
='362058003091',12,9,No,40.7119,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,55,76,-9,-9,285,629,-9,-9,No
='362058004873',12,KG,No,40.7193,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,No,236,215,-9,-9,884,866,-9,-9,No
='362058005113',12,9,No,40.7749,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,52,21,-9,-9,280,223,-9,-9,No
='362058005516',12,6,No,40.6495,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,63,75,75,81,255,275,-9,-9,No
='362058005521',11,6,No,40.8136,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,19,13,-9,-9,292,305,-9,-9,No
='362058005536',12,8,No,40.7442,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,No,35,31,76,41,569,554,-9,-9,No
='362058005677',12,8,No,40.8756,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,54,12,-9,-9,461,111,-9,-9,No
='362058005774',12,9,No,40.7749,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,19,21,-9,-9,234,195,-9,-9,No
='362058005899',12,9,No,40.6895,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,No,56,90,35,44,314,659,-9,-9,No
='362058005962',12,9,No,40.6925,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,24,14,16,14,222,160,-9,-9,No
='362058005985',12,5,No,40.8152,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,-9,-9,11,12,272,410,-9,-9,No
='362058005999',12,8,No,40.6018,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,-9,-9,29,35,164,255,-9,-9,No
='362058006105',12,9,No,40.7355,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,49,19,-9,-9,243,200,-9,-9,No
='362058006122',12,9,No,40.6915,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,-9,-9,-9,-9,53,74,-9,-9,No
='362058006148',12,9,No,40.786,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,12,7,-9,-9,132,199,-9,-9,No

** Non-Virtual Schools **

In [107]:
recovered_schools_filter1 = recovered_schools_all.copy()

In [108]:
recovered_schools_filter1 = recovered_schools_filter1[recovered_schools_filter1.VIRTUAL != 'Yes']

In [109]:
"""How many schools remain?"""
len(recovered_schools_filter1.index)

697

** NCES-Reported High Schools **

In [110]:
recovered_schools_filter2 = recovered_schools_filter1.copy()

In [111]:
recovered_schools_filter2 = recovered_schools_filter2[(recovered_schools_filter2.LEVEL == '3') | (recovered_schools_filter2.LEVEL == '4')]

In [112]:
"""How many schools remain?"""
len(recovered_schools_filter2.index)

692

** NCES-Reported Regular **

In [113]:
recovered_schools_filter3 = recovered_schools_filter2.copy()

In [114]:
recovered_schools_filter3 = recovered_schools_filter3[(recovered_schools_filter3.SCH_TYPE == 1) |\
                                                      (recovered_schools_filter3.SCH_TYPE == 3)]

In [115]:
"""How many schools remain?"""
len(recovered_schools_filter3.index)

665

**Remove Schools with 'Adult' in the Name**

In [116]:
recovered_schools_filter3 = recovered_schools_filter3[~recovered_schools_filter3.SCH_NAME.str.contains('Adult', case=False)]

**Clean Duplicate Values **

In [117]:
recovered_schools_filter3.groupby('SCH_NAME')['SCH_NAME'].count().sort_values(ascending = False).head(5)

SCH_NAME
beacon high school                 2
university high                    2
community collaborative charter    2
performance learning center        2
empire springs charter             1
Name: SCH_NAME, dtype: int64

In [118]:
recovered_schools_filter3

,GSHI,GSLO,JJ,LAT1516,LEAID,LEA_NAME,LEA_STATE,LEA_STATE_NAME,LEVEL,LOCALE15,...,TITLEI,TOT_APENR_F,TOT_APENR_M,TOT_DUALENR_F,TOT_DUALENR_M,TOT_ENR_F,TOT_ENR_M,TOT_IBENR_F,TOT_IBENR_M,VIRTUAL
COMBOKEY,,,,,,,,,,,,,,,,,,,,,
='362058004305',12,9,No,40.8183,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,138,71,14,9,710,731,-9,-9,No
='359905499999',12,9,No,35.0862,3599054,ABQ Charter Academy,NM,NEW MEXICO,3,11,...,Yes,-9,-9,17,29,130,132,-9,-9,No
='362058001906',12,9,No,40.5824,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,102,97,63,88,800,1307,-9,-9,No
='069998499999',12,9,No,38.4473,699984,Abraxis Charter,CA,CALIFORNIA,3,12,...,Missing,-9,-9,-9,-9,23,20,-9,-9,No
='362058005916',12,6,No,40.6495,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,16,27,-9,-9,193,262,-9,-9,No
='06CC43900001',12,KG,No,34.5333,06CC439,Academy for Academic Excellence,CA,CALIFORNIA,4,21,...,Missing,52,40,-9,-9,696,683,-9,-9,No
='362058006070',12,9,No,40.7427,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,No,59,47,19,12,279,266,-9,-9,No
='362058006054',12,9,No,40.6336,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,23,30,-9,-9,115,179,-9,-9,No
='362058005866',12,KG,No,40.6968,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,15,12,-9,-9,149,160,-9,-9,No
='362058006200',12,8,No,40.6759,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,-9,-9,-9,-9,252,109,-9,-9,No
='362058005981',12,9,No,40.8495,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,56,85,-9,-9,131,181,-9,-9,No
='362058005810',12,9,No,40.888,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,44,40,30,35,181,200,-9,-9,No
='362058005945',12,9,No,40.8156,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,-9,-9,-9,-9,77,96,-9,-9,No
='362058099876',12,8,No,40.7355,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,25,97,-9,-9,98,359,-9,-9,No
='362058005884',12,6,No,40.6571,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,64,18,-9,-9,372,215,-9,-9,No
='362058002562',12,9,No,40.7515,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,No,83,78,71,67,406,484,-9,-9,No
='362058005828',12,9,No,40.7446,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,103,64,-9,-9,278,237,-9,-9,No
='362058005885',12,8,No,40.6495,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,11,2,-9,-9,127,97,-9,-9,No
='362058006046',12,9,No,40.693,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,8,40,-9,-9,74,335,-9,-9,No
='362058005552',12,9,No,40.6968,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,41,25,-9,-9,109,122,-9,-9,No
='362058006079',12,5,No,40.6018,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,-9,-9,114,85,332,292,-9,-9,No
='06CC36500001',12,4,No,39.1649,06CC365,Accelerated Achievement Academy (Ukiah),CA,CALIFORNIA,4,33,...,Yes,-9,-9,2,0,88,74,-9,-9,No
='06CC44200001',12,9,No,37.3689,06CC442,ACE Charter High,CA,CALIFORNIA,3,11,...,Yes,-9,-9,-9,-9,135,138,-9,-9,No
='362058002478',12,9,No,40.6786,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,36,25,-9,-9,169,207,-9,-9,No
='06CC36600018',12,9,No,33.9346,06CC366,Green Dot Public Schools,CA,CALIFORNIA,3,11,...,Yes,132,100,-9,-9,763,913,-9,-9,No
='06CC01500001',12,6,No,37.7792,06CC015,ALAMEDA COMMUNITY LEARNING CENTER,CA,CALIFORNIA,4,21,...,Missing,-9,-9,-9,-9,174,202,-9,-9,No
='069906899999',12,7,No,34.4469,699068,Albert Einstein Academy for Letters Arts and S...,CA,CALIFORNIA,3,21,...,Missing,-9,-9,-9,-9,225,212,-9,-9,No
='362058001909',12,9,No,40.8187,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,2,34,-9,-9,39,377,-9,-9,No
='362058005537',12,6,No,40.6977,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,10,25,-9,-9,208,175,-9,-9,No
='06CC40600001',12,9,No,33.7358,06CC406,Alliance Alice M. Baxter College-Ready High,CA,CALIFORNIA,3,11,...,Yes,66,39,-9,-9,110,105,-9,-9,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
='362058005869',12,6,No,40.7649,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,No,68,53,-9,-9,356,245,-9,-9,No
='362058099856',11,9,No,40.8813,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,-9,-9,-9,-9,142,148,-9,-9,No
='362058005935',12,6,No,40.6969,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,-9,-9,110,110,344,278,-9,-9,No
='362058006033',12,6,No,40.705,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,87,0,-9,-9,374,2,-9,-9,No
='362058005832',12,6,No,40.7096,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,No,47,0,-9,-9,551,0,-9,-9,No
='362058002919',12,6,No,40.7929,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,67,0,-9,-9,489,0,-9,-9,No
='362058005948',12,6,No,40.7713,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,-9,-9,40,0,561,0,-9,-9,No
='06CC47400001',12,KG,No,39.1284,06CC474,Yuba City Charter,CA,CALIFORNIA,4,13,...,Yes,-9,-9,4,4,115,117,-9,-9,No
='362058099874',11,8,No,40.7112,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,20,12,-9,-9,142,115,-9,-9,No
='362058099933',11,9,No,40.807,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,10,7,-9,-9,102,109,-9,-9,No
='362058099968',12,9,No,40.7224,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,-9,-9,-9,-9,125,89,-9,-9,No
='362058099992',12,9,No,40.6968,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,33,37,-9,-9,102,171,-9,-9,No
='362058099995',12,9,No,40.6759,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,-9,-9,63,146,137,380,-9,-9,No
='362058001409',12,10,No,40.6982,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,No,-9,-9,-9,-9,21,24,-9,-9,No
='362058002961',12,6,No,40.8276,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,25,9,28,2,425,346,-9,-9,No
='362058003091',12,9,No,40.7119,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,55,76,-9,-9,285,629,-9,-9,No
='362058004873',12,KG,No,40.7193,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,No,236,215,-9,-9,884,866,-9,-9,No
='362058005113',12,9,No,40.7749,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,52,21,-9,-9,280,223,-9,-9,No
='362058005516',12,6,No,40.6495,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,63,75,75,81,255,275,-9,-9,No
='362058005521',11,6,No,40.8136,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,19,13,-9,-9,292,305,-9,-9,No
='362058005536',12,8,No,40.7442,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,No,35,31,76,41,569,554,-9,-9,No
='362058005677',12,8,No,40.8756,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,54,12,-9,-9,461,111,-9,-9,No
='362058005774',12,9,No,40.7749,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,19,21,-9,-9,234,195,-9,-9,No
='362058005899',12,9,No,40.6895,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,No,56,90,35,44,314,659,-9,-9,No
='362058005962',12,9,No,40.6925,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,24,14,16,14,222,160,-9,-9,No
='362058005985',12,5,No,40.8152,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,4,11,...,Yes,-9,-9,11,12,272,410,-9,-9,No
='362058005999',12,8,No,40.6018,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,-9,-9,29,35,164,255,-9,-9,No
='362058006105',12,9,No,40.7355,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,49,19,-9,-9,243,200,-9,-9,No
='362058006122',12,9,No,40.6915,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,-9,-9,-9,-9,53,74,-9,-9,No
='362058006148',12,9,No,40.786,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,Yes,12,7,-9,-9,132,199,-9,-9,No

In [119]:
recovered_schools_filter3[recovered_schools_filter3.SCH_NAME.str.startswith('beacon')]

,GSHI,GSLO,JJ,LAT1516,LEAID,LEA_NAME,LEA_STATE,LEA_STATE_NAME,LEVEL,LOCALE15,...,TITLEI,TOT_APENR_F,TOT_APENR_M,TOT_DUALENR_F,TOT_DUALENR_M,TOT_ENR_F,TOT_ENR_M,TOT_IBENR_F,TOT_IBENR_M,VIRTUAL
COMBOKEY,,,,,,,,,,,,,,,,,,,,,
='362058000592',12,9,No,40.7612,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,...,No,125,58,-9,-9,839,466,-9,-9,No
='362058000592',12,9,No,41.5145,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,21,...,No,125,58,-9,-9,839,466,-9,-9,No

In [120]:
"""Dealing with Beacon"""
with pd.option_context('display.max_columns', 100):
    display(recovered_schools_filter3[recovered_schools_filter3.SCH_NAME.str.startswith('beacon')])

,GSHI,GSLO,JJ,LAT1516,LEAID,LEA_NAME,LEA_STATE,LEA_STATE_NAME,LEVEL,LOCALE15,LON1516,NMCNTY15,SCHID,SCH_APENR_AM_F,SCH_APENR_AM_M,SCH_APENR_AS_F,SCH_APENR_AS_M,SCH_APENR_BL_F,SCH_APENR_BL_M,SCH_APENR_HI_F,SCH_APENR_HI_M,SCH_APENR_HP_F,SCH_APENR_HP_M,SCH_APENR_IDEA_F,SCH_APENR_IDEA_M,SCH_APENR_IND,SCH_APENR_LEP_F,SCH_APENR_LEP_M,SCH_APENR_TR_F,SCH_APENR_TR_M,SCH_APENR_WH_F,SCH_APENR_WH_M,SCH_DUALENR_AM_F,SCH_DUALENR_AM_M,SCH_DUALENR_AS_F,SCH_DUALENR_AS_M,SCH_DUALENR_BL_F,SCH_DUALENR_BL_M,SCH_DUALENR_HI_F,SCH_DUALENR_HI_M,SCH_DUALENR_HP_F,SCH_DUALENR_HP_M,SCH_DUALENR_IDEA_F,SCH_DUALENR_IDEA_M,SCH_DUALENR_LEP_F,SCH_DUALENR_LEP_M,SCH_DUALENR_TR_F,SCH_DUALENR_TR_M,SCH_DUALENR_WH_F,SCH_DUALENR_WH_M,...,SCH_GRADE_G05,SCH_GRADE_G06,SCH_GRADE_G07,SCH_GRADE_G08,SCH_GRADE_G09,SCH_GRADE_G10,SCH_GRADE_G11,SCH_GRADE_G12,SCH_GRADE_KG,SCH_GRADE_PS,SCH_GRADE_UG,SCH_IBENR_AM_F,SCH_IBENR_AM_M,SCH_IBENR_AS_F,SCH_IBENR_AS_M,SCH_IBENR_BL_F,SCH_IBENR_BL_M,SCH_IBENR_HI_F,SCH_IBENR_HI_M,SCH_IBENR_HP_F,SCH_IBENR_HP_M,SCH_IBENR_IDEA_F,SCH_IBENR_IDEA_M,SCH_IBENR_IND,SCH_IBENR_LEP_F,SCH_IBENR_LEP_M,SCH_IBENR_TR_F,SCH_IBENR_TR_M,SCH_IBENR_WH_F,SCH_IBENR_WH_M,SCH_NAME,SCH_STATUS_ALT,SCH_STATUS_CHARTER,SCH_STATUS_MAGNET,SCH_STATUS_SPED,SCH_TYPE,SCH_TYPE_TEXT,SCH_UGDETAIL_HS,STABR,Students_in_11_12,TITLEI,TOT_APENR_F,TOT_APENR_M,TOT_DUALENR_F,TOT_DUALENR_M,TOT_ENR_F,TOT_ENR_M,TOT_IBENR_F,TOT_IBENR_M,VIRTUAL
COMBOKEY,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
='362058000592',12,9,No,40.7612,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,-73.9952,New York County,592,0,0,17,5,11,5,32,14,0,0,2,2,Yes,0,0,0,2,65,32,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,...,No,No,No,No,Yes,Yes,Yes,Yes,No,No,Yes,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,No,-9,-9,-9,-9,-9,-9,beacon high school,No,No,No,No,1,Regular School,Yes,NY,Yes,No,125,58,-9,-9,839,466,-9,-9,No
='362058000592',12,9,No,41.5145,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,21,-73.9635,Dutchess County,592,0,0,17,5,11,5,32,14,0,0,2,2,Yes,0,0,0,2,65,32,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,...,No,No,No,No,Yes,Yes,Yes,Yes,No,No,Yes,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,No,-9,-9,-9,-9,-9,-9,beacon high school,No,No,No,No,1,Regular School,Yes,NY,Yes,No,125,58,-9,-9,839,466,-9,-9,No

In [121]:
filter5_crdc_nces_1516[filter5_crdc_nces_1516.SCH_NAME.str.startswith('BEACON')]

,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,SCH_NAME,JJ,SCH_GRADE_PS,SCH_GRADE_KG,SCH_GRADE_G01,...,SCH_TYPE,LEVEL,VIRTUAL,GSLO,GSHI,NMCNTY15,LOCALE15,LAT1516,LON1516,Students_in_11_12
COMBOKEY,,,,,,,,,,,,,,,,,,,,,
='360414000177',NY,NEW YORK,3604140,BEACON CITY SCHOOL DISTRICT,177,BEACON HIGH SCHOOL,No,No,No,No,...,1,3,No,9,12,Dutchess County,21,41.5145,-73.9635,Yes
='362058000592',NY,NEW YORK,3620580,NEW YORK CITY PUBLIC SCHOOLS,592,BEACON HIGH SCHOOL,No,No,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Yes
='440000800297',RI,RHODE ISLAND,4400008,Beacon Charter School,297,BEACON Charter School,No,No,No,No,...,1,3,No,9,12,Providence County,21,42.0134,-71.502,Yes

In [122]:
"""Beacon High School in Dutchess County is already in the filter5 dataset -- Remove"""
recovered_schools_filter4 = recovered_schools_filter3.copy()
recovered_schools_filter4 = recovered_schools_filter4[(recovered_schools_filter4.SCH_NAME != 'beacon high school') | (recovered_schools_filter4.NMCNTY15 != 'Dutchess County')]

In [123]:
"""Dealing with Performance Learning Center"""
with pd.option_context('display.max_columns', 100):
    display(recovered_schools_filter3[recovered_schools_filter3.SCH_NAME.str.startswith('performance')])

,GSHI,GSLO,JJ,LAT1516,LEAID,LEA_NAME,LEA_STATE,LEA_STATE_NAME,LEVEL,LOCALE15,LON1516,NMCNTY15,SCHID,SCH_APENR_AM_F,SCH_APENR_AM_M,SCH_APENR_AS_F,SCH_APENR_AS_M,SCH_APENR_BL_F,SCH_APENR_BL_M,SCH_APENR_HI_F,SCH_APENR_HI_M,SCH_APENR_HP_F,SCH_APENR_HP_M,SCH_APENR_IDEA_F,SCH_APENR_IDEA_M,SCH_APENR_IND,SCH_APENR_LEP_F,SCH_APENR_LEP_M,SCH_APENR_TR_F,SCH_APENR_TR_M,SCH_APENR_WH_F,SCH_APENR_WH_M,SCH_DUALENR_AM_F,SCH_DUALENR_AM_M,SCH_DUALENR_AS_F,SCH_DUALENR_AS_M,SCH_DUALENR_BL_F,SCH_DUALENR_BL_M,SCH_DUALENR_HI_F,SCH_DUALENR_HI_M,SCH_DUALENR_HP_F,SCH_DUALENR_HP_M,SCH_DUALENR_IDEA_F,SCH_DUALENR_IDEA_M,SCH_DUALENR_LEP_F,SCH_DUALENR_LEP_M,SCH_DUALENR_TR_F,SCH_DUALENR_TR_M,SCH_DUALENR_WH_F,SCH_DUALENR_WH_M,...,SCH_GRADE_G05,SCH_GRADE_G06,SCH_GRADE_G07,SCH_GRADE_G08,SCH_GRADE_G09,SCH_GRADE_G10,SCH_GRADE_G11,SCH_GRADE_G12,SCH_GRADE_KG,SCH_GRADE_PS,SCH_GRADE_UG,SCH_IBENR_AM_F,SCH_IBENR_AM_M,SCH_IBENR_AS_F,SCH_IBENR_AS_M,SCH_IBENR_BL_F,SCH_IBENR_BL_M,SCH_IBENR_HI_F,SCH_IBENR_HI_M,SCH_IBENR_HP_F,SCH_IBENR_HP_M,SCH_IBENR_IDEA_F,SCH_IBENR_IDEA_M,SCH_IBENR_IND,SCH_IBENR_LEP_F,SCH_IBENR_LEP_M,SCH_IBENR_TR_F,SCH_IBENR_TR_M,SCH_IBENR_WH_F,SCH_IBENR_WH_M,SCH_NAME,SCH_STATUS_ALT,SCH_STATUS_CHARTER,SCH_STATUS_MAGNET,SCH_STATUS_SPED,SCH_TYPE,SCH_TYPE_TEXT,SCH_UGDETAIL_HS,STABR,Students_in_11_12,TITLEI,TOT_APENR_F,TOT_APENR_M,TOT_DUALENR_F,TOT_DUALENR_M,TOT_ENR_F,TOT_ENR_M,TOT_IBENR_F,TOT_IBENR_M,VIRTUAL
COMBOKEY,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
='130129003727',12,9,No,33.4739,1301290,Cobb County,GA,GEORGIA,3,12,-81.9974,Richmond County,3727,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,No,-9,-9,-9,-9,-9,-9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,No,No,No,No,No,Yes,Yes,Yes,No,No,No,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,No,-9,-9,-9,-9,-9,-9,performance learning center,No,No,No,No,1,Regular School,-9,GA,Yes,Yes,-9,-9,0,0,49,65,-9,-9,No
='130270003728',12,9,No,33.4739,1302700,Harris County,GA,GEORGIA,3,12,-81.9974,Richmond County,3728,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,No,-9,-9,-9,-9,-9,-9,0,0,0,0,2,5,2,0,0,0,0,0,0,0,2,0,11,5,...,No,No,No,No,Yes,Yes,Yes,Yes,No,No,No,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,No,-9,-9,-9,-9,-9,-9,performance learning center,No,No,No,No,1,Regular School,-9,GA,Yes,Yes,-9,-9,17,10,44,47,-9,-9,No

In [124]:
filter5_crdc_nces_1516[filter5_crdc_nces_1516.SCH_NAME.str.startswith('Performance')]

,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,SCH_NAME,JJ,SCH_GRADE_PS,SCH_GRADE_KG,SCH_GRADE_G01,...,SCH_TYPE,LEVEL,VIRTUAL,GSLO,GSHI,NMCNTY15,LOCALE15,LAT1516,LON1516,Students_in_11_12
COMBOKEY,,,,,,,,,,,,,,,,,,,,,
='130129003727',GA,GEORGIA,1301290,Cobb County,3727,Performance Learning Center,No,No,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Yes
='130270003728',GA,GEORGIA,1302700,Harris County,3728,Performance Learning Center,No,No,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Yes
='130438004221',GA,GEORGIA,1304380,Richmond County,4221,Performance Learning Center,No,No,No,No,...,1,3,No,9,12,Richmond County,12,33.4739,-81.9974,Yes
='370053002975',NC,NORTH CAROLINA,3700530,Cabarrus County Schools,2975,Performance Learning Center,No,No,No,No,...,1,4,No,6,12,Cabarrus County,13,35.3649,-80.594,Yes
='370297002842',NC,NORTH CAROLINA,3702970,Charlotte-Mecklenburg Schools,2842,Performance Learning Center,No,No,No,No,...,1,3,No,9,12,Mecklenburg County,11,35.2951,-80.7957,Yes

In [125]:
"""Both of the performance learning centers here actually matched to a different 'performance learning center' record;
therefore, they should both be removed"""
recovered_schools_filter4 = recovered_schools_filter4[recovered_schools_filter4.SCH_NAME != 'performance learning center']

In [126]:
"""Dealing with university high"""
with pd.option_context('display.max_columns', 100):
    display(recovered_schools_filter3[recovered_schools_filter3.SCH_NAME.str.startswith('university high')])

,GSHI,GSLO,JJ,LAT1516,LEAID,LEA_NAME,LEA_STATE,LEA_STATE_NAME,LEVEL,LOCALE15,LON1516,NMCNTY15,SCHID,SCH_APENR_AM_F,SCH_APENR_AM_M,SCH_APENR_AS_F,SCH_APENR_AS_M,SCH_APENR_BL_F,SCH_APENR_BL_M,SCH_APENR_HI_F,SCH_APENR_HI_M,SCH_APENR_HP_F,SCH_APENR_HP_M,SCH_APENR_IDEA_F,SCH_APENR_IDEA_M,SCH_APENR_IND,SCH_APENR_LEP_F,SCH_APENR_LEP_M,SCH_APENR_TR_F,SCH_APENR_TR_M,SCH_APENR_WH_F,SCH_APENR_WH_M,SCH_DUALENR_AM_F,SCH_DUALENR_AM_M,SCH_DUALENR_AS_F,SCH_DUALENR_AS_M,SCH_DUALENR_BL_F,SCH_DUALENR_BL_M,SCH_DUALENR_HI_F,SCH_DUALENR_HI_M,SCH_DUALENR_HP_F,SCH_DUALENR_HP_M,SCH_DUALENR_IDEA_F,SCH_DUALENR_IDEA_M,SCH_DUALENR_LEP_F,SCH_DUALENR_LEP_M,SCH_DUALENR_TR_F,SCH_DUALENR_TR_M,SCH_DUALENR_WH_F,SCH_DUALENR_WH_M,...,SCH_GRADE_G05,SCH_GRADE_G06,SCH_GRADE_G07,SCH_GRADE_G08,SCH_GRADE_G09,SCH_GRADE_G10,SCH_GRADE_G11,SCH_GRADE_G12,SCH_GRADE_KG,SCH_GRADE_PS,SCH_GRADE_UG,SCH_IBENR_AM_F,SCH_IBENR_AM_M,SCH_IBENR_AS_F,SCH_IBENR_AS_M,SCH_IBENR_BL_F,SCH_IBENR_BL_M,SCH_IBENR_HI_F,SCH_IBENR_HI_M,SCH_IBENR_HP_F,SCH_IBENR_HP_M,SCH_IBENR_IDEA_F,SCH_IBENR_IDEA_M,SCH_IBENR_IND,SCH_IBENR_LEP_F,SCH_IBENR_LEP_M,SCH_IBENR_TR_F,SCH_IBENR_TR_M,SCH_IBENR_WH_F,SCH_IBENR_WH_M,SCH_NAME,SCH_STATUS_ALT,SCH_STATUS_CHARTER,SCH_STATUS_MAGNET,SCH_STATUS_SPED,SCH_TYPE,SCH_TYPE_TEXT,SCH_UGDETAIL_HS,STABR,Students_in_11_12,TITLEI,TOT_APENR_F,TOT_APENR_M,TOT_DUALENR_F,TOT_DUALENR_M,TOT_ENR_F,TOT_ENR_M,TOT_IBENR_F,TOT_IBENR_M,VIRTUAL
COMBOKEY,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
='069902400001',12,9,No,36.8097,699024,University High School,CA,CALIFORNIA,3,11,-119.748,Fresno County,1,2,2,47,29,8,5,26,23,0,0,0,2,Yes,0,0,0,0,50,44,2,5,68,50,8,5,50,38,0,0,0,2,0,0,0,0,68,65,...,No,No,No,No,Yes,Yes,Yes,Yes,No,No,No,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,No,-9,-9,-9,-9,-9,-9,university high,No,Yes,No,No,1,Regular School,-9,CA,Yes,Missing,133,103,196,163,271,217,-9,-9,No
='069902400001',12,9,No,33.6513,699024,University High School,CA,CALIFORNIA,3,12,-117.823,Orange County,1,2,2,47,29,8,5,26,23,0,0,0,2,Yes,0,0,0,0,50,44,2,5,68,50,8,5,50,38,0,0,0,2,0,0,0,0,68,65,...,No,No,No,No,Yes,Yes,Yes,Yes,No,No,No,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,No,-9,-9,-9,-9,-9,-9,university high,No,Yes,No,No,1,Regular School,-9,CA,Yes,Yes,133,103,196,163,271,217,-9,-9,No

In [127]:
filter5_crdc_nces_1516[filter5_crdc_nces_1516.SCH_NAME.str.startswith('University High')].head()

,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,SCH_NAME,JJ,SCH_GRADE_PS,SCH_GRADE_KG,SCH_GRADE_G01,...,SCH_TYPE,LEVEL,VIRTUAL,GSLO,GSHI,NMCNTY15,LOCALE15,LAT1516,LON1516,Students_in_11_12
COMBOKEY,,,,,,,,,,,,,,,,,,,,,
='040852003206',AZ,ARIZONA,408520,Tolleson Union High School District,3206,University High School,No,No,No,No,...,1,3,No,9,12,Maricopa County,21,33.4484,-112.264,Yes
='040880001441',AZ,ARIZONA,408800,Tucson Unified District,1441,University High School,No,No,No,No,...,1,3,No,9,12,Pima County,11,32.2274,-110.89,Yes
='068450007067',CA,CALIFORNIA,684500,Irvine Unified,7067,University High,No,No,No,No,...,1,3,No,9,12,Orange County,12,33.6513,-117.823,Yes
='069902400001',CA,CALIFORNIA,699024,University High School,1,University High,No,No,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Yes
='090192001381',CT,CONNECTICUT,901920,HARTFORD SCHOOL DISTRICT,1381,University High of Science and Engineering,No,No,No,No,...,1,3,No,9,12,Hartford County,12,41.7979,-72.7097,Yes

In [128]:
"""The University High in Irvine was already accounted for; therefore, needs to be removed from the recovered"""
recovered_schools_filter4 = recovered_schools_filter4[(recovered_schools_filter4.SCH_NAME != 'university high') | (recovered_schools_filter4.NMCNTY15 != 'Orange County')]

In [129]:
'How many final recovered values?'
len(recovered_schools_filter4.index)

661

# <font color = green> VI. Concatenating Recovered Missing Values with the original Filtered Dataset </font>
<div class = 'alert alert-cell alert-info'> Finally, I concatenated the recovered high schools with the original filtered set.<br><br>

I ensured that no duplicate values were added in the process.

Then saved the file to "../filtered_data/04_filter_final.csv" </div>
<div class = 'alert alert-cell alert-warning'>
Final Total:  **15725 High Schools**

In [130]:
"""Remove the missing values"""
filter6_crdc_nces_1516 = filter5_crdc_nces_1516.copy()
filter6_crdc_nces_1516 = filter6_crdc_nces_1516[filter6_crdc_nces_1516.LEVEL != "Missing"]

In [131]:
"""How many initial Duplicates?
Interesting enough, these duplicates appear to legitimate; the problem seems to be that the schools actually have 
different names (e.g. "The ADAIR Co. High"'s are actually supposed to be labeled ADAIR Co. R-I High and ADAIR Co. R-II BRASHEAR)"""
filter6_crdc_nces_1516.groupby(['STABR','SCH_NAME','NMCNTY15'])['SCH_NAME'].count().sort_values(ascending=False).head()

STABR  SCH_NAME          NMCNTY15
TX     TAYLOR H S        Harris County    2
       LEE H S           Harris County    2
MO     ADAIR CO. HIGH    Adair County     2
TX     STERLING H S      Harris County    2
KS     South Haven High  Sumner County    1
Name: SCH_NAME, dtype: int64

In [132]:
"""Any dulications in the recovered schools?
    The community collaborative charter schools are two different schools."""
recovered_schools_filter4.groupby(['STABR','SCH_NAME','NMCNTY15'])['SCH_NAME'].count().sort_values(ascending=False).head()

STABR  SCH_NAME                                   NMCNTY15
CA     community collaborative charter            Sacramento County    2
TX     ischool high of hickory creek              Denton County        1
NY     arts and media preparatory academy         Kings County         1
       baccalaureate school for global education  Queens County        1
       aviation career and technical high school  Queens County        1
Name: SCH_NAME, dtype: int64

In [133]:
# filtered_and_recovered = pd.concat([filter6_crdc_nces_1516, recovered_schools_filter4])
filtered_and_recovered = filter6_crdc_nces_1516.append(recovered_schools_filter4)

In [134]:
"""Do the numbers of columns match?"""
print(len(filter6_crdc_nces_1516.columns.values))
len(filtered_and_recovered.columns.values)

123

123

In [135]:
"""Because Columns are stored as dictionaries, there is no inherent order to the columns -- Pandas automatically 
uses an alphabetical sort on an append/concatenation.  I reorded the columns to show the SCH Name first"""
schName = ['SCH_NAME']
reorder = schName + [c for c in filtered_and_recovered.columns if c not in schName]
filtered_and_recovered = filtered_and_recovered[reorder]

In [136]:
"""No added duplicate records"""
filtered_and_recovered.groupby(['STABR','SCH_NAME','NMCNTY15'])['SCH_NAME'].count().sort_values(ascending=False).head(6)

STABR  SCH_NAME                         NMCNTY15
TX     LEE H S                          Harris County        2
CA     community collaborative charter  Sacramento County    2
TX     TAYLOR H S                       Harris County        2
       STERLING H S                     Harris County        2
MO     ADAIR CO. HIGH                   Adair County         2
WY     Wyoming Indian High School       Fremont County       1
Name: SCH_NAME, dtype: int64

In [137]:
"How many total high schools in the set?"
len(filtered_and_recovered.index)

18667

In [138]:
# filtered_and_recovered.to_csv('../filtered_data/04_filter_final.csv')

# Final Missing Schools
<div class = 'alert alert-cell alert-info'>**348 Schools**<br> Saved to '04_final_missing.csv'

In [139]:
final_missing = schname_combined[(schname_combined.SCH_NAME_.isnull()) & (schname_combined.LEA_NAME != 'NEW YORK CITY PUBLIC SCHOOLS')]

In [140]:
""" How many final missing schools? """
len(final_missing.index)

290

In [141]:
# final_missing.to_csv('../filtered_data/04_final_missing.csv')

In [142]:
""" Top remaining unaccounted districts """
final_missing.groupby('LEA_NAME')['LEAID'].count().sort_values(ascending = False).head(10)

LEA_NAME
NORMAN                                                     7
Dept. of Svs. for Children Youth & Their Families          5
OFFICE OF EDUCATION DEPARTMENT OF CHILDREN AND FAMILIES    4
ERIE 2-CHAUTAUQUA-CATTARAUGUS BOCES                        3
Clayton County                                             3
NASSAU BOCES                                               3
Cherokee County                                            3
WINDSOR SCHOOL DISTRICT                                    3
Boston                                                     3
TULSA                                                      3
Name: LEAID, dtype: int64