In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from my_functions import combokey_converter

%matplotlib inline
sns.set_style('whitegrid')
plt.rc('axes', titlesize = 14, titleweight = 'bold', labelweight = 'bold')

# <font color = green> I. Column Info </font>

#  Column info for crdc_1516 
<b><div class="alert alert-block alert-info"> Contains 111 Fields </b>

In [2]:
crdc_cols = pd.read_csv('../filtered_data/00_crdc_1516_initial_layout.csv')

In [3]:
with pd.option_context('display.max_colwidth', 150, 'display.max_rows', 125):
    display(crdc_cols.drop('Module', axis = 1).set_index('Field_Name'))

                                                                                                                             Field_Description
Field_Name
LEA_STATE                                                                                                          District State Abbreviation
LEA_STATE_NAME                                                                                                             District State Name
LEAID                                                                                               7 Digit LEAID District Identification Code
LEA_NAME                                                                                                                         District Name
SCHID                                                                                                       5 Digit School Identification Code
SCH_NAME                                                                                                                           School Name
COMBOKEY                                                         7 Digit LEAID District Identification Code+5 Digit School Identification Code
JJ                                    Juvenile Justice Facility: "Yes" indicates a long-term secure facility; "No" indicates not a JJ facility
SCH_GRADE_PS                                                                                          Grades with Students Enrolled: Preschool
SCH_GRADE_KG                                                                                       Grades with Students Enrolled: Kindergarten
SCH_GRADE_G01                                                                                           Grades with Students Enrolled: Grade 1
SCH_GRADE_G02                                                                                           Grades with Students Enrolled: Grade 2
SCH_GRADE_G03                                                                                           Grades with Students Enrolled: Grade 3
SCH_GRADE_G04                                                                                           Grades with Students Enrolled: Grade 4
SCH_GRADE_G05                                                                                           Grades with Students Enrolled: Grade 5
SCH_GRADE_G06                                                                                           Grades with Students Enrolled: Grade 6
SCH_GRADE_G07                                                                                           Grades with Students Enrolled: Grade 7
SCH_GRADE_G08                                                                                           Grades with Students Enrolled: Grade 8
SCH_GRADE_G09                                                                                           Grades with Students Enrolled: Grade 9
SCH_GRADE_G10                                                                                          Grades with Students Enrolled: Grade 10
SCH_GRADE_G11                                                                                          Grades with Students Enrolled: Grade 11
SCH_GRADE_G12                                                                                          Grades with Students Enrolled: Grade 12
SCH_GRADE_UG                                                                                           Grades with Students Enrolled: Ungraded
SCH_UGDETAIL_HS                                                                                      Ungraded Detail: High school age students
SCH_STATUS_SPED                                                                               School Characteristics: Special education school
SCH_STATUS_MAGNET                                 School Characteristics: Magnet school or school operating a magnet program within the school
SCH_STATUS_CHARTER                                                                                      School Characteristics: Charter school
SCH_STATUS_ALT                                                                                      School Characteristics: Alternative school
SCH_ENR_HI_M                                                                                         Overall Student Enrollment: Hispanic Male
SCH_ENR_HI_F                                                                                       Overall Student Enrollment: Hispanic Female
SCH_ENR_AM_M                                                                    Overall Student Enrollment: American Indian/Alaska Native Male
SCH_ENR_AM_F                                                                  Overall Student Enrollment: American Indian/Alaska Native Female
SCH_ENR_AS_M                                                                                            Overall Student Enrollment: Asian Male
SCH_ENR_AS_F                                                                                          Overall Student Enrollment: Asian Female
SCH_ENR_HP_M                                                                 Overall Student Enrollment: Native Hawaiian/Pacific Islander Male
SCH_ENR_HP_F                                                               Overall Student Enrollment: Native Hawaiian/Pacific Islander Female
SCH_ENR_BL_M                                                                                            Overall Student Enrollment: Black Male
SCH_ENR_BL_F                                                                                          Overall Student Enrollment: Black Female
SCH_ENR_WH_M                                                                                            Overall Student Enrollment: White Male
SCH_ENR_WH_F                                                                                          Overall Student Enrollment: White Female
SCH_ENR_TR_M                                                                                Overall Student Enrollment: Two or More Races Male
SCH_ENR_TR_F                                                                              Overall Student Enrollment: Two or More Races Female
TOT_ENR_M                                                                                    Overall Student Enrollment: Calculated Male Total
TOT_ENR_F                                                                                  Overall Student Enrollment: Calculated Female Total
SCH_ENR_LEP_M                                                                                             Overall Student Enrollment: LEP Male
SCH_ENR_LEP_F                                                                                           Overall Student Enrollment: LEP Female
SCH_ENR_IDEA_M                                                                                           Overall Student Enrollment: IDEA Male
SCH_ENR_IDEA_F                                                                                         Overall Student Enrollment: IDEA Female
SCH_DUAL_IND                                                                                                 Dual Enrollment Program Indicator
SCH_DUALENR_HI_M                                                                                                Dual Enrollment: Hispanic Male
SCH_DUALENR_HI_F                                                                                              Dual Enrollment: Hispanic Female
SCH_DUALENR_AM_M                                                                           Dual Enrollment: American Indian/Alaska Native Male
SCH_DUALENR_AM_F                                                                         Dual Enrollment: American Indian/Alaska Native Female
SCH_DUALENR_AS_M                                                                                                   Dual Enrollment: Asian Male
SCH_DUALENR_AS_F                                                                                                 Dual Enrollment: Asian Female
SCH_DUALENR_HP_M                                                                        Dual Enrollment: Native Hawaiian/Pacific Islander Male
SCH_DUALENR_HP_F                                                                      Dual Enrollment: Native Hawaiian/Pacific Islander Female
SCH_DUALENR_BL_M                                                                                                   Dual Enrollment: Black Male
SCH_DUALENR_BL_F                                                                                                 Dual Enrollment: Black Female
SCH_DUALENR_WH_M                                                                                                   Dual Enrollment: White Male
SCH_DUALENR_WH_F                                                                                                 Dual Enrollment: White Female
SCH_DUALENR_TR_M                                                                                       Dual Enrollment: Two or More Races Male
SCH_DUALENR_TR_F                                                                                     Dual Enrollment: Two or More Races Female
TOT_DUAL_M                                                                                              Dual Enrollment: Calculated Male Total
TOT_DUAL_F                                                                                            Dual Enrollment: Calculated Female Total
SCH_DUALENR_LEP_M                                                                                                    Dual Enrollment: LEP Male
SCH_DUALENR_LEP_F                                                                                                  Dual Enrollment: LEP Female
SCH_DUALENR_IDEA_M                                                                                                  Dual Enrollment: IDEA Male
SCH_DUALENR_IDEA_F                                                                                                Dual Enrollment: IDEA Female
SCH_APENR_IND       Advanced Placement (AP) Program Indicator: Does this school have any students enrolled in Advanced Placement (AP) courses?
SCH_APENR_HI_M                                                                      Students Enrolled in at least one AP Course: Hispanic Male
SCH_APENR_HI_F                                                                    Students Enrolled in at least one AP Course: Hispanic Female
SCH_APENR_AM_M                                                 Students Enrolled in at least one AP Course: American Indian/Alaska Native Male
SCH_APENR_AM_F                                               Students Enrolled in at least one AP Course: American Indian/Alaska Native Female
SCH_APENR_AS_M                                                                         Students Enrolled in at least one AP Course: Asian Male
SCH_APENR_AS_F                                                                       Students Enrolled in at least one AP Course: Asian Female
SCH_APENR_HP_M                                              Students Enrolled in at least one AP Course: Native Hawaiian/Pacific Islander Male
SCH_APENR_HP_F                                            Students Enrolled in at least one AP Course: Native Hawaiian/Pacific Islander Female
SCH_APENR_BL_M                                                                         Students Enrolled in at least one AP Course: Black Male
SCH_APENR_BL_F                                                                       Students Enrolled in at least one AP Course: Black Female
SCH_APENR_WH_M                                                                         Students Enrolled in at least one AP Course: White Male
SCH_APENR_WH_F                                                                       Students Enrolled in at least one AP Course: White Female
SCH_APENR_TR_M                                                             Students Enrolled in at least one AP Course: Two or More Races Male
SCH_APENR_TR_F                                                           Students Enrolled in at least one AP Course: Two or More Races Female
TOT_APENR_M                                                                 Students Enrolled in at least one AP Course: Calculated Male Total
TOT_APENR_F                                                               Students Enrolled in at least one AP Course: Calculated Female Total
SCH_APENR_LEP_M                                                                          Students Enrolled in at least one AP Course: LEP Male
SCH_APENR_LEP_F                                                                        Students Enrolled in at least one AP Course: LEP Female
SCH_APENR_IDEA_M                                                                        Students Enrolled in at least one AP Course: IDEA Male
SCH_APENR_IDEA_F                                                                      Students Enrolled in at least one AP Course: IDEA Female
SCH_IBENR_IND                                                                          International Baccalaureate Diploma Programme Indicator
SCH_IBENR_HI_M                                                                                            IB Student Enrollment: Hispanic Male
SCH_IBENR_HI_F                                                                                          IB Student Enrollment: Hispanic Female
SCH_IBENR_AM_M                                                                       IB Student Enrollment: American Indian/Alaska Native Male
SCH_IBENR_AM_F                                                                     IB Student Enrollment: American Indian/Alaska Native Female
SCH_IBENR_AS_M                                                                                               IB Student Enrollment: Asian Male
SCH_IBENR_AS_F                                                                                             IB Student Enrollment: Asian Female
SCH_IBENR_HP_M                                                                    IB Student Enrollment: Native Hawaiian/Pacific Islander Male
SCH_IBENR_HP_F                                                                  IB Student Enrollment: Native Hawaiian/Pacific Islander Female
SCH_IBENR_BL_M                                                                                               IB Student Enrollment: Black Male
SCH_IBENR_BL_F                                                                                             IB Student Enrollment: Black Female
SCH_IBENR_WH_M                                                                                               IB Student Enrollment: White Male
SCH_IBENR_WH_F                                                                                             IB Student Enrollment: White Female
SCH_IBENR_TR_M                                                                                   IB Student Enrollment: Two or More Races Male
SCH_IBENR_TR_F                                                                                 IB Student Enrollment: Two or More Races Female
TOT_IBENR_M                                                                                       IB Student Enrollment: Calculated Male Total
TOT_IBENR_F                                                                                     IB Student Enrollment: Calculated Female Total
SCH_IBENR_LEP_M                                                                                                IB Student Enrollment: LEP Male
SCH_IBENR_LEP_F                                                                                              IB Student Enrollment: LEP Female
SCH_IBENR_IDEA_M                                                                                              IB Student Enrollment: IDEA Male
SCH_IBENR_IDEA_F                                                                                            IB Student Enrollment: IDEA Female

In [4]:
len(crdc_cols.index)

111

# Column info for nces_1516
<div class="alert alert-block alert-info">**9 Fields**

In [5]:
nces_cols = pd.read_csv('../filtered_data/01_nces_1516_initial_ccd_layout.csv')

In [6]:
"""Replace \n literals with commas for readability"""
nces_cols['Categorical Values'] = nces_cols['Categorical Values'].apply(lambda x: x.replace('\n', ', ') if type(x) == str else x)

In [7]:
with pd.option_context('display.max_colwidth', 350, 'display.max_rows', 25):
    display(nces_cols[['Variable Name', 'Description', 'Categorical Values']])

,Variable Name,Description,Categorical Values
0,LEAID,NCES Agency Identification Number,NaN
1,SCHID,NCES school identifier,NaN
2,SCH_NAME,School name,NaN
3,TITLEI,Title I Eligible School. This flag indicates whether a school is eligible for participation in either TAS or SWP program authorized by Title I of Public Law 103-382.,"No, Yes, Missing, Not applicable, -9-Suppressed"
4,SCH_TYPE_TEXT,School type (description),"Alternative Education School, Regular School, Special Education School, Vocational Education School,"
5,SCH_TYPE,School type (code),"1 = Regular school, 2 = Special education school, 3 = Vocational school, 4 = Other/alternative school, 5 = Reportable program (new code starting in 2007–08),"
6,LEVEL,School level,"1 = Primary (low grade = PK through 03; high grade = PK through 08), 2 = Middle (low grade = 04 through 07; high grade = 04 through 09), 3 = High (low grade = 07 through 12; high grade = 12 only), 4 = Other (any other configuration not falling within the above three categories;including ungraded), N = Not applicable, ,"
7,VIRTUAL,Virtual School Status,"Missing, No, Yes"
8,combokey,nces + schid unique identifier,NaN
9,NMCNTY15,County Code,NaN
10,LOCALE15,Locale Code,NaN
11,LAT1516,Latitude,NaN
12,LON1516,Longitutde,NaN

In [8]:
len(nces_cols.index)

13

# <font color = green> II. Data Cleaning/Joining </font>

# crdc_1516 Data
<div class="alert alert-block alert-info"><b> 96,360 Schools before any filtering <br>
111 Fields (Matches the crdc_cols)</b></div>
<br><br>
Used combokey_convert.converter to create a csv-compatible "COMBOKEY"

In [9]:
crdc_1516 = pd.read_csv('../filtered_data/00_crdc_1516_initial.csv', 
                        dtype = {'LEAID':np.object})

In [10]:
crdc_1516['COMBOKEY'] = combokey_converter.convert(crdc_1516, 'LEAID', 'SCHID')

In [11]:
crdc_1516.head()

,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,SCH_NAME,COMBOKEY,JJ,SCH_GRADE_PS,SCH_GRADE_KG,...,SCH_IBENR_WH_M,SCH_IBENR_WH_F,SCH_IBENR_TR_M,SCH_IBENR_TR_F,TOT_IBENR_M,TOT_IBENR_F,SCH_IBENR_LEP_M,SCH_IBENR_LEP_F,SCH_IBENR_IDEA_M,SCH_IBENR_IDEA_F
0,AL,ALABAMA,100002,Alabama Youth Services,1705,Wallace Sch - Mt Meigs Campus,='010000201705',Yes,No,No,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
1,AL,ALABAMA,100002,Alabama Youth Services,1706,McNeel Sch - Vacca Campus,='010000201706',Yes,No,No,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
2,AL,ALABAMA,100002,Alabama Youth Services,1876,Alabama Youth Services,='010000201876',No,No,No,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
3,AL,ALABAMA,100002,Alabama Youth Services,99995,AUTAUGA CAMPUS,='010000299995',Yes,No,No,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
4,AL,ALABAMA,100005,Albertville City,870,Albertville Middle School,='010000500870',No,No,No,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9

In [12]:
len(crdc_1516.index)

96360

In [13]:
len(crdc_1516.columns)

111

# nces_1516 Data
<div class="alert alert-block alert-info"><b> The nces_1516 Data was recorded in separate files (each with different numbers of schools), so I will have to join the separate files to avoid corruption/loss of data. </b><br>
    <u>Files</u><br>
    1. Characteristics <br>
    2. Directory <br>
    3. Geographic <br>
</div><div class = 'alert alert-block alert-info'>
Like the crdc data, the combokey field was generated using my combokey_converter.convert function.<br></div>

<div class="alert alert-block alert-warning">
**After first inner join (Directory and Characteristics) --> 100232 schools**<br>
Note: I ran a check to ensure that all of the matching combokeys have matching school names -- 100% identical.<br><br>
**After second inner join (above_combined and Geographic) --> 100087**<br> Note:  I ran the same check to ensure that all of the schools matched, and nearly 9000 came back as non-matching.  I then compared the first word of each of the two name fields, and only 9 schools came back as non-matching.  After close examination, I decided to cull these 9 schools.<br></div><div class = 'alert alert-block alert-warning'>
**CSV saved to '../filtered_data/01_nces_1516_initial_ccd.csv'**

In [14]:
nces_1516_characteristics = pd.read_csv('../filtered_data/01_nces_1516_initial_school_characteristics.csv')

In [15]:
nces_1516_characteristics['combokey'] = combokey_converter.convert(nces_1516_characteristics, 'LEAID', 'SCHID')

In [16]:
nces_1516_characteristics.head()

    LEAID  SCHID         combokey                          SCH_NAME TITLEI
0  100002    277  ='010000200277'  Sequoyah Sch - Chalkville Campus     -9
1  100002   1667  ='010000201667'                             Camps     -9
2  100002   1670  ='010000201670'                           Det Ctr     -9
3  100002   1705  ='010000201705'     Wallace Sch - Mt Meigs Campus     -9
4  100002   1706  ='010000201706'         McNeel Sch - Vacca Campus     -9

In [17]:
nces_1516_directory = pd.read_csv('../filtered_data/01_nces_1516_initial_school_directory.csv')

In [18]:
nces_1516_directory['combokey'] = combokey_converter.convert(nces_1516_directory, 'LEAID', 'SCHID')

In [19]:
nces_1516_directory.head()

,LEAID,SCHID,combokey,SCH_NAME,SCH_TYPE_TEXT,SCH_TYPE,LEVEL,VIRTUAL
0,100002,1876,='010000201876',Alabama Youth Services,Regular School,1,N,No
1,100002,1706,='010000201706',McNeel Sch - Vacca Campus,Alternative Education School,4,3,No
2,100002,1670,='010000201670',Det Ctr,Alternative Education School,4,3,No
3,100002,277,='010000200277',Sequoyah Sch - Chalkville Campus,Alternative Education School,4,3,No
4,100002,1705,='010000201705',Wallace Sch - Mt Meigs Campus,Alternative Education School,4,3,No

**First Join:  Directory + Characteristics**

In [20]:
nces_1516 = nces_1516_characteristics.set_index('combokey').join(nces_1516_directory.set_index('combokey'), how = 'inner', lsuffix = 'dir_')

In [21]:
nces_1516.head()

,LEAIDdir_,SCHIDdir_,SCH_NAMEdir_,TITLEI,LEAID,SCHID,SCH_NAME,SCH_TYPE_TEXT,SCH_TYPE,LEVEL,VIRTUAL
combokey,,,,,,,,,,,
='010000200277',100002,277,Sequoyah Sch - Chalkville Campus,-9,100002,277,Sequoyah Sch - Chalkville Campus,Alternative Education School,4,3,No
='010000201667',100002,1667,Camps,-9,100002,1667,Camps,Alternative Education School,4,3,No
='010000201670',100002,1670,Det Ctr,-9,100002,1670,Det Ctr,Alternative Education School,4,3,No
='010000201705',100002,1705,Wallace Sch - Mt Meigs Campus,-9,100002,1705,Wallace Sch - Mt Meigs Campus,Alternative Education School,4,3,No
='010000201706',100002,1706,McNeel Sch - Vacca Campus,-9,100002,1706,McNeel Sch - Vacca Campus,Alternative Education School,4,3,No

In [22]:
len(nces_1516.index)

100232

In [23]:
len(nces_1516[nces_1516.SCH_NAME == nces_1516.SCH_NAMEdir_].index)

100232

In [24]:
nces_1516 = nces_1516.drop(['LEAIDdir_', 'SCHIDdir_', 'SCH_NAMEdir_'], axis = 1)

**Second Join: combined + geo**

In [25]:
nces_1516_geo = pd.read_csv('../filtered_data/01_nces_1516_initial_geographic.csv',  dtype = {'LOCALE15': np.object})

In [26]:
nces_1516_geo['combokey'] = combokey_converter.convert(nces_1516_geo, 'LEAID', 'SCHID')

In [27]:
nces_1516_test = nces_1516.join(nces_1516_geo.set_index('combokey'), how = 'inner', rsuffix = 'dir_')

In [28]:
len(nces_1516_test.index)

100096

In [29]:
len(nces_1516_test[nces_1516_test.SCH_NAME == nces_1516_test.NAME].index)

91091

In [30]:
def name_checker(sch1, sch2):
    sch1 = sch1.lower()
    sch2 = sch2.lower()
    
    if sch1[0] == sch2[0]:
        return 0
    return 1

nces_1516_test['no_match_name'] = nces_1516_test.apply(lambda row: name_checker(row['SCH_NAME'], row['NAME']), axis = 1)
nces_1516_test[nces_1516_test.no_match_name == 1][['NAME', 'SCH_NAME']]

,NAME,SCH_NAME
combokey,,
='051266001562',HYLTON JUNIOR HIGH SCHOOL,LAKESIDE JUNIOR HIGH SCHOOL
='090147001810',Stowe - Early Learning Center (S,EPS PK STEAM Academy
='090171001700',Alternative High School Programs,Greenwich Alternative High School
='090192001616',STEM Magnet School at Dwight,Betances STEM Magnet School
='090279000148',Hyde School of Health Science an,Cortlandt V.R. Creed Health and Sport Sciences...
='090279001543',Helene Grant Headstart,Dr. Mayo Early Childhood School
='090279001585',Katherine Brennan/Clarence Roger,Brennan Rogers School
='090351201476',Education Connection Special Edu,GFLC/ACCESS School
='090423001808',Hatton Preschool Program,Southington Public Schools Preschool Program a...

In [31]:
nces_1516_full = nces_1516_test[nces_1516_test.no_match_name == 0].drop(['LEAIDdir_', 'SCHIDdir_', 'no_match_name', 'NAME'], axis = 1)

In [32]:
nces_1516_full.head()

,TITLEI,LEAID,SCHID,SCH_NAME,SCH_TYPE_TEXT,SCH_TYPE,LEVEL,VIRTUAL,NMCNTY15,LOCALE15,LAT1516,LON1516
combokey,,,,,,,,,,,,
='010000200277',-9,100002,277,Sequoyah Sch - Chalkville Campus,Alternative Education School,4,3,No,Jefferson County,21,33.673661,-86.628755
='010000201667',-9,100002,1667,Camps,Alternative Education School,4,3,No,Autauga County,41,32.521681,-86.530132
='010000201670',-9,100002,1670,Det Ctr,Alternative Education School,4,3,No,Clarke County,41,31.938444,-87.750529
='010000201705',-9,100002,1705,Wallace Sch - Mt Meigs Campus,Alternative Education School,4,3,No,Montgomery County,41,32.374812,-86.082360
='010000201706',-9,100002,1706,McNeel Sch - Vacca Campus,Alternative Education School,4,3,No,Jefferson County,12,33.583385,-86.710058

In [33]:
len(nces_1516_full.index)

100087

In [34]:
# nces_1516_full.to_csv('../filtered_data/01_nces_1516_initial_combined_ccd.csv')

# NCES (combined) and CRDC join
<div class="alert alert-block alert-warning">Out of the 96360 schools in the crdc1516 dataset, <b>3861</b> schools did not have a matching Combokey. These non-matching schools were kept in the dataset.<br><br>

Using the name checker function from above, another <b>182</b> schools were found to have School Names whose first words did not match between the NCES and CRDC sets.  Airing on the side of caution, these schools were indiscriminately culled.<br><br>

**Final school count in the combined dataset:  96178**</div>
<div class = 'alert alert_block alert-info'>Dataset saved to '03_crdc_nces_1516_raw_combined.csv'

In [35]:
nces_1516_full.head()

,TITLEI,LEAID,SCHID,SCH_NAME,SCH_TYPE_TEXT,SCH_TYPE,LEVEL,VIRTUAL,NMCNTY15,LOCALE15,LAT1516,LON1516
combokey,,,,,,,,,,,,
='010000200277',-9,100002,277,Sequoyah Sch - Chalkville Campus,Alternative Education School,4,3,No,Jefferson County,21,33.673661,-86.628755
='010000201667',-9,100002,1667,Camps,Alternative Education School,4,3,No,Autauga County,41,32.521681,-86.530132
='010000201670',-9,100002,1670,Det Ctr,Alternative Education School,4,3,No,Clarke County,41,31.938444,-87.750529
='010000201705',-9,100002,1705,Wallace Sch - Mt Meigs Campus,Alternative Education School,4,3,No,Montgomery County,41,32.374812,-86.082360
='010000201706',-9,100002,1706,McNeel Sch - Vacca Campus,Alternative Education School,4,3,No,Jefferson County,12,33.583385,-86.710058

In [36]:
crdc_nces1516_test = crdc_1516.set_index('COMBOKEY').join(nces_1516_full, how = 'left', rsuffix=('_'))

In [37]:
crdc_nces1516_test[crdc_nces1516_test.SCH_NAME_.isnull()].LEAID.count()

3861

In [43]:
def name_checker(sch1, sch2):
    if type(sch2) == float:
        return 2
    else:
        sch1 = sch1.lower()
        sch2 = sch2.lower()
        
    if sch1[0] == sch2[0]:
        return 0
    return 1

crdc_nces1516_test['no_match_name'] = crdc_nces1516_test.apply(lambda row: name_checker(row['SCH_NAME'], row['SCH_NAME_']), axis = 1)

In [44]:
crdc_nces1516_test[crdc_nces1516_test.no_match_name == 1][['SCH_NAME', 'SCH_NAME_']].head()

,SCH_NAME,SCH_NAME_
COMBOKEY,,
='010000600880',Brindlee Mountain Elementary School,Grassy Elem Sch
='010000600887',Brindlee Mountain Primary School,Union Grove Elem Sch
='010019402395',Pelham Ridge Elementary,Valley Intermediate School
='010019402396',Pelham Oaks Elementary,Valley Elementary School
='010033000086',Bessemer City Middle Sch,James A Davis Middle Sch

In [39]:
crdc_nces_1516 = crdc_nces1516_test[crdc_nces1516_test.no_match_name != 1].drop(['LEAID_', 'SCHID_', 'SCH_NAME_', 'no_match_name'], axis = 1)

In [45]:
len(crdc_nces_1516.index)

96178

In [46]:
# crdc_nces_1516.to_csv('../filtered_data/03_crdc_nces_1516_raw_combined.csv')

# <font color = green>III.  Filtration</font>

# Answered the AP & DE Flag
<div class = 'alert alert-block alert-info'> adsf