In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from my_functions import combokey_converter

%matplotlib inline
sns.set_style('whitegrid')
plt.rc('axes', titlesize = 14, titleweight = 'bold', labelweight = 'bold')

In [2]:
raw = pd.read_csv('../filtered_data/00_crdc_1516_initial.csv', 
                        dtype = {'LEAID':np.object})

In [3]:
filtered = pd.read_csv('../filtered_data/04_filter_final.csv', dtype = {'LEAID':np.object})

In [4]:
raw['COMBOKEY'] = combokey_converter.convert(raw, 'LEAID', 'SCHID')

In [5]:
filtered_combo = filtered[['COMBOKEY','LAT1516']]

In [6]:
filtered_raw_joined = pd.merge(raw, filtered_combo, on = 'COMBOKEY', how = 'left')
filtered_from_raw = filtered_raw_joined.copy()
filtered_from_raw = filtered_from_raw[filtered_from_raw.LAT1516.isnull()]

In [7]:
len(filtered_from_raw)

80635

In [8]:
filtered_from_raw.columns.values

array(['LEA_STATE', 'LEA_STATE_NAME', 'LEAID', 'LEA_NAME', 'SCHID',
       'SCH_NAME', 'COMBOKEY', 'JJ', 'SCH_GRADE_PS', 'SCH_GRADE_KG',
       'SCH_GRADE_G01', 'SCH_GRADE_G02', 'SCH_GRADE_G03', 'SCH_GRADE_G04',
       'SCH_GRADE_G05', 'SCH_GRADE_G06', 'SCH_GRADE_G07', 'SCH_GRADE_G08',
       'SCH_GRADE_G09', 'SCH_GRADE_G10', 'SCH_GRADE_G11', 'SCH_GRADE_G12',
       'SCH_GRADE_UG', 'SCH_UGDETAIL_HS', 'SCH_STATUS_SPED',
       'SCH_STATUS_MAGNET', 'SCH_STATUS_CHARTER', 'SCH_STATUS_ALT',
       'SCH_ENR_HI_M', 'SCH_ENR_HI_F', 'SCH_ENR_AM_M', 'SCH_ENR_AM_F',
       'SCH_ENR_AS_M', 'SCH_ENR_AS_F', 'SCH_ENR_HP_M', 'SCH_ENR_HP_F',
       'SCH_ENR_BL_M', 'SCH_ENR_BL_F', 'SCH_ENR_WH_M', 'SCH_ENR_WH_F',
       'SCH_ENR_TR_M', 'SCH_ENR_TR_F', 'TOT_ENR_M', 'TOT_ENR_F',
       'SCH_ENR_LEP_M', 'SCH_ENR_LEP_F', 'SCH_ENR_IDEA_M',
       'SCH_ENR_IDEA_F', 'SCH_DUAL_IND', 'SCH_DUALENR_HI_M',
       'SCH_DUALENR_HI_F', 'SCH_DUALENR_AM_M', 'SCH_DUALENR_AM_F',
       'SCH_DUALENR_AS_M', 'SCH_DUALENR_AS_F', 'SCH_DUALENR_HP_M',
       'SCH_DUALENR_HP_F', 'SCH_DUALENR_BL_M', 'SCH_DUALENR_BL_F',
       'SCH_DUALENR_WH_M', 'SCH_DUALENR_WH_F', 'SCH_DUALENR_TR_M',
       'SCH_DUALENR_TR_F', 'TOT_DUALENR_M', 'TOT_DUALENR_F',
       'SCH_DUALENR_LEP_M', 'SCH_DUALENR_LEP_F', 'SCH_DUALENR_IDEA_M',
       'SCH_DUALENR_IDEA_F', 'SCH_APENR_IND', 'SCH_APENR_HI_M',
       'SCH_APENR_HI_F', 'SCH_APENR_AM_M', 'SCH_APENR_AM_F',
       'SCH_APENR_AS_M', 'SCH_APENR_AS_F', 'SCH_APENR_HP_M',
       'SCH_APENR_HP_F', 'SCH_APENR_BL_M', 'SCH_APENR_BL_F',
       'SCH_APENR_WH_M', 'SCH_APENR_WH_F', 'SCH_APENR_TR_M',
       'SCH_APENR_TR_F', 'TOT_APENR_M', 'TOT_APENR_F', 'SCH_APENR_LEP_M',
       'SCH_APENR_LEP_F', 'SCH_APENR_IDEA_M', 'SCH_APENR_IDEA_F',
       'SCH_IBENR_IND', 'SCH_IBENR_HI_M', 'SCH_IBENR_HI_F',
       'SCH_IBENR_AM_M', 'SCH_IBENR_AM_F', 'SCH_IBENR_AS_M',
       'SCH_IBENR_AS_F', 'SCH_IBENR_HP_M', 'SCH_IBENR_HP_F',
       'SCH_IBENR_BL_M', 'SCH_IBENR_BL_F', 'SCH_IBENR_WH_M',
       'SCH_IBENR_WH_F', 'SCH_IBENR_TR_M', 'SCH_IBENR_TR_F',
       'TOT_IBENR_M', 'TOT_IBENR_F', 'SCH_IBENR_LEP_M', 'SCH_IBENR_LEP_F',
       'SCH_IBENR_IDEA_M', 'SCH_IBENR_IDEA_F', 'LAT1516'], dtype=object)

# Analysis

In [9]:
def missing_value_mapper(value):
    """Converts any negative number into 0, as these negative numbers represent missing/null values"""
    if isinstance(value, int):
        if value < 0:
            return 0
    return value

filtered_from_raw = filtered_from_raw.applymap(missing_value_mapper)

In [10]:
filtered_from_raw['de_total_enrollment'] = filtered_from_raw['TOT_DUALENR_M'] + filtered_from_raw['TOT_DUALENR_F']

### DE

In [11]:
schools_with_de_students = filtered_from_raw.copy()
schools_with_de_students = schools_with_de_students[schools_with_de_students.de_total_enrollment > 0]

** Fiiltered-Schools with DE students **

In [12]:
first_columns = ['SCH_NAME', 'de_total_enrollment']
reorder = first_columns + [c for c in schools_with_de_students.columns if c not in first_columns]
schools_with_de_students = schools_with_de_students[reorder].sort_values('de_total_enrollment', ascending = False)
schools_with_de_students

,SCH_NAME,de_total_enrollment,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,COMBOKEY,JJ,SCH_GRADE_PS,...,SCH_IBENR_WH_F,SCH_IBENR_TR_M,SCH_IBENR_TR_F,TOT_IBENR_M,TOT_IBENR_F,SCH_IBENR_LEP_M,SCH_IBENR_LEP_F,SCH_IBENR_IDEA_M,SCH_IBENR_IDEA_F,LAT1516
59112,BROOKLYN TECHNICAL HIGH SCHOOL,3778,NY,NEW YORK,3620580,NEW YORK CITY PUBLIC SCHOOLS,1928,='362058001928',No,No,...,0,0,0,0,0,0,0,0,0,NaN
55306,Passaic County Technical Institute,1463,NJ,NEW JERSEY,3412630,Passsaic County Vocational School District,4860,='341263004860',No,No,...,0,0,0,0,0,0,0,0,0,NaN
2671,Basha High School,1278,AZ,ARIZONA,401870,Chandler Unified District #80,2250,='040187002250',No,No,...,0,0,0,0,0,0,0,0,0,NaN
31069,McKenzie Career Center,1205,IN,INDIANA,1805670,M S D Lawrence Township,725,='180567000725',No,No,...,5,0,0,2,9,0,0,0,0,NaN
53807,Bergen County Academies,1014,NJ,NEW JERSEY,3401470,Bergen County Vocational Technical School Dist...,250,='340147000250',No,No,...,20,5,5,71,74,0,0,0,0,NaN
92581,South Kitsap High School,752,WA,WASHINGTON,5308160,South Kitsap School District,1357,='530816001357',No,No,...,0,0,0,0,0,0,0,0,0,NaN
68466,Penta Career Center - on campus,686,OH,OHIO,3905135,Penta Career Center - District,4080,='390513504080',No,No,...,0,0,0,0,0,0,0,0,0,NaN
91522,Puget Sound Skills Center,682,WA,WASHINGTON,5303540,Highline School District,2103,='530354002103',No,No,...,0,0,0,0,0,0,0,0,0,NaN
53809,Bergen County Technical High School - Teterboro,631,NJ,NEW JERSEY,3401470,Bergen County Vocational Technical School Dist...,262,='340147000262',No,No,...,0,0,0,0,0,0,0,0,0,NaN
15147,COLORADO EARLY COLLEGE FORT COLLINS,603,CO,COLORADO,800020,State Charter School Institute,6542,='080002006542',No,No,...,0,0,0,0,0,0,0,0,0,NaN
68472,Warren County Career Center,590,OH,OHIO,3905147,Warren County Vocational School,4087,='390514704087',No,Yes,...,0,0,0,0,0,0,0,0,0,NaN
7124,John F. Kennedy High,540,CA,CALIFORNIA,609850,Corona-Norco Unified,11712,='060985011712',No,No,...,0,0,0,0,0,0,0,0,0,NaN
31796,Lowell Senior High School,520,IN,INDIANA,1811460,Tri-Creek School Corporation,1852,='181146001852',No,No,...,0,0,0,0,0,0,0,0,0,NaN
31956,Ben Davis Ninth Grade Center,496,IN,INDIANA,1812810,M S D Wayne Township,2122,='181281002122',No,No,...,0,0,0,0,0,0,0,0,0,NaN
68465,Ohio Hi-Point,489,OH,OHIO,3905133,Ohio Hi-Point Career Center,4079,='390513304079',No,No,...,0,0,0,0,0,0,0,0,0,NaN
22611,A.D. HENDERSON UNIVERSITY SCHOOL & FAU HIGH SC...,474,FL,FLORIDA,1202012,FAU LAB SCH,3140,='120201203140',No,No,...,0,0,0,0,0,0,0,0,0,NaN
95215,Oak Creek High,443,WI,WISCONSIN,5510830,Oak Creek-Franklin Joint School District,1411,='551083001411',No,No,...,0,0,0,0,0,0,0,0,0,NaN
68473,Scioto County Career Technical Center,440,OH,OHIO,3905149,Scioto County Career Technical Center,4088,='390514904088',No,No,...,0,0,0,0,0,0,0,0,0,NaN
48559,CAPE GIRARDEAU CAR TECH CTR.,434,MO,MISSOURI,2907120,CAPE GIRARDEAU 63,192,='290712000192',No,No,...,0,0,0,0,0,0,0,0,0,NaN
54415,Gloucester County Institute of Technology,431,NJ,NEW JERSEY,3406040,Gloucester County Vocational-Technical School ...,2570,='340604002570',No,No,...,0,0,0,0,0,0,0,0,0,NaN
15637,CEC MIDDLE COLLEGE OF DENVER,430,CO,COLORADO,803360,School District No. 1 in the county of Denver ...,322,='080336000322',No,No,...,0,0,0,0,0,0,0,0,0,NaN
79796,CAPROCK H S,415,TX,TEXAS,4808130,AMARILLO ISD,149,='480813000149',No,No,...,0,0,0,0,0,0,0,0,0,NaN
91731,Tesla STEM High School,395,WA,WASHINGTON,5304230,Lake Washington School District,3432,='530423003432',No,No,...,0,0,0,0,0,0,0,0,0,NaN
3023,Lake Havasu High School,376,AZ,ARIZONA,404280,Lake Havasu Unified School District #1,433,='040428000433',No,No,...,0,0,0,0,0,0,0,0,0,NaN
73135,Ligonier Valley HS,352,PA,PENNSYLVANIA,4213710,Ligonier Valley SD,4442,='421371004442',No,No,...,0,0,0,0,0,0,0,0,0,NaN
56749,Arrowhead Park Early College High School,350,NM,NEW MEXICO,3501500,LAS CRUCES PUBLIC SCHOOLS,99999,='350150099999',No,No,...,0,0,0,0,0,0,0,0,0,NaN
88812,MAGGIE L. WALKER GOV. SCH.,328,VA,VIRGINIA,5100061,MAGGIE L. WALKER GOV SCH,2561,='510006102561',No,No,...,0,0,0,0,0,0,0,0,0,NaN
49873,GIBSON TECHNICAL CTR.,323,MO,MISSOURI,2926160,REEDS SPRING R-IV,1533,='292616001533',No,No,...,0,0,0,0,0,0,0,0,0,NaN
60261,KINGSBOROUGH EARLY COLLEGE SCHOOL,322,NY,NEW YORK,3620580,NEW YORK CITY PUBLIC SCHOOLS,5926,='362058005926',No,No,...,0,0,0,0,0,0,0,0,0,NaN
9809,Sherman Oaks Center for Enriched Studies,321,CA,CALIFORNIA,622710,Los Angeles Unified,9151,='062271009151',No,No,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22010,PINELLAS GULF COAST ACADEMY,2,FL,FLORIDA,1201560,PINELLAS,8410,='120156008410',No,No,...,0,0,0,0,0,0,0,0,0,NaN
19082,WHISPERING PINES SCHOOL,2,FL,FLORIDA,1200180,BROWARD,2801,='120018002801',No,No,...,0,0,0,0,0,0,0,0,0,NaN
19049,CROSS CREEK SCHOOL,2,FL,FLORIDA,1200180,BROWARD,1356,='120018001356',No,No,...,0,0,0,0,0,0,0,0,0,NaN
70876,Crater Lake Charter Academy,2,OR,OREGON,4104500,Eagle Point SD 9,1831,='410450001831',No,No,...,0,0,0,0,0,0,0,0,0,NaN
84087,ALTERNATIVE LEARNING CENTER,2,TX,TEXAS,4826580,LAMAR CISD,6739,='482658006739',No,No,...,0,0,0,0,0,0,0,0,0,NaN
84844,VIOLA M COLEMAN H S,2,TX,TEXAS,4830570,MIDLAND ISD,6756,='483057006756',No,No,...,0,0,0,0,0,0,0,0,0,NaN
16420,MOUNTVIEW YOUTH SERVICE CENTER,2,CO,COLORADO,804800,Jefferson County School District No. R-1,6347,='080480006347',Yes,No,...,0,0,0,0,0,0,0,0,0,NaN
45096,DAKOTA CTY. ALC,2,MN,MINNESOTA,2700026,INTERMEDIATE SCHOOL DISTRICT 917,2155,='270002602155',No,No,...,0,0,0,0,0,0,0,0,0,NaN
45037,RUNESTONE REGIONAL LEARNING CENTER,2,MN,MINNESOTA,2700016,RUNESTONE AREA ED. DISTRICT,2224,='270001602224',No,No,...,0,0,0,0,0,0,0,0,0,NaN
70727,Triangle Lake Charter School,2,OR,OREGON,4102160,Blachly SD 90,641,='410216000641',No,No,...,0,0,0,0,0,0,0,0,0,NaN
16540,TWIN PEAKS CHARTER ACADEMY,2,CO,COLORADO,805370,St. Vrain Valley School District No. Re1J,1572,='080537001572',No,No,...,0,0,0,0,0,0,0,0,0,NaN
44711,Watersmeet Township School,2,MI,MICHIGAN,2635340,Watersmeet Township School District,7153,='263534007153',No,No,...,0,0,0,0,0,0,0,0,0,NaN
16634,MOFFAT PREK-12 SCHOOL,2,CO,COLORADO,805700,Moffat School District No. 2 in the county of ...,974,='080570000974',No,Yes,...,0,0,0,0,0,0,0,0,0,NaN
44606,Vanderbilt Area School,2,MI,MICHIGAN,2634620,Vanderbilt Area Schools,7040,='263462007040',No,Yes,...,0,0,0,0,0,0,0,0,0,NaN
16791,DISCOVERY HIGH SCHOOL,2,CO,COLORADO,806480,School District No. 3 in the county of El Paso...,51,='080648000051',No,No,...,0,0,0,0,0,0,0,0,0,NaN
84129,LANEVILLE SCHOOL,2,TX,TEXAS,4826700,LANEVILLE ISD,6577,='482670006577',No,Yes,...,0,0,0,0,0,0,0,0,0,NaN
16826,YAMPA VALLEY HIGH SCHOOL,2,CO,COLORADO,806660,Steamboat Springs School District No. Re 2,1924,='080666001924',No,No,...,0,0,0,0,0,0,0,0,0,NaN
70866,Dufur School,2,OR,OREGON,4104410,Dufur SD 29,1162,='410441001162',No,No,...,0,0,0,0,0,0,0,0,0,NaN
16840,PRAIRIE CREEKS CHARTER SCHOOL,2,CO,COLORADO,806750,Strasburg School District 31J,1669,='080675001669',No,No,...,0,0,0,0,0,0,0,0,0,NaN
83884,PATHWAYS ACADEMIC CAMPUS,2,TX,TEXAS,4825660,KILLEEN ISD,21001,='482566021001',No,No,...,0,0,0,0,0,0,0,0,0,NaN
70860,Dayville School,2,OR,OREGON,4104020,Dayville SD 16J,358,='410402000358',No,Yes,...,0,0,0,0,0,0,0,0,0,NaN
16945,HIDDEN LAKE HIGH SCHOOL,2,CO,COLORADO,807230,Westminster Public Schools,1877,='080723001877',No,No,...,0,0,0,0,0,0,0,0,0,NaN
16977,SOUTHWEST COLORADO E-SCHOOL,2,CO,COLORADO,899300,SAN JUAN BOCES,6497,='089930006497',No,No,...,0,0,0,0,0,0,0,0,0,NaN
83663,ALTER SCH,2,TX,TEXAS,4824990,JUDSON ISD,7187,='482499007187',No,No,...,0,0,0,0,0,0,0,0,0,NaN
17839,Middlesex Transition Academy,2,CT,CONNECTICUT,903535,REGIONAL SCHOOL DISTRICT 13,1731,='090353501731',No,No,...,0,0,0,0,0,0,0,0,0,NaN
83582,DALLAS CO SCHOOL FOR ACCELERATED LRNG,2,TX,TEXAS,4824420,IRVING ISD,8187,='482442008187',No,No,...,0,0,0,0,0,0,0,0,0,NaN
83578,BARBARA CARDWELL CAREER PREPARATORY CENTER,2,TX,TEXAS,4824420,IRVING ISD,6275,='482442006275',No,No,...,0,0,0,0,0,0,0,0,0,NaN
83552,IREDELL SCHOOL,2,TX,TEXAS,4824360,IREDELL ISD,2714,='482436002714',No,Yes,...,0,0,0,0,0,0,0,0,0,NaN
18467,Maya Angelou PCS Evans High School,2,DC,DISTRICT OF COLUMBIA,1100014,Maya Angelou PCS,391,='110001400391',No,No,...,0,0,0,0,0,0,0,0,0,NaN
23913,McClarin High School,2,GA,GEORGIA,1302280,Fulton County,2037,='130228002037',No,No,...,0,0,0,0,0,0,0,0,0,NaN

**Total DE Students**

In [13]:
"""Total DE Students"""
schools_with_de_students.de_total_enrollment.sum()

104229

**Juvenile Justice**

In [14]:
"""Juvenile Justice Schools - How many schools and DE students?"""
print(schools_with_de_students.JJ.value_counts())
print()
print(str(schools_with_de_students[schools_with_de_students.JJ == 'Yes'].de_total_enrollment.sum()), "DE students.")

No     2678
Yes      15
Name: JJ, dtype: int64

388 DE students.

**Alternative**

In [15]:
"""Alternative Schools - How many schools and DE students?"""
print(schools_with_de_students.SCH_STATUS_ALT.value_counts())
print()
print(str(schools_with_de_students[schools_with_de_students.SCH_STATUS_ALT == 'Yes'].de_total_enrollment.sum()), "DE students.")

No     2340
Yes     353
Name: SCH_STATUS_ALT, dtype: int64

7555 DE students.

**Special Education**

In [16]:
"""Special Education - How many schools and DE students?"""
print(schools_with_de_students.SCH_STATUS_SPED.value_counts())
print()
print(str(schools_with_de_students[schools_with_de_students.SCH_STATUS_SPED == 'Yes'].de_total_enrollment.sum()), "DE students.")

No     2610
Yes      83
Name: SCH_STATUS_SPED, dtype: int64

2903 DE students.

**Grade Ranges**

In [37]:
def school_grade_range(df):
    """Calculates the number of schools in a given DataFrame (df) of a particular distribution of grades:
        Example:  If a school (in df) offers grades 9,10,11,12 exclusively, they are placed in the '9-12' 
                    category. """
    df_grade_range = []
    for index, row in df.iterrows():
        grade_range = []

        if row.SCH_GRADE_G12 == 'Yes':
            grade_range.append(12)
        if row.SCH_GRADE_G11 == 'Yes':
            grade_range.append(11)
        if row.SCH_GRADE_G10 == 'Yes':
            grade_range.append(10)
        if row.SCH_GRADE_G09 == 'Yes':
            grade_range.append(9)
        if row.SCH_GRADE_G08 == 'Yes':
            grade_range.append(8)
        if row.SCH_GRADE_G07 == 'Yes':
            grade_range.append(7)
        if row.SCH_GRADE_G06 == 'Yes':
            grade_range.append(6)
        if row.SCH_GRADE_G05 == 'Yes':
            grade_range.append(5)
        if row.SCH_GRADE_G04 == 'Yes':
            grade_range.append(4)
        if row.SCH_GRADE_G03 == 'Yes':
            grade_range.append(3)
        if row.SCH_GRADE_G02 == 'Yes':
            grade_range.append(2)
        if row.SCH_GRADE_G01 == 'Yes':
            grade_range.append(1)
        if row.SCH_GRADE_KG == 'Yes':
            grade_range.append('kg')
        if row.SCH_GRADE_PS == 'Yes':
            grade_range.append('pk')
        
        if grade_range == [12,11,10,9,8,7,6,5,4,3,2,1,'kg','pk']:
            df_grade_range.append('pk-12')
        elif grade_range == [12,11,10,9,8,7,6,5,4,3,2,1,'kg']:
            df_grade_range.append('kg-12')
        elif grade_range == [12,11,10,9,8,7,6,5]:
            df_grade_range.append('05-12')
        elif grade_range == [12,11,10,9,8,7,6]:
            df_grade_range.append('06-12')
        elif grade_range == [12,11,10,9,8,7]:
            df_grade_range.append('07-12')
        elif grade_range == [12,11,10,9,8]:
            df_grade_range.append('08-12')
        elif grade_range == [12,11,10,9]:
            df_grade_range.append('09-12')
        elif grade_range == [11,10,9]:
            df_grade_range.append('09-11')
        elif grade_range == [10,9]:
            df_grade_range.append('09-10')
        elif grade_range == [12,11,10]:
            df_grade_range.append('10-12')
        elif grade_range == [12,11]:
            df_grade_range.append('11-12')
        elif grade_range == [9]:
            df_grade_range.append('9-only')
        elif grade_range == [10]:
            df_grade_range.append('10-only')
        elif grade_range == [11]:
            df_grade_range.append('11-only')
        elif grade_range == [12]:
            df_grade_range.append('12-only')
        else:
            df_grade_range.append('other')
    return pd.DataFrame(df_grade_range, columns=['grade_range'])

In [38]:
de_stud_school_grade_range_list = school_grade_range(schools_with_de_students).join(schools_with_de_students['de_total_enrollment'].reset_index(drop = True), how = 'outer')

de_stud_school_grade_range_dist = de_stud_school_grade_range_list['grade_range'].value_counts().reset_index().sort_values('index').set_index('index')
de_stud_school_grade_range_dist['pct_of_schools'] = round(de_stud_school_grade_range_dist['grade_range'] / len(de_stud_school_grade_range_list), 3)

de_stud_school_grade_range_enrollments = pd.DataFrame(de_stud_school_grade_range_list.groupby('grade_range')['de_total_enrollment'].sum())

de_stud_school_grade_range_dist.join(de_stud_school_grade_range_enrollments).rename({'grade_range': '# schools'}, axis = 1)

         # schools  pct_of_schools  de_total_enrollment
index
05-12           34           0.013                 1516
06-12          666           0.247                25242
07-12           99           0.037                 2722
08-12           27           0.010                 1399
09-10           15           0.006                  975
09-11           22           0.008                 1185
09-12          548           0.203                36343
10-12           77           0.029                 4366
11-12           54           0.020                 3331
11-only          1           0.000                   32
12-only          8           0.003                   49
9-only          16           0.006                 1144
kg-12          444           0.165                10523
other          232           0.086                 7667
pk-12          450           0.167                 7735

## Get NCES information and join with schools_with_de_students

In [21]:
schools_with_de_students = schools_with_de_students.drop(['LAT1516'], axis = 1)

In [22]:
nces_1516_full = pd.read_csv('../filtered_data/01_nces_1516_initial_combined_ccd.csv')

/Users/alijahoconnor/Box Sync/OCR/Data_and_Analysis/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
schools_with_de_students_nces = pd.merge(schools_with_de_students, nces_1516_full, left_on = 'COMBOKEY', right_on = 'combokey', how = 'left', suffixes = ('', '_nces'))

In [24]:
non_matching_schools_with_de = schools_with_de_students_nces[schools_with_de_students_nces.LEVEL.isnull()]
match_schools_with_de = schools_with_de_students_nces[schools_with_de_students_nces.LEVEL.notnull()]

In [25]:
print(match_schools_with_de.de_total_enrollment.sum())
print(non_matching_schools_with_de.de_total_enrollment.sum())

93901
10328

**Recover some of the non-nces-matching schools**

In [26]:
"""Passing in my recovered_schools from 00_initial_filter"""
%store -r recovered_schools_all

In [27]:
recovered_schools_all = recovered_schools_all.reset_index()
nces_columns = ['COMBOKEY', 'SCH_TYPE', 'LEVEL', 'VIRTUAL', 'GSLO', 'GSHI',
       'NMCNTY15', 'LOCALE15', 'LAT1516', 'LON1516']
recovered_schools_all_nces = recovered_schools_all[nces_columns]

In [28]:
non_matching_schools_with_de = non_matching_schools_with_de.drop(['SCH_TYPE', 'LEVEL', 'VIRTUAL', 'GSLO', 'GSHI',
       'NMCNTY15', 'LOCALE15', 'LAT1516', 'LON1516'],axis = 1)

In [29]:
recovered_non_matchings = pd.merge(non_matching_schools_with_de, recovered_schools_all_nces, on='COMBOKEY')

In [30]:
print(recovered_non_matchings.de_total_enrollment.sum(), "DE students Recovered.")

7914 DE students Recovered.

In [31]:
match_schools_with_de = match_schools_with_de.append(recovered_non_matchings)

In [32]:
print(format(match_schools_with_de.de_total_enrollment.sum(), ",d"), "out of", format(schools_with_de_students.de_total_enrollment.sum(),',d'), 
     "DE Students Accounted for.")

101,815 out of 104,229 DE Students Accounted for.

**Filtered Schools that match with NCES**

**LEVEL**<br>
1 = Primary (low grade = PK through 03; high grade = PK through 08), 2 = Middle (low grade = 04 through 07; high grade = 04 through 09), 3 = High (low grade = 07 through 12; high grade = 12 only), 4 = Other (any other configuration not falling within the above three categories;including ungraded), N = Not applicable

In [33]:
"""How many schools and de students in each LEVEL of school"""
print(match_schools_with_de.LEVEL.value_counts().reset_index().sort_values('index').set_index('index'))
print()
print(str(match_schools_with_de.groupby('LEVEL').de_total_enrollment.sum()), 'DE students.')

       LEVEL
index
1         22
2         24
3        656
4       1883
N         25

LEVEL
1      291
2     1605
3    38937
4    59953
N     1029
Name: de_total_enrollment, dtype: int64 DE students.

In [72]:
"""Looking just at the level_4 schools, where are most of the students?  Notice, the grade_range (index) comes
    from CRDC grades -- Several inconsistencies"""
"""Basically these are the schools there are filtered out due to being LEVEL=4, regardless of their CRDC grade range"""
level_4_schools = match_schools_with_de[match_schools_with_de.LEVEL == '4'].reset_index(drop=True)

de_stud_school_grade_range_list = school_grade_range(level_4_schools).join(level_4_schools['de_total_enrollment'].reset_index(drop = True), how = 'outer')

de_stud_school_grade_range_dist = de_stud_school_grade_range_list['grade_range'].value_counts().reset_index().sort_values('index').set_index('index')
de_stud_school_grade_range_dist['pct_of_schools'] = round(de_stud_school_grade_range_dist['grade_range'] / len(de_stud_school_grade_range_list), 3)

de_stud_school_grade_range_enrollments = pd.DataFrame(de_stud_school_grade_range_list.groupby('grade_range')['de_total_enrollment'].sum())

de_stud_school_grade_range_dist.join(de_stud_school_grade_range_enrollments).rename({'grade_range': '# schools'}, axis = 1)

        # schools  pct_of_schools  de_total_enrollment
index
05-12          33           0.018                 1514
06-12         649           0.345                24785
07-12          50           0.027                 1282
08-12           6           0.003                  216
09-10          12           0.006                  931
09-11          22           0.012                 1185
09-12          51           0.027                 5431
10-12           4           0.002                  792
9-only         14           0.007                 1076
kg-12         430           0.228                10295
other         186           0.099                 4957
pk-12         426           0.226                 7489

In [76]:
"""Misreported 9-12 schools"""
level_4_school_with_grade_range = pd.concat([level_4_schools, de_stud_school_grade_range_list], axis=1,)
level_4_school_with_grade_range[level_4_school_with_grade_range.grade_range == '09-12']
with pd.option_context('display.max_columns',150):
    display(level_4_school_with_grade_range[level_4_school_with_grade_range.grade_range == 'other'].groupby('GSHI').GSHI.value_counts())

GSHI  GSHI
10    10       12
11    11       29
12    12      134
13    13        1
9     9         9
AE    AE        1
Name: GSHI, dtype: int64

**Virtual Schools**

In [34]:
print(match_schools_with_de.VIRTUAL.value_counts())
print()
print(match_schools_with_de.groupby('VIRTUAL').de_total_enrollment.sum())

No         2016
Missing     446
Yes         148
Name: VIRTUAL, dtype: int64

VIRTUAL
Missing    17423
No         81591
Yes         2801
Name: de_total_enrollment, dtype: int64

**School Type**<br>
1 = Regular school, 2 = Special education school, 3 = Vocational school, 4 = Other/alternative school

In [35]:
print(match_schools_with_de.SCH_TYPE.value_counts())
print()
print(match_schools_with_de.groupby('SCH_TYPE').de_total_enrollment.sum())

1.0    1885
4.0     464
3.0     212
2.0      49
Name: SCH_TYPE, dtype: int64

SCH_TYPE
1.0    62845
2.0     1167
3.0    26577
4.0    11226
Name: de_total_enrollment, dtype: int64

In [68]:
vocational_schools = match_schools_with_de[match_schools_with_de.SCH_TYPE == 3.0]

,SCH_NAME,de_total_enrollment,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,COMBOKEY,JJ,SCH_GRADE_PS,...,SCH_TYPE_TEXT,SCH_TYPE,LEVEL,VIRTUAL,GSLO,GSHI,NMCNTY15,LOCALE15,LAT1516,LON1516
1,Passaic County Technical Institute,1463,NJ,NEW JERSEY,3412630,Passsaic County Vocational School District,4860,='341263004860',No,No,...,Vocational Education School,3,3,No,9,12,Passaic County,21,40.9298,-74.2036
3,McKenzie Career Center,1205,IN,INDIANA,1805670,M S D Lawrence Township,725,='180567000725',No,No,...,Vocational Education School,3,4,No,PK,12,Marion County,11,39.8923,-86.0411
4,Bergen County Academies,1014,NJ,NEW JERSEY,3401470,Bergen County Vocational Technical School Dist...,250,='340147000250',No,No,...,Vocational Education School,3,3,No,9,12,Bergen County,21,40.9022,-74.0343
6,Penta Career Center - on campus,686,OH,OHIO,3905135,Penta Career Center - District,4080,='390513504080',No,No,...,Vocational Education School,3,3,No,10,12,Wood County,21,41.5837,-83.5721
7,Puget Sound Skills Center,682,WA,WASHINGTON,5303540,Highline School District,2103,='530354002103',No,No,...,Vocational Education School,3,3,Missing,10,12,King County,21,47.4411,-122.323

array(['SCH_NAME', 'de_total_enrollment', 'LEA_STATE', 'LEA_STATE_NAME',
       'LEAID', 'LEA_NAME', 'SCHID', 'COMBOKEY', 'JJ', 'SCH_GRADE_PS',
       'SCH_GRADE_KG', 'SCH_GRADE_G01', 'SCH_GRADE_G02', 'SCH_GRADE_G03',
       'SCH_GRADE_G04', 'SCH_GRADE_G05', 'SCH_GRADE_G06', 'SCH_GRADE_G07',
       'SCH_GRADE_G08', 'SCH_GRADE_G09', 'SCH_GRADE_G10', 'SCH_GRADE_G11',
       'SCH_GRADE_G12', 'SCH_GRADE_UG', 'SCH_UGDETAIL_HS',
       'SCH_STATUS_SPED', 'SCH_STATUS_MAGNET', 'SCH_STATUS_CHARTER',
       'SCH_STATUS_ALT', 'SCH_ENR_HI_M', 'SCH_ENR_HI_F', 'SCH_ENR_AM_M',
       'SCH_ENR_AM_F', 'SCH_ENR_AS_M', 'SCH_ENR_AS_F', 'SCH_ENR_HP_M',
       'SCH_ENR_HP_F', 'SCH_ENR_BL_M', 'SCH_ENR_BL_F', 'SCH_ENR_WH_M',
       'SCH_ENR_WH_F', 'SCH_ENR_TR_M', 'SCH_ENR_TR_F', 'TOT_ENR_M',
       'TOT_ENR_F', 'SCH_ENR_LEP_M', 'SCH_ENR_LEP_F', 'SCH_ENR_IDEA_M',
       'SCH_ENR_IDEA_F', 'SCH_DUAL_IND', 'SCH_DUALENR_HI_M',
       'SCH_DUALENR_HI_F', 'SCH_DUALENR_AM_M', 'SCH_DUALENR_AM_F',
       'SCH_DUALENR_AS_M', 'SCH_DUALENR_AS_F', 'SCH_DUALENR_HP_M',
       'SCH_DUALENR_HP_F', 'SCH_DUALENR_BL_M', 'SCH_DUALENR_BL_F',
       'SCH_DUALENR_WH_M', 'SCH_DUALENR_WH_F', 'SCH_DUALENR_TR_M',
       'SCH_DUALENR_TR_F', 'TOT_DUALENR_M', 'TOT_DUALENR_F',
       'SCH_DUALENR_LEP_M', 'SCH_DUALENR_LEP_F', 'SCH_DUALENR_IDEA_M',
       'SCH_DUALENR_IDEA_F', 'SCH_APENR_IND', 'SCH_APENR_HI_M',
       'SCH_APENR_HI_F', 'SCH_APENR_AM_M', 'SCH_APENR_AM_F',
       'SCH_APENR_AS_M', 'SCH_APENR_AS_F', 'SCH_APENR_HP_M',
       'SCH_APENR_HP_F', 'SCH_APENR_BL_M', 'SCH_APENR_BL_F',
       'SCH_APENR_WH_M', 'SCH_APENR_WH_F', 'SCH_APENR_TR_M',
       'SCH_APENR_TR_F', 'TOT_APENR_M', 'TOT_APENR_F', 'SCH_APENR_LEP_M',
       'SCH_APENR_LEP_F', 'SCH_APENR_IDEA_M', 'SCH_APENR_IDEA_F',
       'SCH_IBENR_IND', 'SCH_IBENR_HI_M', 'SCH_IBENR_HI_F',
       'SCH_IBENR_AM_M', 'SCH_IBENR_AM_F', 'SCH_IBENR_AS_M',
       'SCH_IBENR_AS_F', 'SCH_IBENR_HP_M', 'SCH_IBENR_HP_F',
       'SCH_IBENR_BL_M', 'SCH_IBENR_BL_F', 'SCH_IBENR_WH_M',
       'SCH_IBENR_WH_F', 'SCH_IBENR_TR_M', 'SCH_IBENR_TR_F',
       'TOT_IBENR_M', 'TOT_IBENR_F', 'SCH_IBENR_LEP_M', 'SCH_IBENR_LEP_F',
       'SCH_IBENR_IDEA_M', 'SCH_IBENR_IDEA_F', 'combokey', 'TITLEI',
       'LEAID_nces', 'LEA_NAME_nces', 'SCHID_nces', 'SCH_NAME_nces',
       'SCH_TYPE_TEXT', 'SCH_TYPE', 'LEVEL', 'VIRTUAL', 'GSLO', 'GSHI',
       'NMCNTY15', 'LOCALE15', 'LAT1516', 'LON1516'], dtype=object)

In [83]:
with pd.option_context('display.max_rows', 212):
    display(vocational_schools[['TOT_ENR_M', 'TOT_ENR_F', 'SCH_NAME', 'de_total_enrollment']].sort_values('TOT_ENR_M', ascending = False))

,TOT_ENR_M,TOT_ENR_F,SCH_NAME,de_total_enrollment
0,3248,2285,BROOKLYN TECHNICAL HIGH SCHOOL,3778
13,1733,416,AVIATION CAREER AND TECHNICAL HIGH SCHOOL,128
1,1639,1678,Passaic County Technical Institute,1463
3,1388,740,THOMAS A EDISON CAREER AND TECHNICAL HIGH SCHOOL,234
3,1218,992,McKenzie Career Center,1205
481,1161,951,Gr Lowell Regional Vocational Technical,52
393,1035,1140,Gr New Bedford Vocational Technical,63
17,980,598,QUEENS VOCATIONAL AND TECHNICAL HIGH SCHOOL,90
1670,967,756,York Co School of Technology,10
439,912,575,William R Burton,56
6,860,672,Penta Career Center - on campus,686
247,846,834,Miami Valley Ctc,93
388,815,794,Delcastle Technical High School,64
334,782,653,Montachusett Regional Vocational Technical,73
2545,780,626,Diman Regional Vocational Technical High,2
1762,774,573,Shawsheen Valley Vocational Technical High School,9
479,750,965,Metro Tech High School,52
14,726,554,STATEN ISLAND TECHNICAL HIGH SCHOOL,124
2300,726,652,Southeastern Regional Vocational Technical,4
83,717,604,Camden County Technical School-GTC,191
258,690,471,Franklin County CTC,91
39,675,774,Sussex Technical High School,289
141,656,767,Atlantic County Institute of Technology,136
1068,637,544,Four County Career Center,21
19,630,695,Gloucester County Institute of Technology,431
1519,600,483,Assabet Valley Vocational High School,12
91,600,759,Worcester Technical High,179
400,594,644,BURLINGTON COUNTY INST OF TECH - Westampton,62
120,590,611,POLYTECH High School,156
1101,581,521,Hodgson (Paul M.) Vocational Technical High Sc...,20
96,573,426,MCKINLEY VOCATIONAL HIGH SCHOOL,178
441,561,512,St. Georges Technical High School,56
430,556,499,Medina County Career Center,57
265,551,624,Eastern Technical High School,89
171,536,124,Howell Cheney Technical High School,122
771,531,464,Pioneer Career & Technology,32
1452,528,491,Dauphin County Technical School,13
242,511,499,Trumbull Career & Tech Center,95
405,505,388,David Thibodaux STEM Magnet Academy,61
252,492,321,Platt Technical High School,93
4,489,567,Bergen County Academies,1014
20,489,164,RALPH R MCKEE CAREER AND TECHNICAL EDUCATION H...,72
52,476,322,Buckeye Career Center,252
32,469,326,Upper Valley Career Center,303
658,459,477,Reading Muhlenberg CTC,38
446,449,477,Western School of Technology & Env. Science,55
18,447,232,CAPE GIRARDEAU CAR TECH CTR.,434
1128,441,321,H. C. Wilcox Technical High School,20
1106,435,297,Nashoba Valley Technical High School,20
28,435,119,WILLIAM E GRADY CAREER AND TECHNICAL EDUCATION...,33
127,431,323,Zanesville Campus,150
2316,430,382,Davies Career-Tech High School,4
569,430,195,H. H. Ellis Technical High School,45
1940,426,273,Upper Cape Cod Vocational Technical,7
897,422,338,W. F. Kaynor Technical High School,27
639,422,169,Vinal Technical High School,39
213,421,364,Sussex County Technical School,107
154,417,363,Ehove Career Center,130
2628,416,285,Pickaway-Ross Career & Technology Center,2
545,414,468,Salem County Career and Technical High School,47
381,412,357,Wayne County Schools Career Center,65
392,406,425,BURLINGTON COUNTY INST OF TECH - Medford,63
18,405,956,CLARA BARTON HIGH SCHOOL,89
540,405,295,Joseph P Keefe Technical High School,47
200,403,262,D Russel Lee Career-Technology Center,110
10,403,310,Warren County Career Center,590
1135,400,240,Henry Abbott Technical High School,19
73,399,254,Norwich Technical High School,202
418,391,355,Springfield-Clark County,58
396,390,275,LAKE CAREER TECHNICAL CTR.,62
1898,389,295,Knox County Career Center,7
1034,388,270,Oliver Wolcott Technical High School,22
167,382,244,Eastland Career Center,123
1673,377,240,Cape Cod Region Vocational Technical,10
7,371,317,Puget Sound Skills Center,682
133,371,443,Metropolitan Career Tech Ctr,146
2519,367,278,Columbia-Montour AVTS,2
1089,366,277,R G Drage Career Technical Ctr,21
62,366,271,E. C. Goodwin Technical High School,224
155,365,411,Camden County Technical School-Pennsauken,129
628,359,406,A. I. Prince Technical High School,40
168,349,297,Career and Technology Educational Centers,123
1055,347,585,Howard High School of Technology,21
702,343,271,A W Beattie Career Center,35
61,340,315,ATLANTIC TECHNICAL COLLEGE,227
312,337,450,Bullard-Havens Technical High School,77
350,336,305,Tolles Career & Technical Center,70
2543,330,182,Franklin County Technical,2
87,325,170,Windham Technical High School,183
742,322,393,Scarlet Oaks Cdc,33
66,321,500,Morris County School of Technology,220
580,321,299,Live Oaks Cdc,44
2528,318,201,Westfield Technical Academy,2
115,318,442,Newark Tech,160
165,318,121,Lakeview Technology Academy,123
1605,318,270,CENTRAL ACADEMY OF EXCELLENCE,10
563,316,245,Greene County Career Center,46
17,315,240,Scioto County Career Technical Center,440
707,315,236,Old Colony Regional Vocational Technical,35
680,314,178,Early College and Career Center,36
47,313,292,WILLIAM T. MCFATTER TECHNICAL COLLEGE,269
1650,310,217,Portage Lakes Career Center,10
49,309,471,County Prep High School,260
37,309,312,PROFESSIONAL & TECHNICAL HIGH SCHOOL,294
2548,305,282,Pathfinder Vocational Technical,2
130,302,373,Academy For Arts/Science/Technology,147
1360,300,267,Diamond Oaks Cdc,15
608,300,254,Eli Whitney Technical High School,42
240,299,245,Mat-Su Career & Tech Ed High School,96
533,298,388,North 13th St Tech,48
412,298,214,West Side CTC,59
415,297,212,Ella T. Grasso Southeastern Technical High School,59
8,295,366,Bergen County Technical High School - Teterboro,631
277,295,175,Buckeye Hills Career Center,85
455,292,372,MILLER CAREER ACADEMY,54
2101,289,285,Tri-Tech Skills Center,4
2546,283,184,Smith Vocational and Agricultural High,2
1950,278,94,Lancaster County CTC-Brownstown Campus,6
138,278,274,Laurel Oaks Cdc,140
14,277,224,Ohio Hi-Point,489
908,267,194,SCOTT REGIONAL TECH CENTER,26
1335,266,156,Elmore Co Tech Ctr,15
723,261,226,Lehigh Career & Technical Institute,34
1764,261,618,George W. Carver Center for Arts & Technology,9
784,258,55,Morgan County Vocational Center,31
998,256,238,Bloomfield Tech,23
211,255,179,Washington County CC use 051706,107
663,254,200,Lawrence County,37
243,253,241,Warren County Vocational Technical School,94
465,252,315,Lancaster County CTC-Willow St Campus,53
2239,251,164,Carbon Career & Technical Institute,4
463,242,185,Tri-Rivers Career Center,53
975,239,170,Susquehanna County CTC,24
1376,238,150,Vern Riffe Career Technology C,14
2171,235,172,Vantage Career Center,4
1509,234,189,Lawrence County CTC,12
1406,234,357,Academy for Technology and Academics,14
30,233,86,Bates Technical High School,313
31,222,377,LORENZO WALKER TECHNICAL HIGH SCHOOL,312
502,220,215,Rayville High School,50
2625,217,199,SOUTH PIKE CAREER & TECHNICAL CENTE,2
1623,213,187,Bullock Co Area Voc Ctr,10
20,213,217,CEC MIDDLE COLLEGE OF DENVER,430
667,212,179,Southern Hills Career Technical Center,37
1182,211,186,Lancaster County CTC-Mt Joy Campus,18
27,207,116,GIBSON TECHNICAL CTR.,323
1830,206,170,CHARLOTTE TECHNICAL CENTER,8
201,199,100,HIGH TECHNOLOGY HIGH SCHOOL,110
43,197,192,HINDS COMMUNITY VICKSBURG CENTER,282
162,195,290,Fairfield Career Center,125
1908,191,193,LA School for Ag Science,7
1935,191,142,Belmont Career Center,7
1321,177,133,Franklin Co Career Tech Ctr,15
819,177,169,U S Grant,30
1479,174,113,Center for Career & Technical Education,13
454,172,122,MARINE ACADEMY OF SCIENCE AND TECHNOLOGY,54
34,171,247,NORTH TECHNICAL,297
1483,169,97,Coshocton County Career Center,13
158,162,183,SOMERSET COUNTY VOCATIONAL TECHNICAL HIGH SCHOOL,127
589,160,363,Norfolk County Agricultural,43
1045,160,82,Medford Vocational Technical High,22
249,159,128,CARROLLTON AREA CAREER CTR.,93
1113,159,116,Jefferson County,20
182,156,123,Marine Academy of Technology and Environmental...,117
421,153,81,SUN Area Technical Institute,58
72,150,99,PITTSYLVANIA VOC.-TECH. CTR.,202
604,149,134,Ashland-W Holmes Career Center,42
81,144,49,HILLYARD TECHNICAL CTR.,193
1211,139,95,Tri-County Technical Center,18
457,138,324,Bristol County Agricultural High,54
359,137,104,Vanguard Tech Center,69
105,128,230,Union County Tech,166
64,120,1682,HIGH SCHOOL OF FASHION INDUSTRIES (THE),4
475,120,91,ARCADIA VALLEY CAREER TECH CTR,52
496,114,67,TECH. ED. & CAREER CTR.,50
2684,112,143,HIDDEN LAKE HIGH SCHOOL,2
346,111,186,ACADEMY OF ALLIED HEALTH AND SCIENCE,71
262,111,105,Northwest Career and Technical High School,90
94,110,95,Tucker Area Voc Tech Center,178
1833,106,104,MAYNARD A. TRAVISS CAREER CENTER,8
2540,103,88,Ivy Academy Inc.,2
1785,101,136,Buffalo Campus,8
2284,100,50,Chester Cty Tech Col HS Pickering Campus,4
42,91,193,Academy For Allied Health Sciences,284
246,89,35,Carter County Career and Technical Center,94
1272,86,81,Delaware Area Career Center North Campus,16
278,83,235,Communications High School,84
517,59,106,Butler Tech School of the Arts,48
1933,56,34,Swiss Hills Career Center,7
295,55,25,LAMAR CAREERTECHNICAL CENTER,80
2046,53,20,TAYLOR TECHNICAL INSTITUTE,6
730,50,23,Green Mountain Technology and Career Center,34
146,49,85,GRAFF CAREER CENTER,134
2532,48,347,Vivien T. Thomas Medical Arts Academy,2
2120,47,41,Fort Hayes Career Center,4
1222,47,56,Delaware Area Career Center South Campus,17
591,45,45,Academy of Law & Public Safety,43
2044,35,22,FRED K. MARCHMAN TECHNICAL COLLEGE,6
2064,32,20,WISE COUNTY CAREER-TECHNICAL CENTER,5
273,30,217,Butler Tech Bioscience Center,86
590,26,167,Academy For Performing Arts,43
1200,25,92,Butler Tech Natural Science Center,18
765,23,9,Applied Technology High School,32
759,23,9,Ocean County Vocational Technical School Waret...,32
1701,22,26,Academy for Law and Public Safety,9
736,22,19,WARREN TECH CENTRAL,33
1768,20,19,LIBERTY JUNIOR-SENIOR HIGH SCHOOL,9
870,20,8,Van Buren Regional Technology Ctr,28
1345,19,13,CASSIA REGIONALTECHNICAL CTR,15
2222,16,10,SECONDARY TECHNICAL ED PROG S.T.E.P,4
1544,8,4,CARTHAGE TECHNICAL CENTER,12
1598,5,9,WARREN TECH NORTH,10

**Filtered schools with the most DE-students**

In [36]:
match_schools_with_de.sort_values('de_total_enrollment', ascending=False).head(125)

,SCH_NAME,de_total_enrollment,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,COMBOKEY,JJ,SCH_GRADE_PS,...,SCH_TYPE_TEXT,SCH_TYPE,LEVEL,VIRTUAL,GSLO,GSHI,NMCNTY15,LOCALE15,LAT1516,LON1516
0,BROOKLYN TECHNICAL HIGH SCHOOL,3778,NY,NEW YORK,3620580,NEW YORK CITY PUBLIC SCHOOLS,1928,='362058001928',No,No,...,NaN,3,3,No,9,12,Kings County,11,40.6889,-73.9766
1,Passaic County Technical Institute,1463,NJ,NEW JERSEY,3412630,Passsaic County Vocational School District,4860,='341263004860',No,No,...,Vocational Education School,3,3,No,9,12,Passaic County,21,40.9298,-74.2036
2,Basha High School,1278,AZ,ARIZONA,401870,Chandler Unified District #80,2250,='040187002250',No,No,...,Regular School,1,4,No,6,12,Maricopa County,21,33.2212,-111.758
3,McKenzie Career Center,1205,IN,INDIANA,1805670,M S D Lawrence Township,725,='180567000725',No,No,...,Vocational Education School,3,4,No,PK,12,Marion County,11,39.8923,-86.0411
4,Bergen County Academies,1014,NJ,NEW JERSEY,3401470,Bergen County Vocational Technical School Dist...,250,='340147000250',No,No,...,Vocational Education School,3,3,No,9,12,Bergen County,21,40.9022,-74.0343
5,South Kitsap High School,752,WA,WASHINGTON,5308160,South Kitsap School District,1357,='530816001357',No,No,...,Regular School,1,4,Missing,3,12,Kitsap County,22,47.5385,-122.626
6,Penta Career Center - on campus,686,OH,OHIO,3905135,Penta Career Center - District,4080,='390513504080',No,No,...,Vocational Education School,3,3,No,10,12,Wood County,21,41.5837,-83.5721
7,Puget Sound Skills Center,682,WA,WASHINGTON,5303540,Highline School District,2103,='530354002103',No,No,...,Vocational Education School,3,3,Missing,10,12,King County,21,47.4411,-122.323
8,Bergen County Technical High School - Teterboro,631,NJ,NEW JERSEY,3401470,Bergen County Vocational Technical School Dist...,262,='340147000262',No,No,...,Vocational Education School,3,3,No,9,12,Bergen County,21,40.8594,-74.0543
9,COLORADO EARLY COLLEGE FORT COLLINS,603,CO,COLORADO,800020,State Charter School Institute,6542,='080002006542',No,No,...,Regular School,1,4,No,6,12,Larimer County,12,40.5198,-105.053
10,Warren County Career Center,590,OH,OHIO,3905147,Warren County Vocational School,4087,='390514704087',No,Yes,...,Vocational Education School,3,3,No,7,12,Warren County,41,39.4891,-84.2027
11,John F. Kennedy High,540,CA,CALIFORNIA,609850,Corona-Norco Unified,11712,='060985011712',No,No,...,Alternative Education School,4,3,No,10,12,Riverside County,21,33.9173,-117.564
12,Lowell Senior High School,520,IN,INDIANA,1811460,Tri-Creek School Corporation,1852,='181146001852',No,No,...,Regular School,1,3,No,8,12,Lake County,31,41.2914,-87.3932
13,Ben Davis Ninth Grade Center,496,IN,INDIANA,1812810,M S D Wayne Township,2122,='181281002122',No,No,...,Regular School,1,4,No,9,9,Marion County,11,39.783,-86.2917
14,Ohio Hi-Point,489,OH,OHIO,3905133,Ohio Hi-Point Career Center,4079,='390513304079',No,No,...,Vocational Education School,3,3,No,7,12,Logan County,41,40.371,-83.7183
15,A.D. HENDERSON UNIVERSITY SCHOOL & FAU HIGH SC...,474,FL,FLORIDA,1202012,FAU LAB SCH,3140,='120201203140',No,No,...,Regular School,1,4,No,KG,12,Palm Beach County,13,26.3734,-80.109
16,Oak Creek High,443,WI,WISCONSIN,5510830,Oak Creek-Franklin Joint School District,1411,='551083001411',No,No,...,Regular School,1,3,No,9,12,Milwaukee County,21,42.8867,-87.9085
17,Scioto County Career Technical Center,440,OH,OHIO,3905149,Scioto County Career Technical Center,4088,='390514904088',No,No,...,Vocational Education School,3,4,No,6,12,Scioto County,41,38.8548,-82.9796
18,CAPE GIRARDEAU CAR TECH CTR.,434,MO,MISSOURI,2907120,CAPE GIRARDEAU 63,192,='290712000192',No,No,...,Vocational Education School,3,3,No,9,12,Cape Girardeau County,13,37.274,-89.5652
19,Gloucester County Institute of Technology,431,NJ,NEW JERSEY,3406040,Gloucester County Vocational-Technical School ...,2570,='340604002570',No,No,...,Vocational Education School,3,3,No,9,12,Gloucester County,21,39.7885,-75.1241
20,CEC MIDDLE COLLEGE OF DENVER,430,CO,COLORADO,803360,School District No. 1 in the county of Denver ...,322,='080336000322',No,No,...,Vocational Education School,3,3,No,9,12,Denver County,11,39.7555,-105.024
21,CAPROCK H S,415,TX,TEXAS,4808130,AMARILLO ISD,149,='480813000149',No,No,...,Regular School,1,4,Missing,PK,12,Randall County,12,35.1797,-101.803
22,Tesla STEM High School,395,WA,WASHINGTON,5304230,Lake Washington School District,3432,='530423003432',No,No,...,Alternative Education School,4,3,Missing,9,12,King County,21,47.6487,-122.038
23,Lake Havasu High School,376,AZ,ARIZONA,404280,Lake Havasu Unified School District #1,433,='040428000433',No,No,...,Regular School,1,3,No,9,12,Mohave County,13,34.4944,-114.318
24,Ligonier Valley HS,352,PA,PENNSYLVANIA,4213710,Ligonier Valley SD,4442,='421371004442',No,No,...,Regular School,1,4,No,PK,12,Westmoreland County,41,40.2654,-79.2405
26,MAGGIE L. WALKER GOV. SCH.,328,VA,VIRGINIA,5100061,MAGGIE L. WALKER GOV SCH,2561,='510006102561',No,No,...,Regular School,1,N,No,N,N,Richmond city,12,37.5579,-77.4536
27,GIBSON TECHNICAL CTR.,323,MO,MISSOURI,2926160,REEDS SPRING R-IV,1533,='292616001533',No,No,...,Vocational Education School,3,3,No,9,12,Stone County,42,36.7333,-93.381
1,KINGSBOROUGH EARLY COLLEGE SCHOOL,322,NY,NEW YORK,3620580,NEW YORK CITY PUBLIC SCHOOLS,5926,='362058005926',No,No,...,NaN,1,4,No,6,12,Kings County,11,40.593,-73.9863
29,Sherman Oaks Center for Enriched Studies,321,CA,CALIFORNIA,622710,Los Angeles Unified,9151,='062271009151',No,No,...,Alternative Education School,4,4,No,4,12,Los Angeles County,11,34.1849,-118.538
30,Bates Technical High School,313,WA,WASHINGTON,5300014,Bates Technical College,3082,='530001403082',No,No,...,Vocational Education School,3,3,Missing,9,12,Pierce County,12,47.2519,-122.447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Kalles Junior High,171,WA,WASHINGTON,5306960,Puyallup School District,1032,='530696001032',No,No,...,Regular School,1,2,Missing,7,9,Pierce County,21,47.1862,-122.288
99,International Studies Lrng Center at Legacy Hi...,169,CA,CALIFORNIA,622710,Los Angeles Unified,10863,='062271010863',No,No,...,Regular School,1,4,No,6,12,Los Angeles County,21,33.9413,-118.179
7,SCHOLARS' ACADEMY,168,NY,NEW YORK,3620580,NEW YORK CITY PUBLIC SCHOOLS,5831,='362058005831',No,No,...,NaN,1,4,No,6,12,Queens County,11,40.5845,-73.8255
101,UPLIFT HEIGHTS PREPARATORY H S,168,TX,TEXAS,4800030,UPLIFT EDUCATION,13058,='480003013058',No,No,...,Regular School,1,4,Missing,9,11,Dallas County,11,32.79,-96.866
100,Glacier View Junior High,168,WA,WASHINGTON,5306960,Puyallup School District,3260,='530696003260',No,No,...,Regular School,1,2,Missing,7,9,Pierce County,41,47.0871,-122.259
105,Union County Tech,166,NJ,NEW JERSEY,3418040,Union County Vocational-Technical School District,5738,='341804005738',No,No,...,Vocational Education School,3,3,No,9,12,Union County,21,40.6167,-74.3584
104,Valley Alternative Magnet,166,CA,CALIFORNIA,622710,Los Angeles Unified,3416,='062271003416',No,No,...,Alternative Education School,4,4,No,KG,12,Los Angeles County,11,34.1926,-118.502
103,WESLACO 21ST CENTURY CTE EARLY COLLEGE H S,166,TX,TEXAS,4844960,WESLACO ISD,12878,='484496012878',No,No,...,Regular School,1,4,Missing,9,10,Hidalgo County,21,26.1534,-97.9825
107,OLYMPIA HIGH SCHOOL,165,NY,NEW YORK,3612630,GREECE CENTRAL SCHOOL DISTRICT,1039,='361263001039',No,No,...,Regular School,1,4,No,6,12,Monroe County,21,43.2218,-77.6725
106,Beardstown Jr/Sr High School,165,IL,ILLINOIS,1705310,Beardstown CUSD 15,216,='170531000216',No,No,...,Regular School,1,4,No,5,12,Cass County,33,40.0077,-90.423
108,TUSCARORA HIGH,164,VA,VIRGINIA,5102250,LOUDOUN CO PBLC SCHS,2817,='510225002817',No,Yes,...,Regular School,1,4,No,PK,12,Loudoun County,41,39.1321,-77.5571
109,Euclid High School,163,OH,OHIO,3904395,Euclid City,909,='390439500909',No,No,...,Regular School,1,4,No,6,12,Cuyahoga County,21,41.5955,-81.5238
110,Niles Senior High School,163,MI,MICHIGAN,2625560,Niles Community Schools,6206,='262556006206',No,No,...,Regular School,1,3,No,8,12,Berrien County,13,41.8358,-86.2378
111,Edgemont Jr High,163,WA,WASHINGTON,5306960,Puyallup School District,1024,='530696001024',No,No,...,Regular School,1,2,Missing,7,9,Pierce County,21,47.2363,-122.284
112,William & Marian Ghidotti High,162,CA,CALIFORNIA,626880,Nevada Joint Union High,11700,='062688011700',No,No,...,Alternative Education School,4,3,No,9,12,Nevada County,32,39.2357,-121.054
113,Academy of the Redwoods,161,CA,CALIFORNIA,614190,Fortuna Union High,10801,='061419010801',No,No,...,Alternative Education School,4,3,No,9,12,Humboldt County,41,40.6994,-124.199
114,Iowa High School,160,LA,LOUISIANA,2200330,Calcasieu Parish,238,='220033000238',No,No,...,Regular School,1,4,No,6,12,Calcasieu Parish,41,30.2446,-93.0165
115,Newark Tech,160,NJ,NEW JERSEY,3404800,Essex County Vocational Technical Schools,137,='340480000137',No,No,...,Vocational Education School,3,3,No,9,12,Essex County,11,40.7403,-74.1816
116,VILLAGES CHARTER SCHOOL,160,FL,FLORIDA,1201800,SUMTER,4452,='120180004452',No,Yes,...,Regular School,1,4,No,PK,12,Sumter County,13,28.9248,-82.0276
117,Somerset Area Jr-Sr HS,158,PA,PENNSYLVANIA,4221840,Somerset Area SD,7509,='422184007509',No,No,...,Regular School,1,4,No,6,12,Somerset County,32,40.0028,-79.0859
8,Wonderful College Prep Academy,158,CA,CALIFORNIA,06CC479,Wonderful College Prep Academy,1,='06CC47900001',No,No,...,NaN,1,4,No,6,12,Kern County,23,35.7821,-119.232
120,POLYTECH High School,156,DE,DELAWARE,1000750,POLYTECH School District,92,='100075000092',No,No,...,Vocational Education School,3,3,Missing,9,12,Kent County,41,39.0724,-75.5464
9,"SCIENCE, TECH & RESEARCH HIGH SCHOOL AT ERASMUS",156,NY,NEW YORK,3620580,NEW YORK CITY PUBLIC SCHOOLS,5516,='362058005516',No,No,...,NaN,1,4,No,6,12,Kings County,11,40.6495,-73.9582
121,GROTON JUNIOR/SENIOR HIGH SCHOOL,155,NY,NEW YORK,3613020,GROTON CENTRAL SCHOOL DISTRICT,1068,='361302001068',No,No,...,Regular School,1,4,No,6,12,Tompkins County,42,42.5803,-76.3703
10,New Designs Charter,153,CA,CALIFORNIA,06CC094,NEW DESIGNS CHARTER,1,='06CC09400001',No,No,...,NaN,1,4,No,6,12,Los Angeles County,11,34.0308,-118.275
123,Logos Public Charter School,152,OR,OREGON,4108040,Medford SD 549C,1796,='410804001796',No,No,...,Regular School,1,4,No,KG,12,Jackson County,13,42.3209,-122.864
124,ROCK RIDGE HIGH,152,VA,VIRGINIA,5102250,LOUDOUN CO PBLC SCHS,2969,='510225002969',No,Yes,...,Regular School,1,4,No,PK,12,Loudoun County,41,38.9763,-77.5025
125,P.K. YONGE DEVELOPMENTAL RESEARCH SCHOOL,152,FL,FLORIDA,1202015,UF LAB SCH,2912,='120201502912',No,No,...,Regular School,1,4,No,KG,12,Alachua County,12,29.6404,-82.3352
127,Zanesville Campus,150,OH,OHIO,3905130,Mid-East Career and Technology Centers,4078,='390513004078',No,Yes,...,Vocational Education School,3,3,No,10,12,Muskingum County,41,39.9371,-81.976
126,Hagerstown Jr-Sr High School,150,IN,INDIANA,1807380,Nettle Creek School Corp,1261,='180738001261',No,No,...,Regular School,1,3,No,7,12,Wayne County,42,39.9203,-85.1614