In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from my_functions import combokey_converter

%matplotlib inline
sns.set_style('whitegrid')
plt.rc('axes', titlesize = 14, titleweight = 'bold', labelweight = 'bold')

In [2]:
raw = pd.read_csv('../filtered_data/00_crdc_1516_initial.csv', 
                        dtype = {'LEAID':np.object})

In [3]:
filtered = pd.read_csv('../filtered_data/04_filter_final.csv', dtype = {'LEAID':np.object})

In [4]:
raw['COMBOKEY'] = combokey_converter.convert(raw, 'LEAID', 'SCHID')

In [5]:
filtered_combo = filtered[['COMBOKEY','LAT1516']]

In [6]:
filtered_raw_joined = pd.merge(raw, filtered_combo, on = 'COMBOKEY', how = 'left')
filtered_from_raw = filtered_raw_joined.copy()
filtered_from_raw = filtered_from_raw[filtered_from_raw.LAT1516.isnull()]
filtered_from_raw = filtered_from_raw.drop('LAT1516', axis = 1)

In [7]:
filtered_from_raw.columns.values

array(['LEA_STATE', 'LEA_STATE_NAME', 'LEAID', 'LEA_NAME', 'SCHID',
       'SCH_NAME', 'COMBOKEY', 'JJ', 'SCH_GRADE_PS', 'SCH_GRADE_KG',
       'SCH_GRADE_G01', 'SCH_GRADE_G02', 'SCH_GRADE_G03', 'SCH_GRADE_G04',
       'SCH_GRADE_G05', 'SCH_GRADE_G06', 'SCH_GRADE_G07', 'SCH_GRADE_G08',
       'SCH_GRADE_G09', 'SCH_GRADE_G10', 'SCH_GRADE_G11', 'SCH_GRADE_G12',
       'SCH_GRADE_UG', 'SCH_UGDETAIL_HS', 'SCH_STATUS_SPED',
       'SCH_STATUS_MAGNET', 'SCH_STATUS_CHARTER', 'SCH_STATUS_ALT',
       'SCH_ENR_HI_M', 'SCH_ENR_HI_F', 'SCH_ENR_AM_M', 'SCH_ENR_AM_F',
       'SCH_ENR_AS_M', 'SCH_ENR_AS_F', 'SCH_ENR_HP_M', 'SCH_ENR_HP_F',
       'SCH_ENR_BL_M', 'SCH_ENR_BL_F', 'SCH_ENR_WH_M', 'SCH_ENR_WH_F',
       'SCH_ENR_TR_M', 'SCH_ENR_TR_F', 'TOT_ENR_M', 'TOT_ENR_F',
       'SCH_ENR_LEP_M', 'SCH_ENR_LEP_F', 'SCH_ENR_IDEA_M',
       'SCH_ENR_IDEA_F', 'SCH_DUAL_IND', 'SCH_DUALENR_HI_M',
       'SCH_DUALENR_HI_F', 'SCH_DUALENR_AM_M', 'SCH_DUALENR_AM_F',
       'SCH_DUALENR_AS_M', 'SCH_DUALENR_AS_F', 'SCH_DUALENR_HP_M',
       'SCH_DUALENR_HP_F', 'SCH_DUALENR_BL_M', 'SCH_DUALENR_BL_F',
       'SCH_DUALENR_WH_M', 'SCH_DUALENR_WH_F', 'SCH_DUALENR_TR_M',
       'SCH_DUALENR_TR_F', 'TOT_DUALENR_M', 'TOT_DUALENR_F',
       'SCH_DUALENR_LEP_M', 'SCH_DUALENR_LEP_F', 'SCH_DUALENR_IDEA_M',
       'SCH_DUALENR_IDEA_F', 'SCH_APENR_IND', 'SCH_APENR_HI_M',
       'SCH_APENR_HI_F', 'SCH_APENR_AM_M', 'SCH_APENR_AM_F',
       'SCH_APENR_AS_M', 'SCH_APENR_AS_F', 'SCH_APENR_HP_M',
       'SCH_APENR_HP_F', 'SCH_APENR_BL_M', 'SCH_APENR_BL_F',
       'SCH_APENR_WH_M', 'SCH_APENR_WH_F', 'SCH_APENR_TR_M',
       'SCH_APENR_TR_F', 'TOT_APENR_M', 'TOT_APENR_F', 'SCH_APENR_LEP_M',
       'SCH_APENR_LEP_F', 'SCH_APENR_IDEA_M', 'SCH_APENR_IDEA_F',
       'SCH_IBENR_IND', 'SCH_IBENR_HI_M', 'SCH_IBENR_HI_F',
       'SCH_IBENR_AM_M', 'SCH_IBENR_AM_F', 'SCH_IBENR_AS_M',
       'SCH_IBENR_AS_F', 'SCH_IBENR_HP_M', 'SCH_IBENR_HP_F',
       'SCH_IBENR_BL_M', 'SCH_IBENR_BL_F', 'SCH_IBENR_WH_M',
       'SCH_IBENR_WH_F', 'SCH_IBENR_TR_M', 'SCH_IBENR_TR_F',
       'TOT_IBENR_M', 'TOT_IBENR_F', 'SCH_IBENR_LEP_M', 'SCH_IBENR_LEP_F',
       'SCH_IBENR_IDEA_M', 'SCH_IBENR_IDEA_F'], dtype=object)

# Analysis

In [8]:
def missing_value_mapper(value):
    """Converts any negative number into 0, as these negative numbers represent missing/null values"""
    if isinstance(value, int):
        if value < 0:
            return 0
    return value

filtered_from_raw = filtered_from_raw.applymap(missing_value_mapper)

In [9]:
filtered_from_raw['total_enrollment'] = filtered_from_raw['TOT_ENR_M'] + filtered_from_raw['TOT_ENR_F']
from my_functions.extra_functions import hs_enrollment_averager
filtered_from_raw['total_hs_enrollment'] = hs_enrollment_averager(filtered_from_raw)
filtered_from_raw['de_total_enrollment'] = filtered_from_raw['TOT_DUALENR_M'] + filtered_from_raw['TOT_DUALENR_F']

In [10]:
"""How many filtered schools?"""
len(filtered_from_raw)

77693

In [11]:
filtered_from_raw.columns.values

array(['LEA_STATE', 'LEA_STATE_NAME', 'LEAID', 'LEA_NAME', 'SCHID',
       'SCH_NAME', 'COMBOKEY', 'JJ', 'SCH_GRADE_PS', 'SCH_GRADE_KG',
       'SCH_GRADE_G01', 'SCH_GRADE_G02', 'SCH_GRADE_G03', 'SCH_GRADE_G04',
       'SCH_GRADE_G05', 'SCH_GRADE_G06', 'SCH_GRADE_G07', 'SCH_GRADE_G08',
       'SCH_GRADE_G09', 'SCH_GRADE_G10', 'SCH_GRADE_G11', 'SCH_GRADE_G12',
       'SCH_GRADE_UG', 'SCH_UGDETAIL_HS', 'SCH_STATUS_SPED',
       'SCH_STATUS_MAGNET', 'SCH_STATUS_CHARTER', 'SCH_STATUS_ALT',
       'SCH_ENR_HI_M', 'SCH_ENR_HI_F', 'SCH_ENR_AM_M', 'SCH_ENR_AM_F',
       'SCH_ENR_AS_M', 'SCH_ENR_AS_F', 'SCH_ENR_HP_M', 'SCH_ENR_HP_F',
       'SCH_ENR_BL_M', 'SCH_ENR_BL_F', 'SCH_ENR_WH_M', 'SCH_ENR_WH_F',
       'SCH_ENR_TR_M', 'SCH_ENR_TR_F', 'TOT_ENR_M', 'TOT_ENR_F',
       'SCH_ENR_LEP_M', 'SCH_ENR_LEP_F', 'SCH_ENR_IDEA_M',
       'SCH_ENR_IDEA_F', 'SCH_DUAL_IND', 'SCH_DUALENR_HI_M',
       'SCH_DUALENR_HI_F', 'SCH_DUALENR_AM_M', 'SCH_DUALENR_AM_F',
       'SCH_DUALENR_AS_M', 'SCH_DUALENR_AS_F', 'SCH_DUALENR_HP_M',
       'SCH_DUALENR_HP_F', 'SCH_DUALENR_BL_M', 'SCH_DUALENR_BL_F',
       'SCH_DUALENR_WH_M', 'SCH_DUALENR_WH_F', 'SCH_DUALENR_TR_M',
       'SCH_DUALENR_TR_F', 'TOT_DUALENR_M', 'TOT_DUALENR_F',
       'SCH_DUALENR_LEP_M', 'SCH_DUALENR_LEP_F', 'SCH_DUALENR_IDEA_M',
       'SCH_DUALENR_IDEA_F', 'SCH_APENR_IND', 'SCH_APENR_HI_M',
       'SCH_APENR_HI_F', 'SCH_APENR_AM_M', 'SCH_APENR_AM_F',
       'SCH_APENR_AS_M', 'SCH_APENR_AS_F', 'SCH_APENR_HP_M',
       'SCH_APENR_HP_F', 'SCH_APENR_BL_M', 'SCH_APENR_BL_F',
       'SCH_APENR_WH_M', 'SCH_APENR_WH_F', 'SCH_APENR_TR_M',
       'SCH_APENR_TR_F', 'TOT_APENR_M', 'TOT_APENR_F', 'SCH_APENR_LEP_M',
       'SCH_APENR_LEP_F', 'SCH_APENR_IDEA_M', 'SCH_APENR_IDEA_F',
       'SCH_IBENR_IND', 'SCH_IBENR_HI_M', 'SCH_IBENR_HI_F',
       'SCH_IBENR_AM_M', 'SCH_IBENR_AM_F', 'SCH_IBENR_AS_M',
       'SCH_IBENR_AS_F', 'SCH_IBENR_HP_M', 'SCH_IBENR_HP_F',
       'SCH_IBENR_BL_M', 'SCH_IBENR_BL_F', 'SCH_IBENR_WH_M',
       'SCH_IBENR_WH_F', 'SCH_IBENR_TR_M', 'SCH_IBENR_TR_F',
       'TOT_IBENR_M', 'TOT_IBENR_F', 'SCH_IBENR_LEP_M', 'SCH_IBENR_LEP_F',
       'SCH_IBENR_IDEA_M', 'SCH_IBENR_IDEA_F', 'total_enrollment',
       'total_hs_enrollment', 'de_total_enrollment'], dtype=object)

## Get NCES information and join with match_schools_with_de

In [12]:
nces_1516_full = pd.read_csv('../filtered_data/01_nces_1516_initial_combined_ccd.csv')
nces_important_columns = ['combokey', 'SCH_TYPE', 'LEVEL', 'VIRTUAL', 'GSLO', 'GSHI',
       'NMCNTY15', 'LOCALE15', 'LAT1516', 'LON1516']
nces_1516_full = nces_1516_full[nces_important_columns]

/Users/alijahoconnor/Box Sync/OCR/Data_and_Analysis/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
filtered_from_raw_with_nces = pd.merge(filtered_from_raw, nces_1516_full, left_on = 'COMBOKEY', 
                                       right_on = 'combokey', how = 'left', suffixes = ('', '_nces'))

In [14]:
non_matching_total = filtered_from_raw_with_nces[filtered_from_raw_with_nces.LEVEL.isnull()]
matching_schools_total = filtered_from_raw_with_nces[filtered_from_raw_with_nces.LEVEL.notnull()]

**Recover some of the non-nces-matching schools**

In [15]:
"""Passing in my recovered_schools from 00_initial_filter"""
%store -r recovered_schools_all

In [16]:
recovered_schools_all = recovered_schools_all.reset_index()
nces_columns = ['COMBOKEY', 'SCH_TYPE', 'LEVEL', 'VIRTUAL', 'GSLO', 'GSHI',
       'NMCNTY15', 'LOCALE15', 'LAT1516', 'LON1516']
recovered_schools_all_nces = recovered_schools_all[nces_columns]

In [17]:
non_matching_schools_total = non_matching_total.drop(nces_important_columns,axis = 1)

In [18]:
non_matching_schools_total

,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,SCH_NAME,COMBOKEY,JJ,SCH_GRADE_PS,SCH_GRADE_KG,...,SCH_IBENR_TR_F,TOT_IBENR_M,TOT_IBENR_F,SCH_IBENR_LEP_M,SCH_IBENR_LEP_F,SCH_IBENR_IDEA_M,SCH_IBENR_IDEA_F,total_enrollment,total_hs_enrollment,de_total_enrollment
3,AL,ALABAMA,100002,Alabama Youth Services,99995,AUTAUGA CAMPUS,='010000299995',Yes,No,No,...,0,0,0,0,0,0,0,38,19,0
58,AL,ALABAMA,100021,Brewer-Porch Childrens Center,1832,Brewer Porch Children's Ctr,='010002101832',No,Yes,Yes,...,0,0,0,0,0,0,0,162,27,0
59,AL,ALABAMA,100022,Sequel TSI Courtland,1833,Three Springs Courtland Sch,='010002201833',No,No,No,...,0,0,0,0,0,0,0,45,26,0
60,AL,ALABAMA,100023,Sequel Madison TSI,1834,Sequel Madison TSI,='010002301834',No,No,No,...,0,0,0,0,0,0,0,57,33,0
61,AL,ALABAMA,100024,Sequel TSI- New Beginnings School/ Owens Cross...,1835,Three Springs New Beginnings,='010002401835',No,No,No,...,0,0,0,0,0,0,0,41,27,0
62,AL,ALABAMA,100026,Sequel TSI Tuskegee,2352,Sequel TSI Tuskegee LLC,='010002602352',No,No,No,...,0,0,0,0,0,0,0,42,28,0
67,AL,ALABAMA,100033,Glenwood Mental Health Services,99998,Allan Cott,='010003399998',No,No,No,...,0,0,0,0,0,0,0,35,18,0
68,AL,ALABAMA,100033,Glenwood Mental Health Services,99999,Lakeview,='010003399999',No,No,Yes,...,0,0,0,0,0,0,0,18,0,0
69,AL,ALABAMA,100035,Learning Tree Inc,1845,Learning Tree Inc Semmes,='010003501845',No,Yes,No,...,0,0,0,0,0,0,0,63,0,0
70,AL,ALABAMA,100035,Learning Tree Inc,1846,Learning Tree Inc Webb,='010003501846',No,Yes,No,...,0,0,0,0,0,0,0,42,0,0
71,AL,ALABAMA,100035,Learning Tree Inc,2105,The Learning Tree-Tallassee,='010003502105',No,No,No,...,0,0,0,0,0,0,0,30,30,0
72,AL,ALABAMA,100036,Lee Co Youth Development Ctr,99999,CHANTICLEER LEARNING CENTER,='010003699999',No,No,No,...,0,0,0,0,0,0,0,226,113,0
74,AL,ALABAMA,100039,Presbyterian Home For Children,1850,Hope Academy,='010003901850',No,No,No,...,0,0,0,0,0,0,0,50,18,12
75,AL,ALABAMA,100042,Laurel Oaks Behavioral Health,1853,Laurel Oaks Behavioral Health Ctr,='010004201853',No,No,No,...,0,0,0,0,0,0,0,61,30,0
76,AL,ALABAMA,100043,Mountainview Hospital,1854,Mountainview Hospital,='010004301854',No,No,No,...,0,0,0,0,0,0,0,26,12,0
97,AL,ALABAMA,100178,Higdon Hill School,2374,Higdon Hill,='010017802374',No,No,No,...,0,0,0,0,0,0,0,106,61,0
98,AL,ALABAMA,100180,Attalla City,32,ATTALLA ELEMENTARY,='010018000032',No,Yes,Yes,...,0,0,0,0,0,0,0,553,0,0
105,AL,ALABAMA,100188,Chickasaw City,99999,Chickasaw Early Learning Center,='010018899999',No,Yes,No,...,0,0,0,0,0,0,0,19,0,0
181,AL,ALABAMA,100330,Bessemer City,99999,BESSEMER PRESCHOOL,='010033099999',No,Yes,No,...,0,0,0,0,0,0,0,21,0,0
187,AL,ALABAMA,100360,Bibb County,99998,BIBB CO PRESCHOOL,='010036099998',No,Yes,No,...,0,0,0,0,0,0,0,26,0,0
188,AL,ALABAMA,100360,Bibb County,99999,CENTREVILLE MIDDLE SCHOOL,='010036099999',No,No,No,...,0,0,0,0,0,0,0,464,0,0
224,AL,ALABAMA,100390,Birmingham City,99996,Jones Valley Middle School,='010039099996',No,No,No,...,0,0,0,0,0,0,0,311,0,0
225,AL,ALABAMA,100390,Birmingham City,99999,Oliver Elementary,='010039099999',No,Yes,Yes,...,0,0,0,0,0,0,0,511,0,0
287,AL,ALABAMA,100840,Colbert County,99999,Tennessee Valley Juvenile Detention Center,='010084099999',No,No,No,...,0,0,0,0,0,0,0,29,29,0
327,AL,ALABAMA,101050,Dale County,2373,Unique Situations,='010105002373',No,No,No,...,0,0,0,0,0,0,0,9,9,0
341,AL,ALABAMA,101140,Dekalb County,99999,Crossville MIddle School,='010114099999',No,Yes,No,...,0,0,0,0,0,0,0,575,0,0
375,AL,ALABAMA,101230,Dothan City,1634,DCS Head Start Preschool Center,='010123001634',No,Yes,No,...,0,0,0,0,0,0,0,416,0,0
388,AL,ALABAMA,101290,Elmore County,99998,ELMORE COUNTY ALTERNATIVE PROGRAMs,='010129099998',No,No,No,...,0,0,0,0,0,0,0,317,106,0
485,AL,ALABAMA,101740,Henry County,99999,Camp Sayla,='010174099999',No,No,No,...,0,0,0,0,0,0,0,26,15,0
614,AL,ALABAMA,102070,Lee County,99999,Lee County Learning Center,='010207099999',No,No,No,...,0,0,0,0,0,0,0,58,58,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73417,WA,WASHINGTON,5301110,Central Valley School District,99999,Mica Peak High School,='530111099999',No,No,No,...,0,0,0,0,0,0,0,87,87,0
73582,WA,WASHINGTON,5302400,Edmonds School District,99999,Edmonds elearning Academy,='530240099999',No,No,No,...,0,0,0,0,0,0,0,62,35,2
73626,WA,WASHINGTON,5302670,Everett School District,99999,Graduation Alliance,='530267099999',No,No,No,...,0,0,0,0,0,0,0,36,36,0
73722,WA,WASHINGTON,5302940,Franklin Pierce School District,3589,Early Learning Center,='530294003589',No,Yes,No,...,0,0,0,0,0,0,0,265,0,0
73786,WA,WASHINGTON,5303570,Hockinson School District,99999,Hockinson Preschool,='530357099999',No,Yes,No,...,0,0,0,0,0,0,0,22,0,0
74093,WA,WASHINGTON,5305250,Mossyrock School District,3342,Mossyrock Academy,='530525003342',No,No,No,...,0,0,0,0,0,0,0,10,10,0
74414,WA,WASHINGTON,5307140,Raymond School District,99999,Raymond Preschool,='530714099999',No,Yes,No,...,0,0,0,0,0,0,0,49,0,0
74573,WA,WASHINGTON,5307710,Seattle Public Schools,99994,Louisa Boren STEM K-8,='530771099994',No,Yes,Yes,...,0,0,0,0,0,0,0,404,0,0
74574,WA,WASHINGTON,5307710,Seattle Public Schools,99997,Early Learning Center,='530771099997',No,Yes,Yes,...,0,0,0,0,0,0,0,28,8,0
74639,WA,WASHINGTON,5308020,Snohomish School District,99999,ECEAP 599,='530802099999',No,Yes,No,...,0,0,0,0,0,0,0,56,0,0
74676,WA,WASHINGTON,5308190,South Whidbey School District,99999,South Whidbey Adademy,='530819099999',No,No,Yes,...,0,0,0,0,0,0,0,101,31,0
75232,WV,WEST VIRGINIA,5400511,INSTITUTIONAL EDUCATIONAL PROGRAMS,99998,Academy Programs,='540051199998',No,No,No,...,0,0,0,0,0,0,0,73,49,0
75233,WV,WEST VIRGINIA,5400511,INSTITUTIONAL EDUCATIONAL PROGRAMS,99999,"""""KENNETH """"HONEY"""" RUBENSTEIN CENTER""""",='540051199999',No,No,No,...,0,0,0,0,0,0,0,38,38,0
75361,WV,WEST VIRGINIA,5400720,MARION COUNTY SCHOOLS,99999,Marion County Adult and Community Education Ce...,='540072099999',No,No,No,...,0,0,0,0,0,0,0,11,11,0
75502,WV,WEST VIRGINIA,5401170,PRESTON COUNTY SCHOOLS,1520,South Preston School,='540117001520',No,Yes,Yes,...,0,0,0,0,0,0,0,342,0,0
75660,WI,WISCONSIN,5500024,Cooperative Ed Serv Agcy 03,99999,Renaissance Alternative School,='550002499999',No,No,No,...,0,0,0,0,0,0,0,10,10,0
75661,WI,WISCONSIN,5500027,Cooperative Ed Serv Agcy 06,99993,HIGHLAND,='550002799993',No,No,No,...,0,0,0,0,0,0,0,2,0,0
75662,WI,WISCONSIN,5500027,Cooperative Ed Serv Agcy 06,99994,New Horizons,='550002799994',No,No,No,...,0,0,0,0,0,0,0,26,12,0
75663,WI,WISCONSIN,5500027,Cooperative Ed Serv Agcy 06,99998,ELMWOOD SCHOOL,='550002799998',No,No,No,...,0,0,0,0,0,0,0,14,0,0
75664,WI,WISCONSIN,5500027,Cooperative Ed Serv Agcy 06,99999,AMITY SCHOOL,='550002799999',No,No,No,...,0,0,0,0,0,0,0,12,8,0
75666,WI,WISCONSIN,5500030,Abbotsford School District,99999,Falcon Enterprises Alternative High School,='550003099999',No,No,No,...,0,0,0,0,0,0,0,6,6,0
75879,WI,WISCONSIN,5501890,Burlington Area School District,99999,Southern Lakes Consortium Alternative High School,='550189099999',No,No,No,...,0,0,0,0,0,0,0,29,29,0
75954,WI,WISCONSIN,5503180,De Forest Area School District,99999,Morrisonville Elementary,='550318099999',No,No,Yes,...,0,0,0,0,0,0,0,63,0,0
76330,WI,WISCONSIN,5507380,Kewaskum School District,99999,i4Learning Community School,='550738099999',No,Yes,Yes,...,0,0,0,0,0,0,0,102,0,0
77034,WI,WISCONSIN,5513410,Sauk Prairie School District,99999,Bridges Elementary School,='551341099999',No,Yes,Yes,...,0,0,0,0,0,0,0,567,0,0
77143,WI,WISCONSIN,5514550,Stoughton Area School District,99999,JEDI,='551455099999',No,No,No,...,0,0,0,0,0,0,0,17,11,0
77312,WI,WISCONSIN,5516020,Wauzeka-Steuben School District,99999,New Frontiers,='551602099999',No,No,No,...,0,0,0,0,0,0,0,2,2,0
77350,WI,WISCONSIN,5516410,Westby Area School District,99999,Vernon County Better Futures High School,='551641099999',No,No,No,...,0,0,0,0,0,0,0,2,2,0
77515,WY,WYOMING,5602370,Crook County School District #1,99999,Moorcroft K8 School,='560237099999',No,No,Yes,...,0,0,0,0,0,0,0,438,0,0
77644,WY,WYOMING,5605302,Sweetwater County School District #1,99999,Black Butte High School,='560530299999',No,No,No,...,0,0,0,0,0,0,0,99,99,28

In [19]:
recovered_non_matchings = pd.merge(non_matching_schools_total, recovered_schools_all_nces, on='COMBOKEY')

In [20]:
filtered_from_raw = matching_schools_total.append(recovered_non_matchings)

In [21]:
total_nces_matching_schools = len(filtered_from_raw)
total_nces_non_matching_schools = len(filtered_from_raw_with_nces) - len(filtered_from_raw)
print(total_nces_matching_schools, 'Schools Match and',  total_nces_non_matching_schools, 'Do not match with NCES')

74537 Schools Match and 3156 Do not match with NCES

In [22]:
# filtered_from_raw_with_nces.to_csv('../filtered_data/04_filtered_out_schools.csv')

### All Filtered-out Schools

### Filtered-Out Schools with DE Students

In [23]:
match_schools_with_de = filtered_from_raw.copy()
match_schools_with_de = match_schools_with_de[match_schools_with_de.de_total_enrollment > 0]

In [24]:
"""How many filtered schools have DE students?"""
len(match_schools_with_de)

873

In [25]:
first_columns = ['SCH_NAME', 'de_total_enrollment', 'total_enrollment', 'total_hs_enrollment']
reorder = first_columns + [c for c in match_schools_with_de.columns if c not in first_columns]
match_schools_with_de = match_schools_with_de[reorder].sort_values('de_total_enrollment', ascending = False)
match_schools_with_de

,SCH_NAME,de_total_enrollment,total_enrollment,total_hs_enrollment,COMBOKEY,GSHI,GSLO,JJ,LAT1516,LEAID,...,TOT_APENR_F,TOT_APENR_M,TOT_DUALENR_F,TOT_DUALENR_M,TOT_ENR_F,TOT_ENR_M,TOT_IBENR_F,TOT_IBENR_M,VIRTUAL,combokey
5566,John F. Kennedy High,540,641,641,='060985011712',12,10,No,33.9173,609850,...,0,0,321,219,377,264,0,0,No,='060985011712'
26248,Lowell Senior High School,520,1196,957,='181146001852',12,8,No,41.2914,1811460,...,147,99,200,320,573,623,0,0,No,='181146001852'
26383,Ben Davis Ninth Grade Center,496,1275,1275,='181281002122',9,9,No,39.783,1812810,...,0,0,250,246,627,648,0,0,No,='181281002122'
76794,Oak Creek High,443,2086,2086,='551083001411',12,9,No,42.8867,5510830,...,247,192,224,219,1013,1073,0,0,No,='551083001411'
73952,Tesla STEM High School,395,565,565,='530423003432',12,9,No,47.6487,5304230,...,150,251,136,259,210,355,0,0,Missing,='530423003432'
2154,Lake Havasu High School,376,1843,1843,='040428000433',12,9,No,34.4944,404280,...,0,0,239,137,902,941,0,0,No,='040428000433'
71505,MAGGIE L. WALKER GOV. SCH.,328,745,745,='510006102561',N,N,No,37.5579,5100061,...,267,223,168,160,432,313,0,0,No,='510006102561'
7935,Sherman Oaks Center for Enriched Studies,321,2089,928,='062271009151',12,4,No,34.1849,622710,...,203,210,180,141,1046,1043,0,0,No,='062271009151'
74381,Stahl Junior High,298,856,285,='530696001178',9,5,No,47.1022,5306960,...,0,0,146,152,446,410,0,0,Missing,='530696001178'
68159,MERCEDES EARLY COLLEGE ACADEMY,293,330,330,='483025012441',12,9,No,26.1436,4830250,...,34,23,148,145,179,151,0,0,Missing,='483025012441'
65159,COLLEGIATE H S,289,396,396,='481527011318',12,9,No,27.7641,4815270,...,0,0,182,107,244,152,0,0,Missing,='481527011318'
73581,Edmonds Career Access Program,276,279,279,='530240003490',12,9,No,47.8168,5302400,...,0,0,124,152,124,155,0,0,Missing,='530240003490'
11359,El Camino High,272,290,290,='064098001880',12,9,No,34.277,640980,...,17,6,155,117,167,123,0,0,No,='064098001880'
64644,BROWNSVILLE EARLY COLLEGE H S,256,429,429,='481168012172',12,9,No,25.9106,4811680,...,106,111,150,106,267,162,0,0,Missing,='481168012172'
21221,RIGBY HIGH SCHOOL,236,1458,1458,='160157000277',12,9,No,43.6672,1601570,...,46,31,140,96,732,726,0,0,No,='160157000277'
2961,RIVERCREST HIGH SCHOOL,233,598,399,='050004501204',12,7,Yes,35.6128,500045,...,0,0,118,115,277,321,0,0,Missing,='050004501204'
22630,Youth Connections Charter HS,231,3760,3760,='170993003473',12,10,No,41.8314,1709930,...,0,0,136,95,1832,1928,0,0,No,='170993003473'
64197,ARLINGTON COLLEGIATE H S,223,226,226,='480870013043',10,9,No,32.7098,4808700,...,75,44,141,82,144,82,0,0,Missing,='480870013043'
10034,Middle College High,216,284,284,='063417010366',12,9,No,34.0904,634170,...,12,12,131,85,169,115,0,0,No,='063417010366'
72592,PITTSYLVANIA VOC.-TECH. CTR.,202,249,249,='510294001856',N,N,No,36.7642,5102940,...,0,0,55,147,99,150,0,0,No,='510294001856'
12473,TCA COLLEGE PATHWAYS,201,571,381,='080192006447',12,7,No,38.9927,801920,...,0,0,100,101,285,286,0,0,Yes,='080192006447'
18388,PINE VIEW SCHOOL,201,2178,792,='120168001836',12,2,No,27.186,1201680,...,372,286,103,98,1170,1008,0,0,No,='120168001836'
74367,Ballou Jr High,198,853,213,='530696001026',9,7,No,47.1319,5306960,...,0,0,107,91,419,434,0,0,Missing,='530696001026'
73779,Big Picture School,192,192,128,='530354002976',12,7,No,47.4369,5303540,...,0,0,98,94,98,94,0,0,Missing,='530354002976'
18875,Georgia Cyber Academy,185,13918,4282,='130023204148',12,KG,No,33.6129,1300232,...,109,46,109,76,7205,6713,0,0,No,='130023204148'
74304,New Horizons High School,183,273,136,='530657000968',12,6,No,46.2519,5306570,...,0,0,86,97,122,151,0,0,Missing,='530657000968'
14976,Early College High School at Delaware State Un...,182,212,212,='100005500363',12,9,No,39.1857,1000055,...,0,0,111,71,129,83,0,0,Missing,='100005500363'
45958,CENTRAL HIGH,179,796,796,='350039000179',12,9,No,36.7372,3500390,...,59,36,107,72,368,428,0,0,No,='350039000179'
69535,SHARYLAND ADVANCED ACADEMIC ACADEMY,179,244,244,='483993013048',10,9,No,26.2109,4839930,...,37,25,96,83,140,104,0,0,Missing,='483993013048'
74370,Kalles Junior High,171,889,296,='530696001032',9,7,No,47.1862,5306960,...,0,0,90,81,440,449,0,0,Missing,='530696001032'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32954,Gardner Academy for Learning and Technology,2,99,99,='250513002692',12,9,No,42.5562,2505130,...,0,0,2,0,52,47,0,0,No,='250513002692'
32457,Massachusetts Virtual Academy at Greenfield Co...,2,632,194,='250055102808',12,KG,No,42.5881,2500551,...,5,2,2,0,341,291,0,0,Yes,='250055102808'
32031,Regional Institute for Children & Adolescents,2,113,56,='240048001398',12,5,No,39.103,2400480,...,5,7,0,2,34,79,0,0,No,='240048001398'
31872,Homewood School,2,149,85,='240042001189',12,6,No,39.2355,2400420,...,0,0,2,0,44,105,0,0,No,='240042001189'
30241,Virtual Academy of Lafourche,2,484,149,='220090002339',12,KG,No,29.7952,2200900,...,0,0,0,2,237,247,0,0,Yes,='220090002339'
29907,Community Ombudsman,2,129,74,='220030002333',12,6,No,32.4835,2200300,...,0,0,2,0,37,92,0,0,No,='220030002333'
29556,Franklin-Simpson High School West Campus,2,41,33,='210540001652',12,8,No,36.7154,2105400,...,0,0,2,0,17,24,0,0,No,='210540001652'
29488,Powell County Academy,2,12,7,='210489002360',12,6,No,37.8473,2104890,...,0,0,2,0,2,10,0,0,No,='210489002360'
34633,Academy 21,2,160,91,='260858008255',12,6,No,42.4881,2608580,...,0,0,2,0,75,85,0,0,No,='260858008255'
35294,Harrison Alternative Education,2,19,19,='261782000105',12,9,No,44.0113,2617820,...,0,0,0,2,5,14,0,0,No,='261782000105'
35469,Jenison International Academy,2,128,47,='261983008230',12,KG,No,42.9053,2619830,...,2,2,2,0,76,52,0,0,No,='261983008230'
35474,JONESVILLE PATHWAYS,2,62,62,='261992005652',12,9,No,41.9851,2619920,...,0,0,0,2,28,34,0,0,No,='261992005652'
40453,NORTHWESTERN ELEM.,2,97,28,='292292001310',6,PK,No,39.5873,2922920,...,0,0,2,0,44,53,0,0,No,='292292001310'
38493,WACONIA ALTERNATIVE LEARNING CENTER,2,69,69,='274146004597',12,1,No,44.8387,2741460,...,0,0,0,2,38,31,0,0,No,='274146004597'
38491,WACONIA AREA LEARNING CENTER SS/AS,2,71,71,='274146004586',12,9,No,44.8387,2741460,...,0,0,0,2,38,33,0,0,No,='274146004586'
38467,MOLLY CREEK AREA LEARNING CENTER,2,15,15,='273828002532',12,7,No,45.9106,2738280,...,0,0,0,2,5,10,0,0,No,='273828002532'
38155,ROBBINSDALE TRANSITION CENTER,2,72,72,='273178003519',12,12,No,45.0048,2731780,...,0,0,0,2,21,51,0,0,No,='273178003519'
37390,BROOKLYN CENTER ACADEMY,2,50,50,='270624004824',12,9,No,45.0628,2706240,...,0,0,2,0,25,25,0,0,No,='270624004824'
37239,METRO HEIGHTS ACADEMY,2,169,169,='270226404746',12,9,No,45.0986,2702264,...,0,0,2,0,70,99,0,0,No,='270226404746'
37237,916 MAHTOMEDI ACADEMY,2,71,71,='270226404430',12,9,No,45.0365,2702264,...,0,0,0,2,27,44,0,0,No,='270226404430'
36977,RED ROCK RIDGE AREA LEARNING CNTR,2,67,67,='270008604169',12,9,No,43.867,2700086,...,0,0,0,2,28,39,0,0,No,='270008604169'
36976,RED ROCK RIDGE SETTING IV,2,56,20,='270008604168',12,1,No,43.867,2700086,...,0,0,0,2,9,47,0,0,No,='270008604168'
36928,DAKOTA CTY. ALC,2,157,157,='270002602155',12,8,No,44.7373,2700026,...,0,0,2,0,55,102,0,0,No,='270002602155'
36875,RUNESTONE REGIONAL LEARNING CENTER,2,37,37,='270001602224',12,7,No,45.9017,2700016,...,0,0,0,2,18,19,0,0,No,='270001602224'
36476,Shelby Junior High School,2,1249,416,='263447007001',10,6,No,42.6736,2634470,...,46,62,2,0,641,608,0,0,No,='263447007001'
55,Alabama School of Fine Arts,2,363,242,='010001802104',12,7,No,33.5209,100018,...,86,106,0,2,234,129,0,0,No,='010001802104'
36364,Suttons Bay Virtual School,2,162,50,='263336008250',12,KG,No,44.9712,2633360,...,0,0,2,0,89,73,0,0,No,='263336008250'
36240,Saline Alternative High School,2,42,42,='263066007868',12,9,No,42.1801,2630660,...,0,0,2,0,24,18,0,0,No,='263066007868'
35729,Maple Valley Pathways High School,2,49,49,='262262001595',12,6,No,42.6121,2622620,...,0,0,0,2,24,25,0,0,No,='262262001595'
43,HART EL,2,255,73,='482265002299',5,PK,No,31.7521,4822650,...,0,0,2,0,129,126,0,0,Missing,NaN

**Total DE Students**

In [26]:
"""Total DE Students"""
total_filtered_out_de_students = filtered_from_raw_with_nces.de_total_enrollment.sum()
de_students_in_NCES_matching_schools =  match_schools_with_de.de_total_enrollment.sum()
de_students_in_NCES_non_matching_schools = total_filtered_out_de_students -\
                                           de_students_in_NCES_matching_schools
print(de_students_in_NCES_matching_schools, 'Students in matching schools.')
print(de_students_in_NCES_non_matching_schools, 'Students in non-matching schools.')
print(str(total_filtered_out_de_students), 'Total DE Students Filtered Out')

25931 Students in matching schools.
2453 Students in non-matching schools.
28384 Total DE Students Filtered Out

**Juvenile Justice**

In [27]:
"""Juvenile Justice Schools - How many schools and DE students?"""
jj_de_students = match_schools_with_de[match_schools_with_de['JJ'] == 'Yes'].de_total_enrollment.sum()
print(match_schools_with_de.JJ.value_counts())
print()
print(str(jj_de_students), "DE students.")

No     861
Yes     12
Name: JJ, dtype: int64

363 DE students.

**Alternative**

In [28]:
"""Alternative Schools - How many schools and DE students?"""
alt_de_students_crdc = match_schools_with_de[match_schools_with_de.SCH_STATUS_ALT == 'Yes'].de_total_enrollment.sum()
print(match_schools_with_de.SCH_STATUS_ALT.value_counts())
print()
print(str(alt_de_students_crdc), "DE students.")

No     539
Yes    334
Name: SCH_STATUS_ALT, dtype: int64

7406 DE students.

**Special Education**

In [29]:
"""Special Education - How many schools and DE students?"""
sped_de_students_crdc = match_schools_with_de[match_schools_with_de.SCH_STATUS_SPED == 'Yes'].de_total_enrollment.sum()
print(match_schools_with_de.SCH_STATUS_SPED.value_counts())
print()
print(str(sped_de_students_crdc), "DE students.")

No     802
Yes     71
Name: SCH_STATUS_SPED, dtype: int64

2827 DE students.

**Grade Ranges**

In [30]:
def school_grade_range(df):
    """Calculates the number of schools in a given DataFrame (df) of a particular distribution of grades:
        Example:  If a school (in df) offers grades 9,10,11,12 exclusively, they are placed in the '9-12' 
                    category. """
    df_grade_range = []
    for index, row in df.iterrows():
        grade_range = []

        if row.SCH_GRADE_G12 == 'Yes':
            grade_range.append(12)
        if row.SCH_GRADE_G11 == 'Yes':
            grade_range.append(11)
        if row.SCH_GRADE_G10 == 'Yes':
            grade_range.append(10)
        if row.SCH_GRADE_G09 == 'Yes':
            grade_range.append(9)
        if row.SCH_GRADE_G08 == 'Yes':
            grade_range.append(8)
        if row.SCH_GRADE_G07 == 'Yes':
            grade_range.append(7)
        if row.SCH_GRADE_G06 == 'Yes':
            grade_range.append(6)
        if row.SCH_GRADE_G05 == 'Yes':
            grade_range.append(5)
        if row.SCH_GRADE_G04 == 'Yes':
            grade_range.append(4)
        if row.SCH_GRADE_G03 == 'Yes':
            grade_range.append(3)
        if row.SCH_GRADE_G02 == 'Yes':
            grade_range.append(2)
        if row.SCH_GRADE_G01 == 'Yes':
            grade_range.append(1)
        if row.SCH_GRADE_KG == 'Yes':
            grade_range.append('kg')
        if row.SCH_GRADE_PS == 'Yes':
            grade_range.append('pk')
        
        if grade_range == [12,11,10,9,8,7,6,5,4,3,2,1,'kg','pk']:
            df_grade_range.append('pk-12')
        elif grade_range == [12,11,10,9,8,7,6,5,4,3,2,1,'kg']:
            df_grade_range.append('kg-12')
        elif grade_range == [12,11,10,9,8,7,6,5]:
            df_grade_range.append('05-12')
        elif grade_range == [12,11,10,9,8,7,6]:
            df_grade_range.append('06-12')
        elif grade_range == [12,11,10,9,8,7]:
            df_grade_range.append('07-12')
        elif grade_range == [12,11,10,9,8]:
            df_grade_range.append('08-12')
        elif grade_range == [12,11,10,9]:
            df_grade_range.append('09-12')
        elif grade_range == [11,10,9]:
            df_grade_range.append('09-11')
        elif grade_range == [10,9]:
            df_grade_range.append('09-10')
        elif grade_range == [12,11,10]:
            df_grade_range.append('10-12')
        elif grade_range == [12,11]:
            df_grade_range.append('11-12')
        elif grade_range == [9]:
            df_grade_range.append('9-only')
        elif grade_range == [10]:
            df_grade_range.append('10-only')
        elif grade_range == [11]:
            df_grade_range.append('11-only')
        elif grade_range == [12]:
            df_grade_range.append('12-only')
        else:
            df_grade_range.append('other')
    return pd.DataFrame(df_grade_range, columns=['grade_range'])

In [31]:
de_stud_school_grade_range_list = school_grade_range(match_schools_with_de).join(match_schools_with_de['de_total_enrollment'].reset_index(drop = True), how = 'outer')

de_stud_school_grade_range_dist = de_stud_school_grade_range_list['grade_range'].value_counts().reset_index().sort_values('index').set_index('index')
de_stud_school_grade_range_dist['pct_of_schools'] = round(de_stud_school_grade_range_dist['grade_range'] / len(de_stud_school_grade_range_list), 3)

de_stud_school_grade_range_enrollments = pd.DataFrame(de_stud_school_grade_range_list.groupby('grade_range')['de_total_enrollment'].sum())

de_stud_school_grade_range_dist.join(de_stud_school_grade_range_enrollments).rename({'grade_range': '# schools'}, axis = 1)

         # schools  pct_of_schools  de_total_enrollment
index
05-12            6           0.007                  260
06-12           72           0.082                  884
07-12           55           0.063                 1481
08-12           25           0.029                 1062
09-10           15           0.017                 1340
09-11            1           0.001                   44
09-12          355           0.407                11734
10-12           52           0.060                 1249
11-12           20           0.023                  835
12-only          7           0.008                   43
9-only          15           0.017                 1108
kg-12          108           0.124                 2302
other          107           0.123                 3225
pk-12           35           0.040                  364

**Filtered Schools that match with NCES**

**LEVEL**<br>
1 = Primary (low grade = PK through 03; high grade = PK through 08), 2 = Middle (low grade = 04 through 07; high grade = 04 through 09), 3 = High (low grade = 07 through 12; high grade = 12 only), 4 = Other (any other configuration not falling within the above three categories;including ungraded), N = Not applicable

In [32]:
"""How many schools and de students in each LEVEL of school"""
print(match_schools_with_de.LEVEL.value_counts().reset_index().sort_values('index').set_index('index'))
print()
print(str(match_schools_with_de.groupby('LEVEL').de_total_enrollment.sum()), 'DE students.')

       LEVEL
index
1         22
2         22
3        466
4        338
N         25

LEVEL
1      291
2     1601
3    15214
4     7796
N     1029
Name: de_total_enrollment, dtype: int64 DE students.

In [33]:
level_1_2_N_DE_Students = match_schools_with_de[(match_schools_with_de.LEVEL == '1') | 
                                               (match_schools_with_de.LEVEL == '2') | 
                                               (match_schools_with_de.LEVEL == 'N')].de_total_enrollment.sum()
print(level_1_2_N_DE_Students, 'DE students in Schools reported as LEVELs 1, 2, or N')

2921 DE students in Schools reported as LEVELs 1, 2, or N

**Virtual Schools**

In [34]:
virtual_de_students = match_schools_with_de[match_schools_with_de['VIRTUAL'] == 'Yes'].de_total_enrollment.sum()
print(match_schools_with_de.VIRTUAL.value_counts())
print()
print(match_schools_with_de.groupby('VIRTUAL').de_total_enrollment.sum())

No         544
Missing    181
Yes        148
Name: VIRTUAL, dtype: int64

VIRTUAL
Missing     7744
No         15386
Yes         2801
Name: de_total_enrollment, dtype: int64

**School Type**<br>
1 = Regular school, 2 = Special education school, 3 = Vocational school, 4 = Other/alternative school

In [35]:
sped_de_students_nces = match_schools_with_de[match_schools_with_de['SCH_TYPE'] == 2].de_total_enrollment.sum()
alt_de_students_nces = match_schools_with_de[match_schools_with_de['SCH_TYPE'] == 4].de_total_enrollment.sum()
print(match_schools_with_de.SCH_TYPE.value_counts())
print()
print(match_schools_with_de.groupby('SCH_TYPE').de_total_enrollment.sum())

4.0    464
1.0    350
2.0     49
3.0     10
Name: SCH_TYPE, dtype: int64

SCH_TYPE
1.0    13040
2.0     1167
3.0      498
4.0    11226
Name: de_total_enrollment, dtype: int64

**Students in Schools without offering 11th or 12th grade**

In [36]:
from my_functions.extra_functions import students_in_11_or_12
match_schools_with_de['Students_in_11_12'] = match_schools_with_de.apply(lambda row: students_in_11_or_12(row['SCH_GRADE_G11'], row['SCH_GRADE_G12']), axis = 1)

In [37]:
de_students_schools_without_11_12 = match_schools_with_de[match_schools_with_de.Students_in_11_12 == 'No']\
                                        .de_total_enrollment.sum()
match_schools_with_de.Students_in_11_12.value_counts()
print(str(de_students_schools_without_11_12), 'de students in schools that do not offer grades 11 or 12.')

4553 de students in schools that do not offer grades 11 or 12.

**Filtered schools with the most DE-students**

In [38]:
with pd.option_context('display.max_rows', 125):
    display(match_schools_with_de.sort_values('de_total_enrollment', ascending=False).head(125))

,SCH_NAME,de_total_enrollment,total_enrollment,total_hs_enrollment,COMBOKEY,GSHI,GSLO,JJ,LAT1516,LEAID,...,TOT_APENR_M,TOT_DUALENR_F,TOT_DUALENR_M,TOT_ENR_F,TOT_ENR_M,TOT_IBENR_F,TOT_IBENR_M,VIRTUAL,combokey,Students_in_11_12
5566,John F. Kennedy High,540,641,641,='060985011712',12,10,No,33.9173,609850,...,0,321,219,377,264,0,0,No,='060985011712',Yes
26248,Lowell Senior High School,520,1196,957,='181146001852',12,8,No,41.2914,1811460,...,99,200,320,573,623,0,0,No,='181146001852',Yes
26383,Ben Davis Ninth Grade Center,496,1275,1275,='181281002122',9,9,No,39.783,1812810,...,0,250,246,627,648,0,0,No,='181281002122',No
76794,Oak Creek High,443,2086,2086,='551083001411',12,9,No,42.8867,5510830,...,192,224,219,1013,1073,0,0,No,='551083001411',Yes
73952,Tesla STEM High School,395,565,565,='530423003432',12,9,No,47.6487,5304230,...,251,136,259,210,355,0,0,Missing,='530423003432',Yes
2154,Lake Havasu High School,376,1843,1843,='040428000433',12,9,No,34.4944,404280,...,0,239,137,902,941,0,0,No,='040428000433',Yes
71505,MAGGIE L. WALKER GOV. SCH.,328,745,745,='510006102561',N,N,No,37.5579,5100061,...,223,168,160,432,313,0,0,No,='510006102561',Yes
7935,Sherman Oaks Center for Enriched Studies,321,2089,928,='062271009151',12,4,No,34.1849,622710,...,210,180,141,1046,1043,0,0,No,='062271009151',Yes
74381,Stahl Junior High,298,856,285,='530696001178',9,5,No,47.1022,5306960,...,0,146,152,446,410,0,0,Missing,='530696001178',No
68159,MERCEDES EARLY COLLEGE ACADEMY,293,330,330,='483025012441',12,9,No,26.1436,4830250,...,23,148,145,179,151,0,0,Missing,='483025012441',Yes
65159,COLLEGIATE H S,289,396,396,='481527011318',12,9,No,27.7641,4815270,...,0,182,107,244,152,0,0,Missing,='481527011318',Yes
73581,Edmonds Career Access Program,276,279,279,='530240003490',12,9,No,47.8168,5302400,...,0,124,152,124,155,0,0,Missing,='530240003490',Yes
11359,El Camino High,272,290,290,='064098001880',12,9,No,34.277,640980,...,6,155,117,167,123,0,0,No,='064098001880',Yes
64644,BROWNSVILLE EARLY COLLEGE H S,256,429,429,='481168012172',12,9,No,25.9106,4811680,...,111,150,106,267,162,0,0,Missing,='481168012172',Yes
21221,RIGBY HIGH SCHOOL,236,1458,1458,='160157000277',12,9,No,43.6672,1601570,...,31,140,96,732,726,0,0,No,='160157000277',Yes
2961,RIVERCREST HIGH SCHOOL,233,598,399,='050004501204',12,7,Yes,35.6128,500045,...,0,118,115,277,321,0,0,Missing,='050004501204',Yes
22630,Youth Connections Charter HS,231,3760,3760,='170993003473',12,10,No,41.8314,1709930,...,0,136,95,1832,1928,0,0,No,='170993003473',Yes
64197,ARLINGTON COLLEGIATE H S,223,226,226,='480870013043',10,9,No,32.7098,4808700,...,44,141,82,144,82,0,0,Missing,='480870013043',No
10034,Middle College High,216,284,284,='063417010366',12,9,No,34.0904,634170,...,12,131,85,169,115,0,0,No,='063417010366',Yes
72592,PITTSYLVANIA VOC.-TECH. CTR.,202,249,249,='510294001856',N,N,No,36.7642,5102940,...,0,55,147,99,150,0,0,No,='510294001856',Yes
12473,TCA COLLEGE PATHWAYS,201,571,381,='080192006447',12,7,No,38.9927,801920,...,0,100,101,285,286,0,0,Yes,='080192006447',Yes
18388,PINE VIEW SCHOOL,201,2178,792,='120168001836',12,2,No,27.186,1201680,...,286,103,98,1170,1008,0,0,No,='120168001836',Yes
74367,Ballou Jr High,198,853,213,='530696001026',9,7,No,47.1319,5306960,...,0,107,91,419,434,0,0,Missing,='530696001026',No
73779,Big Picture School,192,192,128,='530354002976',12,7,No,47.4369,5303540,...,0,98,94,98,94,0,0,Missing,='530354002976',Yes
18875,Georgia Cyber Academy,185,13918,4282,='130023204148',12,KG,No,33.6129,1300232,...,46,109,76,7205,6713,0,0,No,='130023204148',Yes
74304,New Horizons High School,183,273,136,='530657000968',12,6,No,46.2519,5306570,...,0,86,97,122,151,0,0,Missing,='530657000968',Yes
14976,Early College High School at Delaware State Un...,182,212,212,='100005500363',12,9,No,39.1857,1000055,...,0,111,71,129,83,0,0,Missing,='100005500363',No
69535,SHARYLAND ADVANCED ACADEMIC ACADEMY,179,244,244,='483993013048',10,9,No,26.2109,4839930,...,25,96,83,140,104,0,0,Missing,='483993013048',No
45958,CENTRAL HIGH,179,796,796,='350039000179',12,9,No,36.7372,3500390,...,36,107,72,368,428,0,0,No,='350039000179',Yes
74370,Kalles Junior High,171,889,296,='530696001032',9,7,No,47.1862,5306960,...,0,90,81,440,449,0,0,Missing,='530696001032',No
74391,Glacier View Junior High,168,808,269,='530696003260',9,7,No,47.0871,5306960,...,2,73,95,389,419,0,0,Missing,='530696003260',No
7853,Valley Alternative Magnet,166,619,190,='062271003416',12,KG,No,34.1926,622710,...,0,83,83,303,316,0,0,No,='062271003416',Yes
74365,Edgemont Jr High,163,454,151,='530696001024',9,7,No,47.2363,5306960,...,0,73,90,215,239,0,0,Missing,='530696001024',No
35880,Niles Senior High School,163,1024,1024,='262556006206',12,8,No,41.8358,2625560,...,33,100,63,518,506,0,0,No,='262556006206',Yes
8660,William & Marian Ghidotti High,162,162,162,='062688011700',12,9,No,39.2357,626880,...,0,91,71,91,71,0,0,No,='062688011700',Yes
6197,Academy of the Redwoods,161,161,161,='061419010801',12,9,No,40.6994,614190,...,0,103,58,103,58,0,0,No,='061419010801',Yes
45955,CARLSBAD EARLY COLLEGE HIGH,157,157,157,='350030001109',12,9,No,32.4417,3500300,...,0,89,68,89,68,0,0,No,='350030001109',No
25813,Hagerstown Jr-Sr High School,150,509,291,='180738001261',12,7,No,39.9203,1807380,...,32,77,73,240,269,0,0,No,='180738001261',Yes
74383,Ferrucci Jr High,148,700,233,='530696001865',9,7,No,47.1605,5306960,...,0,77,71,329,371,0,0,Missing,='530696001865',No
73778,Satellite High School,148,160,128,='530354002968',12,PK,No,47.4354,5303540,...,0,68,80,77,83,0,0,Missing,='530354002968',Yes
77161,Cardinal Heights Upper Middle,146,1186,593,='551464002810',9,8,No,43.1785,5514640,...,0,91,55,558,628,0,0,No,='551464002810',No
21811,Paris Cooperative High School,145,581,581,='170139706061',12,9,No,39.6086,1701397,...,28,71,74,300,281,0,0,No,='170139706061',Yes
67437,KILLEEN ISD EARLY COLLEGE H S,143,143,143,='482566013234',9,9,No,31.1134,4825660,...,0,68,75,68,75,0,0,Missing,='482566013234',No
18335,POLK STATE LAKELAND GATEWAY TO COLLEGE CHARTER...,141,150,150,='120159008246',12,11,No,27.9903,1201590,...,0,88,53,94,56,0,0,No,='120159008246',Yes
26976,Johnston Middle School,137,1045,522,='191545000926',9,8,No,41.675,1915450,...,0,40,97,520,525,0,0,No,='191545000926',No
36677,Wyoming High School,136,1007,1007,='263657007264',12,9,No,42.9094,2636570,...,57,81,55,513,494,0,0,No,='263657007264',Yes
73777,New Start,134,137,137,='530354002967',12,9,No,47.4959,5303540,...,0,57,77,57,80,0,0,Missing,='530354002967',Yes
43254,Virtual Learning Academy (H),134,314,314,='330327100679',12,9,No,42.9751,3303271,...,7,79,55,192,122,0,0,Yes,='330327100679',Yes
73776,CHOICE Academy,133,145,97,='530354002640',12,7,No,47.438,5303540,...,2,79,54,85,60,0,0,Missing,='530354002640',Yes
39769,ELDON HIGH,128,685,685,='291134000402',12,9,No,38.3494,2911340,...,0,70,58,334,351,0,0,No,='291134000402',Yes
74363,Aylen Jr High,126,649,216,='530696001022',9,7,No,47.1922,5306960,...,0,57,69,305,344,0,0,Missing,='530696001022',No
73708,Columbia Junior High School,126,559,280,='530288003161',9,6,No,47.231,5302880,...,0,52,74,266,293,0,0,Missing,='530288003161',No
8912,Gateway to College at Laney College,123,123,123,='062805012506',12,9,No,37.7961,628050,...,0,57,66,57,66,0,0,No,='062805012506',Yes
73250,Newport Heights Elementary,122,1794,1794,='530039000077',5,KG,No,47.5556,5300390,...,545,70,52,874,920,0,0,Missing,='530039000077',Yes
36409,Three Rivers High School,119,755,755,='263384006930',12,9,No,41.9495,2633840,...,45,73,46,373,382,0,0,No,='263384006930',Yes
19573,Dekalb Early College Academy,119,320,320,='130174003708',12,9,No,33.8322,1301740,...,7,77,42,210,110,0,0,No,='130174003708',Yes
53967,Marysville STEM Early College High School,117,282,282,='390454705841',10,9,No,40.2473,3904547,...,0,45,72,107,175,0,0,No,='390454705841',No
13153,GOAL ACADEMY,116,4072,4072,='080387006393',12,9,No,38.2774,803870,...,0,71,45,2279,1793,0,0,Yes,='080387006393',Yes
57350,Alliance High School,115,181,181,='411004001652',12,9,No,45.5586,4110040,...,0,41,74,71,110,0,0,No,='411004001652',Yes
52577,Ohio Virtual Academy,115,9457,2910,='390018004704',12,KG,No,41.5871,3900180,...,13,68,47,4853,4604,0,0,Yes,='390018004704',Yes
57161,Oregon Connections Academy,112,3832,1179,='410810001680',12,KG,No,44.7585,4108100,...,17,73,39,2045,1787,0,0,Yes,='410810001680',Yes
73879,Kent Phoenix Academy,109,307,307,='530396003178',12,9,No,47.3665,5303960,...,0,52,57,167,140,0,0,Missing,='530396003178',Yes
52596,Ohio Connections Academy Inc,109,3499,1077,='390025005193',12,KG,No,41.503,3900250,...,18,71,38,1856,1643,0,0,Yes,='390025005193',Yes
12795,EARLY COLLEGE HIGH SCHOOL,108,155,155,='080306006580',12,9,No,38.8608,803060,...,0,61,47,91,64,0,0,No,='080306006580',Yes
20952,IDAHO VIRTUAL ACADEMY,108,1974,607,='160000400859',12,PK,No,43.5871,1600004,...,24,73,35,1041,933,0,0,No,='160000400859',Yes
4314,Alameda Science and Technology Institute,107,178,178,='060177010547',12,9,No,37.7799,601770,...,0,52,55,79,99,0,0,No,='060177010547',Yes
12441,ROCKY MOUNTAIN DIGITAL ACADEMY,107,393,314,='080028206615',12,8,No,38.2774,800282,...,0,70,37,240,153,0,0,Yes,='080028206615',Yes
69434,DEL RIO FRESHMAN SCHOOL,106,749,749,='483890006037',10,9,No,29.3842,4838900,...,0,73,33,374,375,0,0,Missing,='483890006037',No
64380,COLORADO RIVER COLLEGIATE ACADEMY,105,111,111,='480957013111',10,9,No,30.1185,4809570,...,24,56,49,59,52,0,0,Missing,='480957013111',No
66700,HARLANDALE ISD STEM ECHS-ALAMO COLLEGES AT PAC,102,226,226,='482247012943',10,9,No,29.3496,4822470,...,0,55,47,114,112,0,0,Missing,='482247012943',No
28833,Opportunity Middle College,102,102,102,='210186002242',12,11,No,38.0361,2101860,...,0,82,20,82,20,0,0,No,='210186002242',Yes
74364,Walker High School,100,144,144,='530696001023',12,8,No,47.2051,5306960,...,0,50,50,71,73,0,0,Missing,='530696001023',Yes
8628,New Technology High,100,400,400,='062664006081',12,9,No,38.3049,626640,...,0,46,54,208,192,0,0,No,='062664006081',Yes
38703,COAHOMA AGRICULTURAL HIGH SCHOOL,99,246,246,='280110000137',12,9,No,34.2315,2801100,...,0,71,28,140,106,0,0,No,='280110000137',Yes
12914,P.R.E.P. (POSITIVE REFOCUS EDUCATION PROGRAM),98,173,115,='080336001795',12,6,No,39.7564,803360,...,0,63,35,83,90,0,0,No,='080336001795',Yes
49470,NINTH GRADE ACADEMY,95,384,384,='362517004377',9,9,No,43.061,3625170,...,0,45,50,206,178,0,0,No,='362517004377',No
28659,Carter County Career and Technical Center,94,124,124,='210102001439',N,N,No,38.3181,2101020,...,0,29,65,35,89,0,0,No,='210102001439',Yes
65814,ODESSA CAREER AND TECHNICAL EARLY COLLEGE H S,93,101,101,='481800013176',9,9,No,31.8631,4818000,...,0,47,46,47,54,0,0,Missing,='481800013176',No
5008,Boynton High,87,285,285,='060723000658',12,9,No,37.3104,607230,...,0,65,22,147,138,0,0,No,='060723000658',Yes
35259,Gull Lake Virtual School,85,158,53,='261725008242',12,KG,No,42.376,2617250,...,2,51,34,95,63,0,0,No,='261725008242',Yes
73381,Alternative High School,85,129,129,='530108000389',12,10,No,47.6539,5301080,...,0,43,42,60,69,0,0,Missing,='530108000389',Yes
73781,Puget Sound High School,84,87,87,='530354003283',12,11,No,47.4411,5303540,...,0,42,42,45,42,0,0,Missing,='530354003283',Yes
57660,Pennsylvania Cyber CS,84,9178,2824,='420007100534',12,PK,No,40.6377,4200071,...,32,58,26,4967,4211,0,0,Yes,='420007100534',Yes
21370,BENNETT MOUNTAIN HIGH SCHOOL,82,102,102,='160225001041',12,9,No,43.1332,1602250,...,0,44,38,58,44,0,0,No,='160225001041',Yes
21129,COEUR D'ALENE HIGH SCHOOL,80,1478,1478,='160078000149',12,9,No,47.721,1600780,...,86,62,18,711,767,0,0,No,='160078000149',Yes
67156,CHALLENGE H S SHEFFIELD,79,79,79,='482433007085',12,9,No,30.9093,4824330,...,0,0,79,0,79,0,0,Missing,='482433007085',Yes
45964,SHIPROCK HIGH,79,648,648,='350039000186',12,9,No,36.7749,3500390,...,47,53,26,331,317,0,0,No,='350039000186',Yes
43749,Bergen County Technical High School - Paramus,78,311,311,='340147000252',12,9,No,40.9579,3401470,...,0,40,38,133,178,0,0,No,='340147000252',Yes
50218,Early College High School,78,78,78,='370001203359',9,9,No,35.5487,3700012,...,0,58,20,58,20,0,0,No,='370001203359',No
70060,LIBERTY ACADEMY,78,149,149,='484415005579',12,9,No,28.8255,4844150,...,23,43,35,79,70,0,0,Missing,='484415005579',Yes
74400,Insight School of Washington,78,1801,1801,='530702003078',12,9,No,47.9472,5307020,...,4,53,25,1064,737,0,0,Missing,='530702003078',Yes
46319,UNIVERSITY HIGH,76,132,132,='350225000696',12,9,No,33.3161,3502250,...,0,39,37,72,60,0,0,No,='350225000696',Yes
34131,Academic and Career Education Academy,76,178,178,='260033004509',12,9,No,43.6118,2600330,...,0,42,34,77,101,0,0,No,='260033004509',Yes
36985,LAKEVIEW SECONDARY,76,351,234,='270008800408',12,7,No,44.6218,2700088,...,0,50,26,166,185,0,0,No,='270008800408',Yes
38727,CORINTH HIGH SCHOOL,74,608,608,='280126000171',12,9,No,34.9382,2801260,...,13,42,32,296,312,0,0,No,='280126000171',Yes
46202,ARROWHEAD PARK MEDICAL ACADEMY,73,115,115,='350150001105',10,9,No,32.2748,3501500,...,4,53,20,86,29,0,0,No,='350150001105',No
52660,Buckeye On-Line School for Success,73,851,262,='390053005240',12,KG,No,40.6191,3900530,...,0,46,27,436,415,0,0,Yes,='390053005240',Yes
55277,EPIC ONE ON ONE CHARTER HS,72,2635,2635,='400077702789',12,9,No,35.5952,4000777,...,4,43,29,1523,1112,0,0,Yes,='400077702789',Yes
21137,LAKE CITY HIGH SCHOOL,72,1645,1645,='160078000291',12,9,No,47.728,1600780,...,98,49,23,812,833,0,0,No,='160078000291',Yes
14456,New Haven Academy,71,255,255,='090279000547',12,9,No,41.3128,902790,...,15,35,36,148,107,0,0,No,='090279000547',Yes
73493,College Place High School,70,225,225,='530147003489',12,9,No,46.0311,5301470,...,0,26,44,96,129,0,0,Missing,='530147003489',No
62835,Middle College High,70,136,136,='470318002101',12,10,No,36.134,4703180,...,0,44,26,92,44,0,0,No,='470318002101',Yes
70633,LUMEN SCHOLAR INSTITUTE,68,540,166,='490018201467',12,KG,No,40.3805,4900182,...,0,33,35,266,274,0,0,Yes,='490018201467',Yes
27463,Lawrence Gardner High School,67,111,74,='200000801745',12,7,Yes,39.0971,2000008,...,0,7,60,18,93,0,0,No,='200000801745',Yes
70929,LANDMARK HIGH,67,303,202,='490063000387',12,10,No,40.1049,4900630,...,0,20,47,111,192,0,0,No,='490063000387',Yes
21711,CCSI Alternative School,66,98,98,='170020203189',12,9,No,38.2905,1700202,...,0,21,45,38,60,0,0,No,='170020203189',Yes
37025,MTCS CONNECTIONS ACADEMY,66,2411,742,='270011703694',12,KG,No,44.9702,2700117,...,7,45,21,1363,1048,0,0,Yes,='270011703694',Yes
8247,Calaveras Hills,65,115,115,='062450003664',12,9,No,37.4385,624500,...,0,26,39,46,69,0,0,No,='062450003664',Yes
36544,Cousino Senior High School,64,1494,1494,='263519007089',12,8,No,42.5162,2635190,...,97,35,29,751,743,0,0,No,='263519007089',Yes
39030,GOLDEN TRIANGLE EARLY COLLEGE,62,62,62,='280273001460',9,9,No,33.4793,2802730,...,0,43,19,43,19,0,0,No,='280273001460',No
20369,Newton College and Career Academy,62,773,773,='130393004096',N,N,No,33.5827,1303930,...,118,52,10,475,298,0,0,No,='130393004096',Yes
37499,NEW PATHS AREA LEARNING CENTER,62,84,84,='270972001029',12,7,No,47.7668,2709720,...,0,26,36,33,51,0,0,No,='270972001029',Yes
75926,Coleman High,60,203,203,='550276000314',12,9,No,45.0705,5502760,...,0,37,23,101,102,0,0,No,='550276000314',Yes
68624,JAMES M STEELE ACCELERATED H S,60,139,139,='483318012421',12,9,No,33.0022,4833180,...,12,37,23,107,32,0,0,Missing,='483318012421',Yes
29680,New Orleans Center for Creative Arts,60,232,232,='220003601499',12,9,No,29.9632,2200036,...,0,46,14,167,65,0,0,No,='220003601499',Yes
14954,MOT Charter School,57,1017,185,='100001900123',10,KG,No,39.4227,1000019,...,20,23,34,525,492,0,0,Missing,='100001900123',No
15108,Calloway (Cab) School of the Arts,55,956,546,='100130000004',12,6,No,39.7537,1001300,...,51,35,20,665,291,0,0,Missing,='100130000004',Yes
71477,APPOMATTOX REGIONAL GOV. SCH.,55,367,367,='510003201932',N,N,No,37.2256,5100032,...,0,35,20,263,104,0,0,No,='510003201932',Yes
74437,Secondary Learning Center,53,306,306,='530723003400',12,6,No,47.4855,5307230,...,0,19,34,138,168,0,0,Missing,='530723003400',Yes
19363,Wiregrass Regional College and Career Academy,52,238,238,='130135004131',12,9,No,31.4904,1301350,...,0,29,23,122,116,0,0,No,='130135004131',Yes
36543,Warren Mott High School,52,1795,1795,='263519007088',12,8,No,42.507,2635190,...,100,30,22,860,935,0,0,No,='263519007088',Yes
50083,RENSSELAER-COLUMBIA-GREENE BOCES,51,1145,327,='368070004651',12,KG,No,42.5775,3680700,...,0,31,20,398,747,0,0,No,='368070004651',Yes
73930,Emerson High School,51,75,75,='530423001784',12,9,No,47.6553,5304230,...,0,26,25,44,31,0,0,Missing,='530423001784',Yes
33966,Windover High School,50,87,87,='260002000213',12,7,No,43.6164,2600020,...,0,24,26,35,52,0,0,No,='260002000213',Yes
73883,Columbia Virtual Academy - Kettle Falls,50,214,214,='530399003270',12,6,No,48.6026,5303990,...,0,28,22,126,88,0,0,Missing,='530399003270',Yes

In [39]:
# match_schools_with_de.to_csv('../filtered_data/04_filtered_out_match_schools_with_de.csv')

# Where are the Filtered Students?

In [42]:
de_student_list = [total_filtered_out_de_students, de_students_in_NCES_matching_schools, de_students_in_NCES_non_matching_schools,
                              jj_de_students, alt_de_students_crdc, sped_de_students_crdc, de_students_schools_without_11_12,
                              virtual_de_students, sped_de_students_nces, alt_de_students_nces, level_1_2_N_DE_Students]
filtered_list = ['Total Filtered Out', 'NCES-Matching', 'NCES-Non-Matching', 'Juvenile Justice (CRDC)', 'Alternative Education (CRDC)',
                     'Special Education (CRDC)', 'Schools w/o 11th/12th grade (CRDC)', 'Virtual (NCES)', 
                     'Special Education (NCES)', 'Alternative/Other (NCES)', 'Schools Reporting as Elementary/Middle/Other (NCES)']

pd.DataFrame({'DE Students': de_student_list},
            index = filtered_list)

                                                    DE Students
Total Filtered Out                                        28384
NCES-Matching                                             25931
NCES-Non-Matching                                          2453
Juvenile Justice (CRDC)                                     363
Alternative Education (CRDC)                               7406
Special Education (CRDC)                                   2827
Schools w/o 11th/12th grade (CRDC)                         4553
Virtual (NCES)                                             2801
Special Education (NCES)                                   1167
Alternative/Other (NCES)                                  11226
Schools Reporting as Elementary/Middle/Other (N...         2921